.about .section-back {
  position: relative;
  z-index: 0;
  padding-block: 120px 80px;
}
.about .section-back::before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 366px;
  height: 100%;
  background-image: url(../images/about/hanwhaJP_building_BG.jpg);
  background-size: cover;
  background-position: center;
}
.about .section-back::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 120px;
  left: -18px;
  writing-mode: vertical-lr;
  font-size: 120px;
  color: white;
  line-height: 0.8;
  background-image: url(../images/about/Hanwha\ Japan.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 95px;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .about .section-back::after {
    left: -12px;
    width: 60px;
  }
}
.about .section-back:has(.hanwha) {
  padding-block: 80px;
}
.about .section-back:has(.hanwha)::before {
  background-image: url(../images/about/Hanwha_Building_BG.jpg);
}
.about .section-back:has(.hanwha)::after {
  background-image: url(../images/about/Hanwha.svg);
  height: 100%;
  top: 80px;
  left: 0;
}
.about .section-back .section-title-area {
  position: relative;
  margin-bottom: 30px;
}
.about .section-back .section-title-area::after {
  content: "";
  position: absolute;
  height: 1px;
  background: #ee7744;
  max-width: 1140px;
  width: 90%;
}
.about .section-back .section-title-area h2 {
  font-size: 48px;
  font-weight: bold;
  color: #333;
  margin-bottom: 22px;
}
.about .section-back .section-title-area h2 .orange {
  font-size: 32px;
  color: #ee7744;
}
.about .section-back .wrap_s {
  width: 94%;
}
.about .section-back .wrap_s .title-en {
  font-size: 24px;
  color: #ee7744;
  margin-bottom: 80px;
}
.about .section-back .wrap_s .hanwha-japan-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: min(32px, 11vw);
  margin-bottom: 80px;
}
.about .section-back .wrap_s .hanwha-japan-list li {
  text-align: center;
  width: 226px;
}
.about .section-back .wrap_s .hanwha-japan-list li .title {
  font-size: 20px;
  min-height: 57px;
  margin-bottom: 10px;
}
.about .section-back .wrap_s .hanwha-japan-list li .num {
  font-family: "Figtree";
  font-size: 100px;
  line-height: 1;
  color: #ee7744;
}
.about .section-back .wrap_s .hanwha-japan-list li .num-text {
  color: #ee7744;
}
.about .section-back .wrap_s .hanwha-japan-text {
  text-align: center;
  margin-bottom: 80px;
}
.about .section-back .wrap_s .hanwha-japan-detail {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  place-items: center;
  gap: min(118px, 9vw);
}
@media screen and (max-width: 768px) {
  .about .section-back .wrap_s .hanwha-japan-detail {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.about .section-back .wrap_s .hanwha-japan-detail img {
  object-fit: cover;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  .about .section-back .wrap_s .hanwha-japan-detail img {
    max-width: 484px;
    width: 94%;
    margin-inline: auto;
  }
}
.about .section-back .wrap_s .hanwha-japan-detail .text-area {
  font-size: 14px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .about .section-back .wrap_s .hanwha-japan-detail .text-area {
    max-width: 484px;
    margin-inline: auto;
  }
}
.about .section-back .wrap_s .hanwha-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: min(32px, 11vw);
  margin-bottom: 80px;
}
.about .section-back .wrap_s .hanwha-list li {
  width: 312px;
  text-align: center;
}
.about .section-back .wrap_s .hanwha-list li .title {
  font-size: 20px;
  margin-bottom: 30px;
}
.about .section-back .wrap_s .hanwha-list li .icon {
  width: fit-content;
  height: fit-content;
  margin-bottom: 20px;
}
.about .section-back .wrap_s .hanwha-list li .icon img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.about .section-back .wrap_s .hanwha-list li .num-text {
  font-size: 20px;
  line-height: 1;
  color: #ee7744;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.about .section-back .wrap_s .hanwha-list li .num-text .num {
  font-size: 60px;
  font-family: "Figtree";
}
.about .section-back .wrap_s .hanwha-list li p {
  font-size: 10px;
}
.about .button-area {
  margin-bottom: 100px;
}
.about .button-area p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}
.about .button-area .btn {
  display: block;
  width: 312px;
  text-align: center;
  border-radius: 5;
  margin-inline: auto;
  background: #3366aa;
}
.about .button-area .btn:hover::after {
  background: #3d7abb;
}
.about .parts-bottom-content .wrap_s {
  width: 94%;
  margin-inline: auto;
}
.about .parts-bottom-content ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 32px;
}
.about .parts-bottom-content ul li {
  max-width: 312px;
  margin-inline: auto;
}
.about .parts-bottom-content ul li img {
  border-radius: 10px;
  margin-bottom: 20px;
}
.about .parts-bottom-content ul li .title {
  margin-bottom: 15px;
  line-height: 1.5;
}
.about .parts-bottom-content ul li p {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
}

/*========== END OF ABOUT ==========*//*# sourceMappingURL=about.css.map */