@charset "UTF-8";
/* 全ページ共通 */
html {
  scroll-behavior: smooth;
}
@media screen and (max-width: 768px) {
  html {
    font-size: clamp(0.875rem, 0.821rem + 0.24vw, 1rem) !important;
  }
}
html .wrap_s:has(#breadcrumb) {
  width: 94%;
}

#content {
  padding-top: 0;
  /* メイン画像用CSS */
}
#content .mv-for-page {
  position: relative;
  height: 600px;
  background: rgba(238, 119, 68, 0.08);
}
@media screen and (max-width: 768px) {
  #content .mv-for-page {
    height: 80vh;
  }
}
#content .mv-for-page.product-list {
  background-color: rgba(51, 102, 170, 0.08);
}
#content .mv-for-page .mv-img {
  position: relative;
  margin-inline: auto 0;
  height: 85%;
  width: 90%;
  background-size: cover;
  background-position: bottom center;
}
#content .mv-for-page .mv-img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55%;
  max-height: 300px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 0.5;
  z-index: 0;
}
@media screen and (max-width: 768px) {
  #content .mv-for-page .mv-img::after {
    height: 40%;
  }
}
#content .mv-for-page .mv-sub-title-area {
  position: relative;
}
#content .mv-for-page .mv-sub-title-area .border {
  position: absolute;
  top: 64px;
  left: -10vw;
  height: 2px;
  width: 14vw;
  background: white;
}
#content .mv-for-page .mv-sub-title-area .mv-sub-title {
  position: absolute;
  top: 48px;
  left: 7vw;
  font-size: clamp(1.125rem, 1.067rem + 0.26vw, 1.375rem);
  font-family: "Figtree";
  font-weight: 500;
  color: white;
  letter-spacing: 6px !important;
}
@media screen and (max-width: 768px) {
  #content .mv-for-page .mv-sub-title-area .mv-sub-title {
    font-size: 18px;
  }
}
#content .mv-for-page .mv-text {
  position: absolute;
  bottom: 10%;
  left: 7vw;
  z-index: 1;
}
#content .mv-for-page .mv-text h2 {
  font-size: clamp(2rem, 1.813rem + 0.83vw, 2.813rem);
  text-align: left;
  width: fit-content;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #3366aa 0%, #000000 50%, #ee7744 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#content .mv-for-page .mv-text span {
  font-size: clamp(1rem, 0.942rem + 0.26vw, 1.25rem);
  font-weight: 500;
  display: block;
  margin-bottom: min(55px, 2vw);
}

/*======================= END OF COMMON =======================*/
/* パンくずリスト用CSS */
#breadcrumb {
  margin: auto;
  max-width: 1000px;
  margin-block: 40px 65px;
}
#breadcrumb ul {
  text-align: left;
}
#breadcrumb ul li {
  display: inline; /*横並びにする*/
  line-height: 20px; /*行間*/
  font-size: 10px;
  font-weight: 400;
  margin-right: 5px;
}
#breadcrumb ul li:last-of-type {
  color: #333;
  font-weight: bold;
}
#breadcrumb ul li .fa-home {
  color: #999;
  margin-right: 5px;
}
#breadcrumb ul li a {
  color: #999;
}
#breadcrumb ul li a:hover {
  text-decoration: underline;
}
#breadcrumb ul li a span {
  margin-right: 5px;
}

/*======================= END OF BREADCRUMB =======================*/
footer#colophon ._inner {
  margin-bottom: 40px;
}
footer#colophon ._inner ._contenner {
  width: 98%;
}
footer#colophon ._inner ._contenner ._contenner_inner * {
  all: unset;
}
footer#colophon ._inner ._contenner ._contenner_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer#colophon ._inner ._contenner ._contenner_inner ._logo a {
  cursor: pointer;
}
footer#colophon ._inner ._contenner ._contenner_inner ._logo a img {
  max-width: 140px;
}
footer#colophon ._inner ._contenner ._contenner_inner ._sns ul {
  display: flex;
  align-items: center;
  gap: min(30px, 7vw);
}
footer#colophon ._inner ._contenner ._contenner_inner ._sns ul li a {
  cursor: pointer;
  height: 54px;
  width: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer#colophon ._inner ._contenner ._contenner_inner ._sns ul li a:hover {
  background: rgba(0, 0, 0, 0.1490196078);
  border-radius: 50%;
}
footer#colophon ._inner ._contenner ._contenner_inner ._sns ul li:nth-child(1) a img {
  max-width: 27px;
}
footer#colophon ._inner ._contenner ._contenner_inner ._sns ul li:nth-child(2) a img, footer#colophon ._inner ._contenner ._contenner_inner ._sns ul li:nth-child(3) a img {
  max-width: 24px;
}
footer#colophon .wrap_s {
  width: 96%;
}
footer#colophon .wrap_s .footer-buttom {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
}
footer#colophon .wrap_s .footer-buttom .footer-menu {
  width: unset;
  padding: 0;
}
footer#colophon .wrap_s .footer-buttom .footer-menu h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
footer#colophon .wrap_s .footer-buttom .footer-menu h3:has(.material-symbols-outlined) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer#colophon .wrap_s .footer-buttom .footer-menu h3:has(.material-symbols-outlined) a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer#colophon .wrap_s .footer-buttom .footer-menu h3:has(a):hover a {
  color: #3366aa;
  font-weight: bold;
  opacity: unset;
}
footer#colophon .wrap_s .footer-buttom .footer-menu h3 .material-symbols-outlined {
  font-size: 14px;
}
footer#colophon .wrap_s .footer-buttom .footer-menu ul li {
  line-height: 1.4;
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}
footer#colophon .wrap_s .footer-buttom .footer-menu ul li a {
  font-size: 12px;
  font-weight: 400;
}
footer#colophon .wrap_s .footer-buttom .footer-menu ul li a:hover {
  font-weight: bold;
}
footer#colophon .wrap_s .footer-buttom .footer-menu ul li a::after {
  all: unset;
}
footer#colophon .wrap_s .footer-buttom .footer-menu ul li .material-symbols-outlined {
  position: unset;
  font-size: 14px;
  font-weight: 400;
  margin-top: 2px;
  margin-left: 5px;
}
footer#colophon ._fixed_button *,
footer#colophon ._fixed_button *::before,
footer#colophon ._fixed_button *::after {
  all: unset;
}
footer#colophon ._fixed_button {
  position: fixed;
  z-index: 99;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 1054px) {
  footer#colophon ._fixed_button {
    display: none;
  }
}
footer#colophon ._fixed_button .btn-box .btn {
  width: 60px;
  height: 140px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: all 0.4s ease;
}
footer#colophon ._fixed_button .btn-box .btn::after {
  transition: all 0.4s ease;
  background: #ee7744;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 140px;
  transform: scale(0, 1);
  transform-origin: right;
  z-index: -1;
}
footer#colophon ._fixed_button .btn-box .btn:hover {
  color: white;
  z-index: 1;
}
footer#colophon ._fixed_button .btn-box .btn:hover::after {
  transform: scale(1, 1);
}
footer#colophon ._fixed_button .btn1-box .btn1 {
  color: #ee7744;
  border-right: #ee7744 10px solid;
  border-radius: 5px 0 0 0;
  border-bottom: 1px solid #ccc;
}
footer#colophon ._fixed_button .btn1-box .btn1::after {
  border-radius: 5px 0 0 0;
}
footer#colophon ._fixed_button .btn2-box .btn2 {
  color: #3366aa;
  border-right: #3366aa 10px solid;
  border-bottom: 1px solid #ccc;
}
footer#colophon ._fixed_button .btn2-box .btn2::after {
  background: #3366aa;
}
footer#colophon ._fixed_button .btn3-box .btn3 {
  color: #999;
  border-right: #999 10px solid;
}
footer#colophon ._fixed_button .btn3-box .btn3::after {
  background: #999;
}
footer#colophon ._end {
  display: block;
  width: 100%;
  background: white;
  margin: 0;
  padding-block: 18px 17px;
}
footer#colophon ._end .wrap_s {
  display: flex;
  justify-content: space-between;
}
footer#colophon ._end .wrap_s ._left-contents ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
footer#colophon ._end .wrap_s ._left-contents ul li {
  font-size: 10px;
  font-weight: 400;
  padding: 0;
  position: relative;
  border: none;
}
footer#colophon ._end .wrap_s ._left-contents ul li:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 1px;
  height: 20px;
  background: #ccc;
}
footer#colophon ._end .wrap_s ._left-contents ul li a:hover {
  text-decoration: underline;
}
footer#colophon ._end .wrap_s ._copyright {
  font-size: 8px;
  color: #999;
}

/*======================= END OF FOOTER =======================*/
.err {
  padding-top: 168px;
}
.err .wrap_s {
  max-width: unset;
}
.err .wrap_s .error_logo {
  width: 150px;
  margin-inline: auto;
}
.err .wrap_s .cont_err {
  padding: 0 50px;
}
@media screen and (max-width: 768px) {
  .err .wrap_s .cont_err {
    padding: 0 35px;
  }
}
.err .wrap_s .cont_err .err_ty {
  padding-bottom: 100px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .err .wrap_s .cont_err .err_ty {
    padding-bottom: 50px;
  }
}
.err .wrap_s .cont_err .err_ty .err_tit {
  padding-top: 60px;
  font-size: 72px;
  line-height: 72px;
  color: #009ee3;
  font-weight: 600;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .err .wrap_s .cont_err .err_ty .err_tit {
    padding-top: 20px;
    font-size: 28px;
    line-height: 28px;
  }
}
.err .wrap_s .cont_err .err_ty .txt_s {
  padding-top: 38px;
  font-size: 48px;
  line-height: 50px;
  font-weight: 600;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .err .wrap_s .cont_err .err_ty .txt_s {
    padding-top: 11px;
    font-size: 24px;
    line-height: 30px;
  }
}
.err .wrap_s .cont_err .err_ty .txt {
  padding-top: 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .err .wrap_s .cont_err .err_ty .txt {
    padding-top: 25px;
    font-size: 16px;
    line-height: 26px;
  }
}
.err .wrap_s .cont_err .err_ty .btn_area {
  margin-top: 70px;
}
@media screen and (max-width: 768px) {
  .err .wrap_s .cont_err .err_ty .btn_area {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.err .wrap_s .cont_err .err_ty .btn_area .btn_m {
  display: inline-block;
  position: relative;
  height: 40px;
  padding: 0 38px;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  width: 250px;
  margin: 10px;
}
@media screen and (max-width: 768px) {
  .err .wrap_s .cont_err .err_ty .btn_area .btn_m {
    padding: 0;
    width: calc(100% - 75px);
  }
}
.err .wrap_s .cont_err .err_ty .btn_area .btn_ty02 {
  background: #062b55;
  color: #fff !important;
  transition: all 0.4s;
}
.err .wrap_s .cont_err .err_ty .btn_area .btn_ty06 {
  background: #fff;
  border: 1px solid #333;
  box-sizing: border-box;
  color: #000;
  transition: all 0.4s;
}

/*======================= END OF ERROR =======================*/
.search-form {
  background-color: #f4f4f4;
  opacity: 0;
  visibility: hidden;
  height: 0;
}
.search-form.active {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s;
}
.search-form > .s-wrap {
  padding: 40px 0;
  max-width: 800px;
  width: calc(100% - 30px);
  margin: auto;
  position: relative;
}
.search-form > .s-wrap > .form {
  max-width: 630px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #bbb;
  padding-right: 0.7em;
}
.search-form > .s-wrap > .form > .s-box {
  border: initial;
  background-color: initial;
}
.search-form > .s-wrap > .form > .s-box::placeholder {
  color: #ccc;
}
.search-form > .s-wrap > .form > .s-btn {
  width: 35px;
  height: 35px;
  padding: initial;
  background-color: initial;
}
.search-form > .s-wrap > .s-close-btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 0;
  width: 20px;
  height: 20px;
}
.search-form > .s-wrap > .s-close-btn > .inner {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.search-form > .s-wrap > .s-close-btn > .inner::before, .search-form > .s-wrap > .s-close-btn > .inner::after {
  content: "";
  position: absolute;
  background-color: #333;
  width: 2px;
  height: 20px;
  right: 0;
  bottom: 0;
}
.search-form > .s-wrap > .s-close-btn > .inner::before {
  transform: rotate(45deg);
}
.search-form > .s-wrap > .s-close-btn > .inner::after {
  transform: rotate(135deg);
}

main.search {
  padding: 60px 0 100px;
}
@media screen and (max-width: 768px) {
  main.search {
    padding: 20px 0;
  }
}
main.search * {
  letter-spacing: 0.04em !important;
}
main.search > .wrap_s {
  width: calc(100% - 30px);
}
main.search > .wrap_s > .search-ttl {
  border-bottom: 1px solid #333;
  margin: initial;
  padding: 40px 0 5px;
  font-size: 26px;
}
@media screen and (max-width: 768px) {
  main.search > .wrap_s > .search-ttl {
    font-size: 20px;
  }
}
main.search > .wrap_s > .search-form {
  opacity: 1;
  visibility: visible;
  height: auto;
  background-color: initial;
}
main.search > .wrap_s > .search-form .s-close-btn {
  display: none;
}
main.search > .wrap_s .search-results {
  border-bottom: 1px solid #333;
}
main.search > .wrap_s .search-results .result-item {
  padding: 32px 60px;
}
@media screen and (max-width: 768px) {
  main.search > .wrap_s .search-results .result-item {
    padding: 25px 0;
  }
}
main.search > .wrap_s .search-results .result-item * {
  font-size: 16px;
}
main.search > .wrap_s .search-results .result-item:not(:first-of-type) {
  border-top: 1px solid #ccc;
}
main.search > .wrap_s .search-results .result-item .result-ttl {
  color: #333;
  position: relative;
}
main.search > .wrap_s .search-results .result-item .result-ttl::before {
  content: "";
  display: block;
  width: 13px;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  background: #009ee3;
}
main.search > .wrap_s .search-results .result-item .result-link {
  color: #019ee3;
  font-weight: 400;
}
main.search > .wrap_s .search-results .result-item .result-link:hover {
  color: #019ee3;
  text-decoration: underline;
}
main.search > .wrap_s .pagination {
  border-top: initial;
}
main.search > .wrap_s .pagination .page-numbers {
  font-weight: 400;
  display: inline-block;
}
main.search > .wrap_s .pagination .page-numbers:hover {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgb(0, 0, 0);
}
main.search > .wrap_s .pagination .page-numbers.current {
  color: #019ee3;
  font-weight: 600;
}
main.search > .wrap_s .pagination .page-numbers.current:hover {
  box-shadow: initial;
}
main.search > .wrap_s .pagination .page-numbers.dots:hover {
  box-shadow: initial;
}
main.search > .wrap_s .pagination .page-numbers.next, main.search > .wrap_s .pagination .page-numbers.prev {
  font-size: 20px;
  float: initial;
  background-color: #fff;
  border: 1px solid #ddd;
}
main.search > .wrap_s .pagination .page-numbers.next:hover, main.search > .wrap_s .pagination .page-numbers.prev:hover {
  border: 1px solid #333;
  background-color: #fff;
  color: #333;
  opacity: 1;
  box-shadow: initial;
}
main.search > .wrap_s .error-results {
  padding: 80px 0;
  border-bottom: 1px solid #333;
}
main.search > .wrap_s .error-results .error-img {
  max-width: 151px;
  width: 100%;
  margin: auto;
}
@media screen and (max-width: 768px) {
  main.search > .wrap_s .error-results .error-img {
    max-width: 76px;
  }
}
main.search > .wrap_s .error-results .error-txt {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  main.search > .wrap_s .error-results .error-txt {
    font-size: 14px;
  }
}

/*======================= END OF SEARCH =======================*//*# sourceMappingURL=add-common.css.map */