@charset "UTF-8";
/* -------------------
  TOPページ用 追加CSS
------------------- */
.navigation-top {
  background: #e5e5e5;
}

/*_____ navigation _____*/
.main-mv {
  height: calc(100vh - 70px);
}
.main-mv .main-catchphrase {
  width: 94%;
  margin-inline: auto;
}
.main-mv .main-catchphrase h1 {
  font-size: clamp(2.5rem, 1.979rem + 0.69vw, 2.813rem);
  color: white;
}
@media screen and (max-width: 768px) {
  .main-mv .main-catchphrase h1 {
    font-size: clamp(1.75rem, 1.643rem + 0.48vw, 2rem);
  }
}
.main-mv .btn-box {
  position: relative;
  left: initial;
  top: initial;
  z-index: 10;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 32px;
  width: 94%;
}
@media screen and (max-width: 768px) {
  .main-mv .btn-box {
    gap: 15px;
  }
}
.main-mv .btn-box .mv-btn {
  font-size: 16px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0;
  padding: 0 0 14px;
  display: grid;
  gap: 10px;
  place-content: center;
  max-width: 226px;
  background-color: rgba(255, 255, 255, 0.9019607843);
  height: auto;
  font-size: 14px;
  color: #666666;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .main-mv .btn-box .mv-btn {
    gap: 5px;
  }
}
.main-mv .btn-box .mv-btn:hover {
  background-color: #FFFFFF;
  opacity: 1;
}
.main-mv .btn-box .mv-btn:hover .btn-txt::after {
  right: 17px;
}
.main-mv .btn-box .mv-btn .btn-txt {
  font-size: 14px;
  color: #666666;
  font-weight: 700;
  line-height: initial;
  position: relative;
}
@media screen and (max-width: 768px) {
  .main-mv .btn-box .mv-btn .btn-txt {
    font-size: 12px;
  }
}
.main-mv .btn-box .mv-btn .btn-txt::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 6px;
  width: 9px;
  height: 9px;
  border-right: 1px solid #666666;
  border-top: 1px solid #666666;
  transform: rotate(45deg);
  transition: all 0.2s;
}
@media screen and (max-width: 768px) {
  .main-mv .btn-box .mv-btn .btn-txt::after {
    bottom: 5px;
    width: 7px;
    height: 7px;
  }
}
.main-mv .scroll_text {
  font-family: "Figtree";
  position: absolute;
  bottom: 65px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: block;
  color: white;
  font-size: 10px;
  font-weight: 500;
}
.main-mv .cp_arrows {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-mv .cp_arrows .cp_arrow { /*矢印を配置するベースの設定*/
  position: absolute;
  width: 20px;
  height: 4px;
  opacity: 0; /*スタートは透明*/
  transform: scale(0.3); /*スタートは30%に縮小*/
  animation: arrow-move07 3s ease-out infinite;
}
.main-mv .cp_arrows .cp_arrow:first-child { /*1秒ずらしてアニメーション*/
  animation: arrow-move07 3s ease-out 1s infinite;
}
.main-mv .cp_arrows .cp_arrow:nth-child(2) { /*2秒ずらしてアニメーション*/
  animation: arrow-move07 3s ease-out 2s infinite;
}
.main-mv .cp_arrows .cp_arrow:before,
.main-mv .cp_arrows .cp_arrow:after { /*矢印全体の設定*/
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 2px;
}
.main-mv .cp_arrows .cp_arrow:before { /*矢印左の線の位置と傾斜*/
  left: 1px;
  transform: skewY(35deg);
}
.main-mv .cp_arrows .cp_arrow:after { /*矢印左の線の位置と傾斜*/
  right: 1px;
  transform: skewY(-35deg);
}
@keyframes arrow-move07 {
  25% {
    opacity: 0.6;
  }
  43% {
    transform: translateY(1em);
    opacity: 0.8;
  }
  62% {
    transform: translateY(2em);
    opacity: 1;
  }
  100% {
    transform: translateY(3em) scale(0.5);
    opacity: 0;
  }
}

.topic {
  padding-bottom: 140px;
}
@media screen and (max-width: 768px) {
  .topic {
    padding-bottom: 70px;
  }
}
.topic .section-title {
  color: #333;
}
.topic .topic-inner .wrap_s {
  justify-content: center;
  gap: min(32px, 11vw);
}
@media screen and (max-width: 768px) {
  .topic .topic-inner .wrap_s.next-more1 {
    padding: 30px 0 60px;
  }
}
.topic .topic-inner .wrap_s li {
  min-width: 312px;
  min-height: fit-content;
  margin: 0;
  overflow: unset;
}
.topic .topic-inner .wrap_s li:hover a {
  opacity: unset;
}
.topic .topic-inner .wrap_s li:hover a img {
  transform: scale(1.1);
}
.topic .topic-inner .wrap_s li:hover h3 {
  color: #EE7744;
}
.topic .topic-inner .wrap_s li:hover a ._overflow-hidden-topic::after {
  background-image: url(/wp-content/uploads/2025/03/arrow-right.png);
  opacity: 1;
}
.topic .topic-inner .wrap_s li a ._overflow-hidden-topic img {
  height: 312px;
  object-fit: cover;
}

/*_____ topic _____*/
.top_movie {
  display: block;
  text-align: center;
}
.top_movie video {
  margin-bottom: 140px;
}
@media screen and (max-width: 768px) {
  .top_movie video {
    margin-bottom: 70px;
  }
}

/*_____ top_movie _____*/
.total-energy-solutions::before {
  content: " ";
  display: block;
  clear: both;
  background: rgba(51, 102, 170, 0.0784313725) !important;
  width: 1000px;
  height: 600px;
  position: absolute;
  top: 60px;
  right: 0px;
  z-index: 0;
}
.total-energy-solutions .content {
  height: auto;
}
.total-energy-solutions .content.img-size {
  overflow: unset;
}
.total-energy-solutions .content.img-size img {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
}
.total-energy-solutions .content:nth-child(2) {
  padding-top: 140px;
}
@media screen and (max-width: 768px) {
  .total-energy-solutions .content:nth-child(2) {
    padding-top: 0;
    width: 90vw;
  }
  .total-energy-solutions .content:nth-child(2) .section-title {
    padding-top: 10px;
    line-height: 1.5;
  }
}
.total-energy-solutions .content:nth-child(2) .border-solid-bottom-01 {
  border-bottom: solid 1px #1b1b1b;
}
.total-energy-solutions .content:nth-child(2) .btn-box {
  max-width: 226px;
}
.total-energy-solutions ._link_bt3_b a {
  line-height: 1.5;
}
.total-energy-solutions ._link_bt3_b a:hover::after {
  background-color: #3D7ABB;
}

/*_____ total-energy-solutions _____*/
.product .section-title {
  color: #333;
}
.product .section-title .sub-title {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .product .product-category .wrap_s {
    padding-top: 0;
  }
}
.product .product-category .wrap_s li {
  background-size: cover;
}
.product .product-category .wrap_s li:nth-child(1), .product .product-category .wrap_s li:nth-child(2) {
  background-image: url(../images/top/Module_BG_TopBanner_01.jpg);
}
.product .product-category .wrap_s li:nth-child(1) .product-photo1 img, .product .product-category .wrap_s li:nth-child(2) .product-photo1 img {
  display: block;
}
.product .product-category .wrap_s li:nth-child(3), .product .product-category .wrap_s li:nth-child(4) {
  background-image: url(../images/top/ESS-HEMS_BG_TopBanner_01.jpg);
}
.product .product-category .wrap_s li:nth-child(3) .product-photo1, .product .product-category .wrap_s li:nth-child(4) .product-photo1 {
  height: fit-content;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .product .product-category .wrap_s li:nth-child(3) .product-photo1, .product .product-category .wrap_s li:nth-child(4) .product-photo1 {
    top: unset;
    bottom: 0;
  }
}
@media screen and (max-width: 1054px) {
  .product .product-category .wrap_s li {
    max-width: 484px;
    margin-inline: auto;
  }
}
.product .product-category .wrap_s li:has(._link_bt1) .product-photo1 {
  bottom: 0;
  top: unset;
  right: 4vw;
  max-width: 172px;
  height: fit-content;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .product .product-category .wrap_s li:has(._link_bt1) .product-photo1 {
    max-width: 150px;
  }
}
.product .product-category .wrap_s li h4 {
  font-size: 20px;
}
.product .product-category .wrap_s li ._link_bt1,
.product .product-category .wrap_s li ._link_bt2 {
  position: absolute;
  bottom: 40px;
}
.product .banner1 .wrap_s li {
  background-image: url(../images/top/PCS_BG_TopBanner_01.jpg);
  background-size: cover;
  max-width: 312px;
}
@media screen and (max-width: 1054px) {
  .product .banner1 .wrap_s li {
    margin-inline: auto;
    margin-bottom: 20px;
  }
}
.product .banner1 .wrap_s li h4 a {
  font-size: 16px;
}

/*_____ product _____*/
.retailer-system {
  margin-bottom: 230px;
}
@media screen and (max-width: 768px) {
  .retailer-system {
    margin-bottom: 0;
  }
}
.retailer-system ._left_contents {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 70px;
}
@media screen and (max-width: 1054px) {
  .retailer-system ._left_contents {
    height: 200px;
    max-width: 600px;
    width: 94%;
    padding-bottom: 30px;
    padding-inline: 40px;
    margin-inline: auto;
    text-align: center;
  }
}
.retailer-system ._left_contents p {
  margin-bottom: 0;
}
.retailer-system ._right_contents {
  max-width: 656px !important;
}
@media screen and (max-width: 1054px) {
  .retailer-system ._right_contents {
    max-width: 500px !important;
    width: 90% !important;
  }
}
.retailer-system ._right_contents img {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: auto;
}

/*_____ retailer-system _____*/
.electricity-bill-service {
  background: unset;
  padding: 80px 0 140px;
  position: relative;
  z-index: 0;
}
@media screen and (max-width: 768px) {
  .electricity-bill-service {
    padding-block: 40px 0;
    margin: 40px 0;
  }
}
.electricity-bill-service::before {
  content: "";
  background-image: url(/wp-content/uploads/2025/07/electricity-bill-service_bg.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 55%;
  z-index: -1;
}
.electricity-bill-service h3 {
  font-size: clamp(1.75rem, 1.7117rem + 0.1361vw, 1.875rem);
  padding: 0 !important;
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .electricity-bill-service h3 {
    margin-bottom: 30px;
  }
}
.electricity-bill-service .electricity-bill-service-inner {
  max-width: 1000px;
  margin: 0 auto;
  gap: 118px;
}
.electricity-bill-service .electricity-bill-service-inner:first-of-type {
  margin-bottom: 80px;
}
@media screen and (max-width: 1054px) {
  .electricity-bill-service .electricity-bill-service-inner ._right_contents .btn {
    max-width: 226px;
    margin-inline: auto;
  }
}
.electricity-bill-service .electricity-bill-service-inner ._right_contents .btn:hover {
  opacity: unset;
}
.electricity-bill-service .electricity-bill-service-inner ._right_contents .btn:hover::after {
  background-color: #F18F52;
}
.electricity-bill-service .electricity-bill-service-inner ._left_contents {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  overflow: unset;
}
@media screen and (max-width: 1054px) {
  .electricity-bill-service .electricity-bill-service-inner ._left_contents {
    max-width: 95%;
    margin-inline: auto;
  }
}
.electricity-bill-service .electricity-bill-service-inner ._left_contents .item_box {
  border: unset;
  max-width: unset;
  margin: unset;
}
.electricity-bill-service .electricity-bill-service-inner ._left_contents .item_box .item_link:hover {
  border: unset;
  opacity: 1;
}
.electricity-bill-service .electricity-bill-service-inner ._left_contents .item_box .item_link:hover img {
  transform: unset;
}
.electricity-bill-service .electricity-bill-service-inner ._left_contents .item_box .item_link .item_content .item_image img {
  transition: all 0.5s ease;
}
.electricity-bill-service .electricity-bill-service-inner ._left_contents .item_box .item_link .item_content .item_mask {
  transition: all 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}
.electricity-bill-service .electricity-bill-service-inner ._left_contents .item_box .item_link .item_content .item_mask .item_mask-text img {
  max-width: 226px;
}
.electricity-bill-service .electricity-bill-service-inner ._left_contents .item_box .item_link .item_content .item_mask .material-symbols-outlined {
  color: white;
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-weight: 200;
}

/*_____ electricity-bill-service _____*/
.press {
  padding-bottom: 0;
}
.press .topic-inner .wrap_s li {
  height: fit-content;
}
.press .topic-inner .wrap_s li:hover ._overflow-hidden-topic ._right_bt {
  opacity: 0.8;
}
.press .topic-inner .wrap_s li:hover a .press-title {
  font-weight: bold;
  color: #333;
}
.press .topic-inner .wrap_s li ._overflow-hidden-topic {
  position: relative;
  height: fit-content;
  margin-bottom: 20px;
  height: 208px;
}
.press .topic-inner .wrap_s li ._overflow-hidden-topic ._right_bt {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-image: url(/wp-content/uploads/2025/03/arrow-right.png);
  background-repeat: no-repeat;
  z-index: 99999999;
  content: "";
  width: 40px;
  height: 40px;
  background-size: contain;
  opacity: 0;
  transition: all 0.5s ease;
}
.press .topic-inner .wrap_s li ._overflow-hidden-topic img {
  height: 210px;
  object-fit: cover;
  object-position: center;
}
.press .topic-inner .wrap_s li a .press-time {
  display: block;
  text-align: left;
  color: #999;
  font-size: 11px;
  font-family: "Figtree";
}
.press .topic-inner .wrap_s li a .press-title {
  font-weight: 400;
  padding: 0;
  text-align: left;
  font-size: 12px;
  margin: 10px 0 0;
}
.press .topic-inner .wrap_s li ._right_bt a {
  top: unset;
  bottom: 10px;
  right: 10px;
}
.press .topic-inner .next-more1 {
  padding-bottom: 80px;
}

/*_____ press _____*/
/*_____  _____*//*# sourceMappingURL=add.css.map */