main.taxonomy-product-cat {
  position: relative;
  --fw-reg: 400;
  --fw-med: 500;
  --fw-bold: 700;
  --col-orange: #ee7744;
  --col-lit-orange: #ee77441a;
  --col-navy: #3366aa;
  --col-gray: #ccc;
  --col-black: #333;
}
main.taxonomy-product-cat p,
main.taxonomy-product-cat h2,
main.taxonomy-product-cat h3,
main.taxonomy-product-cat h4,
main.taxonomy-product-cat h5,
main.taxonomy-product-cat ul,
main.taxonomy-product-cat button,
main.taxonomy-product-cat a {
  margin: 0;
  padding: 0;
  font-weight: var(--fw-reg);
  color: var(--col-black);
  line-height: 1.6;
}
main.taxonomy-product-cat img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
main.taxonomy-product-cat table th,
main.taxonomy-product-cat table td {
  padding: 0;
}
main.taxonomy-product-cat sup {
  font-size: 60%;
}
main.taxonomy-product-cat .wrapper {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}
main.taxonomy-product-cat .container {
  max-width: 1000px;
  width: calc(100% - 30px);
  margin: auto;
  padding: 0;
}
main.taxonomy-product-cat .btn {
  color: white;
  background: var(--col-navy);
  width: 312px;
  padding-block: 18px;
  text-align: center;
  margin-top: 120px;
  margin-inline: auto;
  border-radius: 30px;
}
main.taxonomy-product-cat .btn:hover::after {
  background: #3D7ABB;
}
main.taxonomy-product-cat .col-re-rise {
  color: var(--col-orange);
}
main.taxonomy-product-cat .bg-re-rise {
  background: transparent linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(238, 119, 68, 0.2) 100%) 0% 0% no-repeat padding-box;
}
main.taxonomy-product-cat .col-q-cells {
  color: var(--col-navy);
}
main.taxonomy-product-cat .bg-q-cells {
  background: transparent linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(51, 102, 170, 0.2) 100%) 0% 0% no-repeat padding-box;
}
main.taxonomy-product-cat .bg-other {
  background: transparent linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(153, 153, 153, 0.2) 100%) 0% 0% no-repeat padding-box;
}
main.taxonomy-product-cat .intro-power-conditioner {
  max-width: 226px;
  width: 25%;
  left: 0;
  bottom: 60px;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat .intro-power-conditioner {
    bottom: initial;
  }
}
main.taxonomy-product-cat .intro-bracket {
  max-width: 398px;
  width: 100%;
  left: 0;
  bottom: 5px;
}
@media screen and (max-width: 1024px) {
  main.taxonomy-product-cat .intro-bracket {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat .intro-bracket {
    bottom: initial;
  }
}
main.taxonomy-product-cat .intro-v2h {
  max-width: 398px;
  width: 100%;
  left: 0;
  bottom: -70px;
}
@media screen and (max-width: 1024px) {
  main.taxonomy-product-cat .intro-v2h {
    width: 34%;
    bottom: initial;
  }
}
main.taxonomy-product-cat > .mv {
  height: 360px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
main.taxonomy-product-cat > .mv > .container {
  position: relative;
  height: 100%;
}
main.taxonomy-product-cat > .mv > .container > .ttlc {
  position: absolute;
  left: 0;
  top: 30%;
}
main.taxonomy-product-cat > .mv > .container > .ttlc * {
  color: #fff;
}
main.taxonomy-product-cat > .mv > .container > .ttlc > .prod-name {
  font-size: 60px;
  font-weight: var(--fw-bold);
  line-height: 1.2;
  letter-spacing: 0.04em !important;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .mv > .container > .ttlc > .prod-name {
    font-size: 48px;
  }
}
main.taxonomy-product-cat > .mv > .container > .ttlc > .prod-name > .txt-small {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.16em !important;
}
@media screen and (max-width: 1024px) {
  main.taxonomy-product-cat > .mv > .container > .ttlc > .prod-name > .txt-small {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .mv > .container > .ttlc > .prod-name > .txt-small {
    font-size: 14px;
  }
}
main.taxonomy-product-cat > .mv > .container > .ttlc > .ttl {
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.1em !important;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .mv > .container > .ttlc > .ttl {
    font-size: 16px;
  }
}
main.taxonomy-product-cat > .top {
  margin-top: -400px;
}
@media screen and (max-width: 1024px) {
  main.taxonomy-product-cat > .top {
    margin-top: -40vw;
  }
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .top {
    margin-top: initial;
  }
}
main.taxonomy-product-cat > .top > .container {
  display: flex;
  justify-content: end;
  align-items: end;
  position: relative;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .top > .container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 32px;
  }
}
main.taxonomy-product-cat > .top > .container > .share {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 49%;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .top > .container > .share {
    width: 100%;
    justify-content: center;
  }
}
main.taxonomy-product-cat > .top > .container > .share > .img {
  max-width: 226px;
  width: 100%;
}
main.taxonomy-product-cat > .top > .container .prod-img {
  max-width: 484px;
  width: 50%;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .top > .container .prod-img {
    width: 100%;
  }
}
main.taxonomy-product-cat > .intro > .container {
  max-width: 830px;
  display: flex;
  align-items: center;
}
main.taxonomy-product-cat > .intro > .container * {
  letter-spacing: 0.04em !important;
}
main.taxonomy-product-cat > .intro > .container > .ctt > .name {
  font-size: 32px;
  font-weight: var(--fw-bold);
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .intro > .container > .ctt > .name {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .intro > .container > .ctt > .txt {
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  main.taxonomy-product-cat > .intro > .container > .ctt > .txt {
    text-align: left;
  }
}
@media screen and (max-width: 425px) {
  main.taxonomy-product-cat > .intro > .container > .ctt > .txt br {
    display: none;
  }
}
main.taxonomy-product-cat > .lineup > .container * {
  letter-spacing: 0.04em !important;
}
main.taxonomy-product-cat > .lineup > .container > .ttl {
  font-size: 32px;
  font-weight: var(--fw-bold);
  text-align: center;
}
main.taxonomy-product-cat > .lineup > .container > .choose {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .lineup > .container > .choose {
    flex-direction: column;
    align-items: start;
  }
}
main.taxonomy-product-cat > .lineup > .container > .choose > .all {
  position: relative;
  background-color: initial;
  color: #666666;
  padding: 0 0 0 50px;
  font-weight: var(--fw-bold);
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .lineup > .container > .choose > .all {
    width: 100%;
    text-align: left;
    padding: 15px 0;
    border-bottom: 1px solid var(--col-gray);
    border-top: 1px solid var(--col-gray);
    font-size: 16px;
  }
}
main.taxonomy-product-cat > .lineup > .container > .choose > .all:hover {
  color: var(--col-orange);
}
main.taxonomy-product-cat > .lineup > .container > .choose > .all:hover::before {
  background: url(../images/tax-prod-cat/icon-all-orange.png) no-repeat center/contain;
}
main.taxonomy-product-cat > .lineup > .container > .choose > .all::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  background: url(../images/tax-prod-cat/icon-all-gray.png) no-repeat center/contain;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .lineup > .container > .choose > .all::before {
    content: none;
  }
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series,
main.taxonomy-product-cat > .lineup > .container > .choose > .size {
  width: 226px;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .lineup > .container > .choose > .series,
  main.taxonomy-product-cat > .lineup > .container > .choose > .size {
    width: 100%;
  }
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select,
main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select {
  position: relative;
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select.open .custom-selected,
main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select.open .custom-selected {
  border-bottom: 1px solid var(--col-black);
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select.open .custom-selected::after,
main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select.open .custom-selected::after {
  background-color: var(--col-black);
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select > .custom-selected,
main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select > .custom-selected {
  cursor: pointer;
  font-weight: var(--fw-bold);
  color: var(--col-gray);
  padding: 0 0 10px;
  border-bottom: 1px solid var(--col-gray);
  position: relative;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select > .custom-selected,
  main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select > .custom-selected {
    padding: 15px 0;
    font-size: 16px;
  }
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select > .custom-selected:hover,
main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select > .custom-selected:hover {
  border-bottom: 1px solid var(--col-black);
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select > .custom-selected:hover::after,
main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select > .custom-selected:hover::after {
  background-color: var(--col-black);
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select > .custom-selected::after,
main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select > .custom-selected::after {
  content: "";
  position: absolute;
  right: 0;
  top: 10px;
  width: 12px;
  height: 6px;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  background-color: var(--col-gray);
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select > .custom-selected::after,
  main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select > .custom-selected::after {
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select > .custom-selected.has-value,
main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select > .custom-selected.has-value {
  color: var(--col-black);
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select > .custom-options,
main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select > .custom-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 0 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select > .custom-options,
  main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select > .custom-options {
    position: relative;
  }
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select > .custom-options li,
main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select > .custom-options li {
  cursor: pointer;
  font-size: 14px;
  font-weight: var(--fw-med);
  line-height: 1.1428571429;
  margin: 20px 0;
  width: fit-content;
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select > .custom-options li:hover,
main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select > .custom-options li:hover {
  text-decoration: underline;
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series {
  margin-left: 9%;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .lineup > .container > .choose > .series {
    margin-left: initial;
  }
}
main.taxonomy-product-cat > .lineup > .container > .choose > .size {
  margin-left: 3%;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .lineup > .container > .choose > .size {
    margin-left: initial;
  }
}
main.taxonomy-product-cat > .lineup > .container .prod-list {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px 32px;
}
@media screen and (max-width: 1024px) {
  main.taxonomy-product-cat > .lineup > .container .prod-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .lineup > .container .prod-list {
    grid-template-columns: initial;
    margin-top: 60px;
  }
}
main.taxonomy-product-cat > .lineup > .container .prod-list > .prod-item {
  display: block;
}
main.taxonomy-product-cat > .lineup > .container .prod-list > .prod-item:hover {
  opacity: 1;
}
main.taxonomy-product-cat > .lineup > .container .prod-list > .prod-item:hover .img img {
  transform: scale(1.05);
}
main.taxonomy-product-cat > .lineup > .container .prod-list > .prod-item:hover .ttl .name {
  opacity: 0.8;
}
main.taxonomy-product-cat > .lineup > .container .prod-list > .prod-item > .img {
  overflow: hidden;
}
main.taxonomy-product-cat > .lineup > .container .prod-list > .prod-item > .img > img {
  transition: transform 0.3s ease;
  aspect-ratio: 312/226;
}
main.taxonomy-product-cat > .lineup > .container .prod-list > .prod-item > .ttl {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .lineup > .container .prod-list > .prod-item > .ttl {
    margin-top: 20px;
  }
}
main.taxonomy-product-cat > .lineup > .container .prod-list > .prod-item > .ttl > .new {
  padding: 7px 6px;
  background-color: var(--col-orange);
  color: #fff;
  font-size: 12px;
  font-weight: var(--fw-med);
}
main.taxonomy-product-cat > .lineup > .container .prod-list > .prod-item > .ttl > .name {
  font-size: 20px;
  font-weight: var(--fw-bold);
  transition: opacity 0.3s;
}
main.taxonomy-product-cat > .compare > .wrapper {
  width: calc(100% - 30px);
}
main.taxonomy-product-cat > .compare > .wrapper > .btn {
  color: white;
  background: var(--col-navy);
  width: 312px;
  padding-block: 18px;
  text-align: center;
  margin-top: 100px;
  margin-inline: auto;
  border-radius: 30px;
}
main.taxonomy-product-cat > .compare > .wrapper > .btn:hover::after {
  background: #3D7ABB;
}

main.taxonomy-product-cat.re-rise > .lineup,
main.taxonomy-product-cat.q-cells > .lineup,
main.taxonomy-product-cat.power-conditioner > .lineup,
main.taxonomy-product-cat.bracket > .lineup,
main.taxonomy-product-cat.v2h > .lineup {
  padding: 100px 0 120px;
}

main.taxonomy-product-cat.re-rise > .top,
main.taxonomy-product-cat.q-cells > .top {
  padding: 0 0 100px;
}
main.taxonomy-product-cat.re-rise > .intro,
main.taxonomy-product-cat.q-cells > .intro {
  padding: 66px 0;
}
main.taxonomy-product-cat.re-rise > .intro > .container,
main.taxonomy-product-cat.q-cells > .intro > .container {
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.re-rise > .intro > .container,
  main.taxonomy-product-cat.q-cells > .intro > .container {
    flex-direction: column;
    gap: 40px;
  }
}
main.taxonomy-product-cat.re-rise > .intro > .container > .img,
main.taxonomy-product-cat.q-cells > .intro > .container > .img {
  max-width: 226px;
  width: 100%;
}
main.taxonomy-product-cat.re-rise > .intro > .container > .ctt > .name,
main.taxonomy-product-cat.q-cells > .intro > .container > .ctt > .name {
  font-size: 32px;
  font-weight: var(--fw-bold);
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.re-rise > .intro > .container > .ctt > .name,
  main.taxonomy-product-cat.q-cells > .intro > .container > .ctt > .name {
    text-align: center;
  }
}
main.taxonomy-product-cat.re-rise > .intro > .container > .ctt > .txt,
main.taxonomy-product-cat.q-cells > .intro > .container > .ctt > .txt {
  margin-top: 40px;
  font-size: 14px;
}

main.taxonomy-product-cat.power-conditioner > .top,
main.taxonomy-product-cat.bracket > .top,
main.taxonomy-product-cat.v2h > .top {
  padding: 0 0 42px;
}
main.taxonomy-product-cat.power-conditioner > .intro > .container,
main.taxonomy-product-cat.bracket > .intro > .container,
main.taxonomy-product-cat.v2h > .intro > .container {
  height: 242px;
  justify-content: end;
  position: relative;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.power-conditioner > .intro > .container,
  main.taxonomy-product-cat.bracket > .intro > .container,
  main.taxonomy-product-cat.v2h > .intro > .container {
    height: auto;
    padding: 66px 0;
    flex-direction: column-reverse;
    gap: 40px;
  }
}
main.taxonomy-product-cat.power-conditioner > .intro > .container > .img,
main.taxonomy-product-cat.bracket > .intro > .container > .img,
main.taxonomy-product-cat.v2h > .intro > .container > .img {
  position: absolute;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.power-conditioner > .intro > .container > .img,
  main.taxonomy-product-cat.bracket > .intro > .container > .img,
  main.taxonomy-product-cat.v2h > .intro > .container > .img {
    position: relative;
    width: 100%;
  }
}
main.taxonomy-product-cat.power-conditioner > .intro > .container > .ctt,
main.taxonomy-product-cat.bracket > .intro > .container > .ctt,
main.taxonomy-product-cat.v2h > .intro > .container > .ctt {
  max-width: 484px;
  width: 100%;
}
main.taxonomy-product-cat.power-conditioner > .intro > .container > .ctt > .txt,
main.taxonomy-product-cat.bracket > .intro > .container > .ctt > .txt,
main.taxonomy-product-cat.v2h > .intro > .container > .ctt > .txt {
  font-size: 16px;
}

main.taxonomy-product-cat.storage-system > .lineup,
main.taxonomy-product-cat.hems > .lineup {
  padding: 40px 0 120px;
}

main.taxonomy-product-cat.storage-system > .lineup .typec {
  margin-top: 80px;
}
main.taxonomy-product-cat.storage-system > .lineup .typec.ready > .type::before {
  background-color: var(--col-orange);
}
main.taxonomy-product-cat.storage-system > .lineup .typec.ready > .type > .txt {
  color: var(--col-orange);
  border: 1px solid var(--col-orange);
}
main.taxonomy-product-cat.storage-system > .lineup .typec.hybrid > .type::before {
  background-color: var(--col-navy);
}
main.taxonomy-product-cat.storage-system > .lineup .typec.hybrid > .type > .txt {
  color: var(--col-navy);
  border: 1px solid var(--col-navy);
}
main.taxonomy-product-cat.storage-system > .lineup .typec > .type {
  position: relative;
}
main.taxonomy-product-cat.storage-system > .lineup .typec > .type::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 1px;
}
@media screen and (max-width: 425px) {
  main.taxonomy-product-cat.storage-system > .lineup .typec > .type::before {
    content: none;
  }
}
main.taxonomy-product-cat.storage-system > .lineup .typec > .type > .txt {
  width: 312px;
  margin: auto;
  padding: 13px 0 12px;
  font-size: 15px;
  font-weight: var(--fw-bold);
  line-height: 1;
  text-align: center;
  border-radius: 25px;
  background-color: #fff;
  position: relative;
}
main.taxonomy-product-cat.storage-system > .lineup .prod-list {
  margin-top: 40px;
}

main.taxonomy-product-cat.bracket > .bracket-menu {
  padding-top: 124px;
}
main.taxonomy-product-cat.bracket > .bracket-menu > .container > .menu-list {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 32px;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.bracket > .bracket-menu > .container > .menu-list {
    flex-direction: column;
    align-items: center;
  }
}
main.taxonomy-product-cat.bracket > .bracket-menu > .container > .menu-list > .menu-item {
  max-width: 312px;
  width: 100%;
}
main.taxonomy-product-cat.bracket > .bracket-menu > .container > .menu-list > .menu-item > .txt {
  font-size: 20px;
  text-align: center;
}
main.taxonomy-product-cat.bracket > .bracket-menu > .container > .menu-list > .menu-item > .menu-btn {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 20px 15px 36px;
  background-color: rgba(51, 102, 170, 0.1019607843);
  border: 1px solid var(--col-navy);
  border-radius: 5px;
  color: var(--col-navy);
  font-size: 16px;
  font-weight: var(--fw-bold);
  text-align: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.bracket > .bracket-menu > .container > .menu-list > .menu-item > .menu-btn {
    margin-top: 5px;
    padding: 10px 15px 25px;
  }
}
main.taxonomy-product-cat.bracket > .bracket-menu > .container > .menu-list > .menu-item > .menu-btn:hover {
  background-color: rgba(51, 102, 170, 0.2509803922);
}
main.taxonomy-product-cat.bracket > .bracket-menu > .container > .menu-list > .menu-item > .menu-btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  width: 7px;
  height: 7px;
  border-right: 1px solid var(--col-navy);
  border-bottom: 1px solid var(--col-navy);
  transform: rotate(45deg);
}
main.taxonomy-product-cat.bracket > .general {
  padding-top: 100px;
}
@media screen and (max-width: 1030px) {
  main.taxonomy-product-cat.bracket > .general > .container {
    overflow-x: scroll;
  }
}
main.taxonomy-product-cat.bracket > .general > .container > .table {
  margin-top: 60px;
  width: 1000px;
}
@media screen and (max-width: 1030px) {
  main.taxonomy-product-cat.bracket > .general > .container > .table {
    padding-bottom: 30px;
  }
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .headc,
main.taxonomy-product-cat.bracket > .general > .container > .table > .row {
  display: flex;
  gap: 32px;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .headc > .type,
main.taxonomy-product-cat.bracket > .general > .container > .table > .headc > .impression,
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .type,
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .impression {
  width: 22.6%;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .headc > .method,
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .method {
  width: 31.2%;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .headc > .module,
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .module {
  width: 14%;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .headc > .head {
  font-size: 16px;
  font-weight: var(--fw-bold);
  text-align: center;
  padding: 13px;
  background-color: #F5F5F5;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .row {
  padding: 30px 0;
  border-bottom: 1px solid #CCCCCC;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .type {
  position: relative;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .type > .name {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: var(--fw-reg);
  color: #fff;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .impression {
  border: 1px solid #CCCCCC;
  position: relative;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .impression > .modal-open {
  cursor: pointer;
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.5019607843);
  border-radius: 3px;
  display: grid;
  place-content: center;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .impression > .modal-open:hover {
  background-color: rgba(0, 0, 0, 0.7490196078);
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .impression > .modal-open > .modal-icon {
  width: 12px;
  height: 12px;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .impression > .modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 99999;
  transition: all 0.4s;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .impression > .modal > .bg {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  position: fixed;
  left: 0;
  width: 100%;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .impression > .modal > .bg > .modal-ctt {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96%;
  max-width: 656px;
  background-color: #fff;
  border-radius: 5px;
  padding: 79px 15px;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .impression > .modal > .bg > .modal-ctt {
    top: 35%;
    padding: 30px 15px;
  }
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .impression > .modal > .bg > .modal-ctt > .modal-img {
  max-width: 484px;
  width: 100%;
  margin: auto;
  border: 1px solid #CCCCCC;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .impression > .modal.is-active {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .impression > .modal .modal-close {
  cursor: pointer;
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 10px;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .impression > .modal .modal-close:hover > .close-btn {
  background-color: rgba(255, 255, 255, 0.7019607843);
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .impression > .modal .modal-close:hover > .close-txt {
  text-decoration: underline;
  text-underline-offset: 5px;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .impression > .modal .modal-close > .close-btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .impression > .modal .modal-close > .close-btn::before, main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .impression > .modal .modal-close > .close-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 15px;
  background: #666666;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .impression > .modal .modal-close > .close-btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .impression > .modal .modal-close > .close-btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .impression > .modal .modal-close > .close-txt {
  font-size: 14px;
  font-weight: var(--fw-reg);
  color: #fff;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .row > .module > .txt {
  font-size: 12px;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .sup-list {
  margin-top: 30px;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .sup-list > .sup-item {
  font-size: 14px;
  font-weight: var(--fw-bold);
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .sup-list > .sup-item * {
  display: inline-block;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .sup-list > .sup-item.module > .txt {
  margin: 0 10px 0 3px;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .sup-list > .sup-item.metal > .txt {
  margin: 0 3px;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .sup-list > .sup-item > .circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 3px;
  vertical-align: middle;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .sup-list > .sup-item > .circle.rerise-g3 {
  background-color: var(--col-orange);
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .sup-list > .sup-item > .circle.rerise-g2 {
  background-color: var(--col-navy);
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .sup-list > .sup-item > .circle.rerise-s {
  background-color: var(--col-black);
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .sup-list > .sup-item > .txt {
  font-weight: var(--fw-med);
  vertical-align: middle;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .sup-list > .sup-item > .line {
  margin: 0 3px;
  vertical-align: middle;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .note {
  margin-top: 10px;
}
main.taxonomy-product-cat.bracket > .general > .container > .table > .note > .txt {
  text-indent: -18px;
  padding-left: 18px;
}
main.taxonomy-product-cat.bracket > .general > .standard {
  max-width: 1280px;
  width: 100%;
  margin: 40px auto 0;
}
main.taxonomy-product-cat.bracket > .general > .standard > .standard-wrap {
  width: calc(100% - 30px);
  margin-left: auto;
}
@media screen and (max-width: 1024px) {
  main.taxonomy-product-cat.bracket > .general > .standard > .standard-wrap {
    margin-left: initial;
    margin: auto;
  }
}
main.taxonomy-product-cat.bracket > .general > .standard > .standard-wrap > .cttc {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-image: linear-gradient(90deg, #F5F5F5 73%, #fff 73%);
  padding: 40px;
  height: 484px;
}
@media screen and (max-width: 1024px) {
  main.taxonomy-product-cat.bracket > .general > .standard > .standard-wrap > .cttc {
    flex-direction: column;
    align-items: center;
    height: auto;
    background-image: initial;
    background-color: #F5F5F5;
  }
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.bracket > .general > .standard > .standard-wrap > .cttc {
    padding: 40px 15px;
  }
}
main.taxonomy-product-cat.bracket > .general > .standard > .standard-wrap > .cttc > .ctt > .ctt-list {
  display: grid;
  gap: 20px;
}
main.taxonomy-product-cat.bracket > .general > .standard > .standard-wrap > .cttc > .ctt > .ctt-list > .ctt-item {
  display: flex;
  gap: 20px;
}
main.taxonomy-product-cat.bracket > .general > .standard > .standard-wrap > .cttc > .ctt > .ctt-list > .ctt-item .ctt-icon {
  width: 60px;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.bracket > .general > .standard > .standard-wrap > .cttc > .ctt > .ctt-list > .ctt-item .ctt-icon {
    width: 45px;
  }
}
main.taxonomy-product-cat.bracket > .general > .standard > .standard-wrap > .cttc > .ctt > .ctt-list > .ctt-item > .ctt-group {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.bracket > .general > .standard > .standard-wrap > .cttc > .ctt > .ctt-list > .ctt-item > .ctt-group > .ttlc {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
main.taxonomy-product-cat.bracket > .general > .standard > .standard-wrap > .cttc > .ctt > .ctt-list > .ctt-item > .ctt-group > .ttlc > .ttl {
  font-size: 20px;
  font-weight: var(--fw-bold);
  color: var(--col-navy);
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.bracket > .general > .standard > .standard-wrap > .cttc > .ctt > .ctt-list > .ctt-item > .ctt-group > .ttlc > .ttl {
    font-size: 18px;
  }
}
main.taxonomy-product-cat.bracket > .general > .standard > .standard-wrap > .cttc > .ctt > .ctt-list > .ctt-item > .ctt-group > .ctt-detail {
  margin-top: 15px;
  display: flex;
  gap: 3px;
}
main.taxonomy-product-cat.bracket > .general > .standard > .standard-wrap > .cttc > .ctt > .ctt-list > .ctt-item > .ctt-group > .ctt-detail > .ctt-label {
  font-size: 14px;
  font-weight: var(--fw-bold);
  white-space: nowrap;
}
main.taxonomy-product-cat.bracket > .general > .standard > .standard-wrap > .cttc > .ctt > .ctt-list > .ctt-item > .ctt-group > .ctt-detail > .ctt-value > .txt {
  font-size: 14px;
  font-weight: var(--fw-med);
}
main.taxonomy-product-cat.bracket > .general > .standard > .standard-wrap > .cttc > .ctt > .ctt-list > .ctt-item > .ctt-group > .ctt-detail > .ctt-value > .note {
  margin-top: 10px;
}
main.taxonomy-product-cat.bracket > .general > .standard > .standard-wrap > .cttc > .ctt > .note {
  margin-top: 40px;
}
main.taxonomy-product-cat.bracket > .general > .standard > .standard-wrap > .cttc > .img {
  max-width: 452px;
  width: 50%;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.3019607843);
  margin-top: 20px;
}
@media screen and (max-width: 1024px) {
  main.taxonomy-product-cat.bracket > .general > .standard > .standard-wrap > .cttc > .img {
    width: 100%;
    margin-top: initial;
  }
}
main.taxonomy-product-cat.bracket > .general > .standard > .standard-wrap > .note {
  margin-top: 40px;
  max-width: 640px;
  width: 55%;
}
@media screen and (max-width: 1024px) {
  main.taxonomy-product-cat.bracket > .general > .standard > .standard-wrap > .note {
    width: 100%;
  }
}
main.taxonomy-product-cat.bracket > .qrobust {
  padding-top: 120px;
}
main.taxonomy-product-cat.bracket > .qrobust > .mv {
  max-width: 1280px;
  width: 100%;
  margin: 60px auto 0;
}
main.taxonomy-product-cat.bracket > .qrobust > .mv > .mv-wrap {
  width: 100%;
  padding-right: 15px;
  position: relative;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.bracket > .qrobust > .mv > .mv-wrap {
    padding-left: 15px;
  }
}
main.taxonomy-product-cat.bracket > .qrobust > .mv > .mv-wrap > .mv-left {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 710px;
  width: 80%;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.bracket > .qrobust > .mv > .mv-wrap > .mv-left {
    display: none;
  }
}
main.taxonomy-product-cat.bracket > .qrobust > .mv > .mv-wrap > .mv-right {
  max-width: 570px;
  width: 60%;
  margin-left: auto;
  position: relative;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.bracket > .qrobust > .mv > .mv-wrap > .mv-right {
    max-width: 484px;
    width: 100%;
    margin: auto;
  }
}
main.taxonomy-product-cat.bracket > .qrobust > .container > .lead {
  margin-top: 20px;
  font-size: 16px;
  font-weight: var(--fw-bold);
  line-height: 1.75;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.bracket > .qrobust > .container > .lead {
    margin-top: 40px;
  }
}
main.taxonomy-product-cat.bracket > .qrobust > .container > .img {
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.bracket > .qrobust > .container > .img {
    overflow-x: scroll;
  }
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.bracket > .qrobust > .container > .img img {
    max-width: initial;
    width: 800px;
  }
}
main.taxonomy-product-cat.bracket > .wall-surface {
  padding: 120px 0;
}
main.taxonomy-product-cat.bracket > .wall-surface > .container > .list {
  margin-top: 60px;
  display: flex;
  gap: 32px;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.bracket > .wall-surface > .container > .list {
    flex-direction: column;
    align-items: center;
    gap: 68px;
  }
}
main.taxonomy-product-cat.bracket > .wall-surface > .container > .list > .item {
  flex: 1;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.bracket > .wall-surface > .container > .list > .item {
    max-width: 484px;
    width: 100%;
    margin: auto;
  }
}
main.taxonomy-product-cat.bracket > .wall-surface > .container > .list > .item > .head {
  padding: 10px 20px;
  background-color: #F5F5F5;
  font-size: 20px;
  font-weight: var(--fw-bold);
  color: var(--col-navy);
}
main.taxonomy-product-cat.bracket > .wall-surface > .container > .list > .item > .img {
  margin-top: 30px;
}
main.taxonomy-product-cat.bracket > .wall-surface > .explanation {
  margin-top: 80px;
  padding: 40px 0;
  background-color: #F5F5F5;
}
main.taxonomy-product-cat.bracket > .wall-surface > .explanation > .explanation-wrap {
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  gap: 68px;
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.bracket > .wall-surface > .explanation > .explanation-wrap {
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
  }
}
main.taxonomy-product-cat.bracket > .wall-surface > .explanation > .explanation-wrap > .img {
  max-width: 376px;
  width: 100%;
}
main.taxonomy-product-cat.bracket .sec-wrap {
  max-width: 1140px;
}
main.taxonomy-product-cat.bracket .sec-ttl {
  font-size: 32px;
  font-weight: var(--fw-bold);
  text-align: center;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.bracket .sec-ttl {
    font-size: 26px;
  }
}
main.taxonomy-product-cat.bracket .sub-ttl {
  font-size: 24px;
  font-weight: var(--fw-bold);
  text-align: center;
  color: var(--col-navy);
  margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.bracket .sub-ttl {
    font-size: 18px;
  }
}
main.taxonomy-product-cat.bracket .sec-detail {
  padding-top: 60px;
}
main.taxonomy-product-cat.bracket .sec-detail > .list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
@media screen and (max-width: 1024px) {
  main.taxonomy-product-cat.bracket .sec-detail > .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.bracket .sec-detail > .list {
    grid-template-columns: initial;
    place-content: center;
  }
}
main.taxonomy-product-cat.bracket .sec-detail > .list > .item > .head {
  display: flex;
  align-items: center;
  gap: 20px;
}
main.taxonomy-product-cat.bracket .sec-detail > .list > .item > .head > .head-icon {
  max-width: 80px;
  min-width: 80px;
}
main.taxonomy-product-cat.bracket .sec-detail > .list > .item > .head > .ttl {
  font-size: 20px;
  font-weight: var(--fw-bold);
}
main.taxonomy-product-cat.bracket .sec-detail > .list > .item > .txt {
  margin-top: 20px;
  font-size: 14px;
}
main.taxonomy-product-cat.bracket .sec-detail > .target-prod {
  margin-top: 60px;
  display: flex;
}
main.taxonomy-product-cat.bracket .sec-detail > .target-prod > .target-label {
  font-size: 16px;
  font-weight: var(--fw-bold);
  color: #fff;
  text-align: center;
  min-width: 226px;
  background-color: var(--col-navy);
  display: grid;
  place-content: center;
}
@media screen and (max-width: 600px) {
  main.taxonomy-product-cat.bracket .sec-detail > .target-prod > .target-label {
    min-width: 120px;
  }
}
main.taxonomy-product-cat.bracket .sec-detail > .target-prod > .target-value {
  padding: 20px 32px;
  background-color: #F5F5F5;
  width: 100%;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.bracket .sec-detail > .target-prod > .target-value {
    padding: 15px;
  }
}
main.taxonomy-product-cat.bracket .sec-detail > .target-prod > .target-value > .txt {
  font-size: 16px;
  font-weight: var(--fw-bold);
  position: relative;
  padding-left: 16px;
}
main.taxonomy-product-cat.bracket .sec-detail > .target-prod > .target-value > .txt::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  background-color: var(--col-black);
  border-radius: 50%;
}
main.taxonomy-product-cat.bracket .sec-detail > .target-prod > .target-value > .note {
  margin-top: 10px;
}
main.taxonomy-product-cat.bracket .sec-detail > .note {
  margin-top: 30px;
}
main.taxonomy-product-cat.bracket .note > .txt {
  display: block;
  font-size: 10px;
  font-weight: var(--fw-reg);
  text-indent: -11px;
  padding-left: 11px;
  margin: 2px 0;
}

main.taxonomy-product-cat.v2h > .intro > .container {
  max-width: 915px;
}
main.taxonomy-product-cat.v2h > .power-station > .container > .sec-ttl,
main.taxonomy-product-cat.v2h > .tribrid > .container > .sec-ttl {
  font-size: 32px;
  font-weight: var(--fw-bold);
  text-align: center;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.v2h > .power-station > .container > .sec-ttl,
  main.taxonomy-product-cat.v2h > .tribrid > .container > .sec-ttl {
    font-size: 26px;
  }
}
main.taxonomy-product-cat.v2h > .power-station > .container > .sec-ttl br,
main.taxonomy-product-cat.v2h > .tribrid > .container > .sec-ttl br {
  display: none;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.v2h > .power-station > .container > .sec-ttl br,
  main.taxonomy-product-cat.v2h > .tribrid > .container > .sec-ttl br {
    display: block;
  }
}
main.taxonomy-product-cat.v2h > .power-station > .container > .sub-ttl,
main.taxonomy-product-cat.v2h > .tribrid > .container > .sub-ttl {
  font-size: 24px;
  font-weight: var(--fw-bold);
  text-align: center;
  color: var(--col-navy);
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #999999;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.v2h > .power-station > .container > .sub-ttl,
  main.taxonomy-product-cat.v2h > .tribrid > .container > .sub-ttl {
    font-size: 16px;
  }
}
main.taxonomy-product-cat.v2h > .power-station > .container > .img,
main.taxonomy-product-cat.v2h > .tribrid > .container > .img {
  margin-top: 54px;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.v2h > .power-station > .container > .img,
  main.taxonomy-product-cat.v2h > .tribrid > .container > .img {
    overflow-x: scroll;
  }
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.v2h > .power-station > .container > .img img,
  main.taxonomy-product-cat.v2h > .tribrid > .container > .img img {
    width: 850px;
    max-width: initial;
  }
}
main.taxonomy-product-cat.v2h > .power-station > .container .com-list,
main.taxonomy-product-cat.v2h > .tribrid > .container .com-list {
  display: grid;
  gap: 20px;
}
main.taxonomy-product-cat.v2h > .power-station > .container .com-list .com-item,
main.taxonomy-product-cat.v2h > .tribrid > .container .com-list .com-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.v2h > .power-station > .container .com-list .com-item,
  main.taxonomy-product-cat.v2h > .tribrid > .container .com-list .com-item {
    gap: 10px;
  }
}
main.taxonomy-product-cat.v2h > .power-station > .container .com-list .com-item .com-icon,
main.taxonomy-product-cat.v2h > .tribrid > .container .com-list .com-item .com-icon {
  max-width: 80px;
  min-width: 80px;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.v2h > .power-station > .container .com-list .com-item .com-icon,
  main.taxonomy-product-cat.v2h > .tribrid > .container .com-list .com-item .com-icon {
    max-width: 60px;
    min-width: 60px;
  }
}
main.taxonomy-product-cat.v2h > .power-station > .container .com-list .com-item .com-txt,
main.taxonomy-product-cat.v2h > .tribrid > .container .com-list .com-item .com-txt {
  font-size: 20px;
  font-weight: var(--fw-bold);
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.v2h > .power-station > .container .com-list .com-item .com-txt,
  main.taxonomy-product-cat.v2h > .tribrid > .container .com-list .com-item .com-txt {
    font-size: 16px;
  }
}
main.taxonomy-product-cat.v2h > .power-station > .container .note,
main.taxonomy-product-cat.v2h > .tribrid > .container .note {
  margin-bottom: 40px;
}
main.taxonomy-product-cat.v2h > .power-station > .container .note > .txt,
main.taxonomy-product-cat.v2h > .tribrid > .container .note > .txt {
  display: block;
  font-weight: var(--fw-reg);
  margin: 2px 0;
}
@media screen and (max-width: 1044px) {
  main.taxonomy-product-cat.v2h > .power-station > .container .accordion,
  main.taxonomy-product-cat.v2h > .tribrid > .container .accordion {
    margin-top: 40px;
  }
}
main.taxonomy-product-cat.v2h > .power-station > .container .accordion > .accordion-btn,
main.taxonomy-product-cat.v2h > .tribrid > .container .accordion > .accordion-btn {
  max-width: 484px;
  width: 100%;
  margin-left: auto;
}
@media screen and (max-width: 1044px) {
  main.taxonomy-product-cat.v2h > .power-station > .container .accordion > .accordion-btn,
  main.taxonomy-product-cat.v2h > .tribrid > .container .accordion > .accordion-btn {
    margin-left: initial;
    margin: auto;
  }
}
main.taxonomy-product-cat.v2h > .power-station > .container .accordion > .accordion-content,
main.taxonomy-product-cat.v2h > .tribrid > .container .accordion > .accordion-content {
  margin: 40px 0;
}
@media screen and (max-width: 1044px) {
  main.taxonomy-product-cat.v2h > .power-station > .container .accordion > .accordion-content,
  main.taxonomy-product-cat.v2h > .tribrid > .container .accordion > .accordion-content {
    overflow-x: scroll;
  }
}
main.taxonomy-product-cat.v2h > .power-station > .container .accordion > .accordion-content table,
main.taxonomy-product-cat.v2h > .tribrid > .container .accordion > .accordion-content table {
  width: 1000px;
  margin: 0;
}
main.taxonomy-product-cat.v2h > .power-station > .container .accordion > .accordion-content table tbody tr,
main.taxonomy-product-cat.v2h > .tribrid > .container .accordion > .accordion-content table tbody tr {
  border-bottom: initial;
}
main.taxonomy-product-cat.v2h > .power-station > .container .accordion > .accordion-content table tbody tr.b-text td,
main.taxonomy-product-cat.v2h > .tribrid > .container .accordion > .accordion-content table tbody tr.b-text td {
  font-weight: var(--fw-bold);
}
main.taxonomy-product-cat.v2h > .power-station > .container .accordion > .accordion-content table tbody tr td,
main.taxonomy-product-cat.v2h > .tribrid > .container .accordion > .accordion-content table tbody tr td {
  font-size: 14px;
  font-weight: var(--fw-reg);
  border-bottom: 1px solid #eee;
  vertical-align: middle;
  padding: 10px 5px 10px 15px;
  position: relative;
}
main.taxonomy-product-cat.v2h > .power-station > .container .accordion > .accordion-content table tbody tr td.separator::before,
main.taxonomy-product-cat.v2h > .tribrid > .container .accordion > .accordion-content table tbody tr td.separator::before {
  content: "";
  width: 10px;
  height: 100%;
  position: absolute;
  background: #fff;
  left: -2px;
  top: 2px;
}
main.taxonomy-product-cat.v2h > .power-station {
  padding-top: 120px;
}
main.taxonomy-product-cat.v2h > .power-station > .container > .ps-detailc {
  margin-top: 60px;
}
main.taxonomy-product-cat.v2h > .power-station > .container > .ps-detailc > .ps-detail {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 118px;
}
@media screen and (max-width: 1044px) {
  main.taxonomy-product-cat.v2h > .power-station > .container > .ps-detailc > .ps-detail {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.v2h > .power-station > .container > .ps-detailc > .ps-detail {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
main.taxonomy-product-cat.v2h > .power-station > .container > .ps-detailc > .ps-detail > .img {
  max-width: 312px;
  width: 35%;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.v2h > .power-station > .container > .ps-detailc > .ps-detail > .img {
    width: 100%;
  }
}
main.taxonomy-product-cat.v2h > .power-station > .container > .more-btn {
  display: block;
  max-width: 484px;
  width: 100%;
  margin: 80px auto 0;
}
main.taxonomy-product-cat.v2h > .tribrid {
  padding: 140px 0 120px;
}
main.taxonomy-product-cat.v2h > .tribrid > .container > .list {
  margin-top: 60px;
}
main.taxonomy-product-cat.v2h > .tribrid > .container > .list > .item:not(:first-of-type) {
  margin-top: 109px;
}
main.taxonomy-product-cat.v2h > .tribrid > .container > .list > .item > .tribrid-content {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 118px;
}
@media screen and (max-width: 1044px) {
  main.taxonomy-product-cat.v2h > .tribrid > .container > .list > .item > .tribrid-content {
    gap: 40px;
  }
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.v2h > .tribrid > .container > .list > .item > .tribrid-content {
    flex-direction: column;
  }
}
main.taxonomy-product-cat.v2h > .tribrid > .container > .list > .item > .tribrid-content > .img {
  max-width: 312px;
  width: 65%;
  position: relative;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.v2h > .tribrid > .container > .list > .item > .tribrid-content > .img {
    width: 100%;
  }
}
main.taxonomy-product-cat.v2h > .tribrid > .container > .list > .item > .tribrid-content > .img > .txt {
  position: absolute;
  left: 0;
  bottom: 10px;
  font-size: 11px;
  font-weight: var(--fw-bold);
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}
main.taxonomy-product-cat.v2h > .tribrid > .container > .list > .item > .tribrid-content > .img > .txt .txt-2 {
  width: 35%;
}
main.taxonomy-product-cat.v2h > .tribrid > .container > .list > .item > .tribrid-content > .img > .txt .txt-3 {
  width: 45%;
}
main.taxonomy-product-cat.v2h > .tribrid > .container > .list > .item > .tribrid-content > .meta {
  max-width: 484px;
  width: 100%;
}
main.taxonomy-product-cat.v2h > .tribrid > .container > .list > .item > .tribrid-content > .meta > .name {
  font-size: 24px;
  font-weight: var(--fw-bold);
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat.v2h > .tribrid > .container > .list > .item > .tribrid-content > .meta > .name {
    font-size: 20px;
  }
}
main.taxonomy-product-cat.v2h > .tribrid > .container > .list > .item > .tribrid-content > .meta > .type {
  font-size: 16px;
  color: #999999;
  margin-top: 5px 0;
}
main.taxonomy-product-cat.v2h > .tribrid > .container > .list > .item > .tribrid-content > .meta > .com-list {
  margin-top: 20px;
  padding-top: 30px;
  border-top: 1px solid #CCCCCC;
}/*# sourceMappingURL=product-cat.css.map */