main.taxonomy-product-cat * {
  letter-spacing: unset !important;
}

main.taxonomy-product-cat {
  --fw-reg: 400;
  --fw-med: 500;
  --fw-bold: 700;
  --col-orange: #ee7744;
  --col-lit-orange: #ee77441a;
  --col-navy: #3366aa;
  --col-gray: #ccc;
  --col-black: #333;
}
main.taxonomy-product-cat * {
  font-family: "Figtree", "Noto Sans JP", sans-serif !important;
}
main.taxonomy-product-cat p,
main.taxonomy-product-cat h2,
main.taxonomy-product-cat h3,
main.taxonomy-product-cat h4,
main.taxonomy-product-cat h5,
main.taxonomy-product-cat ul,
main.taxonomy-product-cat button,
main.taxonomy-product-cat a {
  margin: 0;
  padding: 0;
  font-weight: var(--fw-reg);
  color: var(--col-black);
  line-height: 1.6;
}
main.taxonomy-product-cat img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
main.taxonomy-product-cat table th,
main.taxonomy-product-cat table td {
  padding: 0;
}
main.taxonomy-product-cat sup {
  font-size: 60%;
}
@media screen and (max-width: 1024px) {
  main.taxonomy-product-cat .none-max-l {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat .none-max-t {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  main.taxonomy-product-cat .none-max-ml {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  main.taxonomy-product-cat .none-min-l {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  main.taxonomy-product-cat .none-min-t {
    display: none;
  }
}
@media screen and (min-width: 426px) {
  main.taxonomy-product-cat .none-min-ml {
    display: none;
  }
}
main.taxonomy-product-cat .wrapper {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}
main.taxonomy-product-cat .container {
  max-width: 1000px;
  width: calc(100% - 30px);
  margin: auto;
  padding: 0;
}
main.taxonomy-product-cat .mv-re-rise {
  background: url(../images/tax-prod-cat/mv-re-rise.png) no-repeat center bottom/cover;
}
main.taxonomy-product-cat .col-re-rise {
  color: var(--col-orange);
}
main.taxonomy-product-cat .bg-re-rise {
  background: transparent linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(238, 119, 68, 0.2) 100%) 0% 0% no-repeat padding-box;
}
main.taxonomy-product-cat .mv-q-cells {
  background: url(../images/tax-prod-cat/mv-qcells.png) no-repeat center bottom/cover;
}
main.taxonomy-product-cat .col-q-cells {
  color: var(--col-navy);
}
main.taxonomy-product-cat .bg-q-cells {
  background: transparent linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(51, 102, 170, 0.2) 100%) 0% 0% no-repeat padding-box;
}
main.taxonomy-product-cat > .mv {
  height: 360px;
}
main.taxonomy-product-cat > .mv > .container {
  position: relative;
  height: 100%;
}
main.taxonomy-product-cat > .mv > .container > .ttlc {
  position: absolute;
  left: 0;
  top: 30%;
}
main.taxonomy-product-cat > .mv > .container > .ttlc * {
  color: #fff;
}
main.taxonomy-product-cat > .mv > .container > .ttlc > .prod-name {
  font-size: 60px;
  font-weight: var(--fw-bold);
  line-height: 1.2;
  letter-spacing: 0.04em !important;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .mv > .container > .ttlc > .prod-name {
    font-size: 48px;
  }
}
main.taxonomy-product-cat > .mv > .container > .ttlc > .ttl {
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.1em !important;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .mv > .container > .ttlc > .ttl {
    font-size: 16px;
  }
}
main.taxonomy-product-cat > .top {
  padding: 0 0 100px;
}
main.taxonomy-product-cat > .top > .container {
  position: relative;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .top > .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 32px;
  }
}
main.taxonomy-product-cat > .top > .container > .share {
  display: flex;
  align-items: center;
  gap: 32px;
}
main.taxonomy-product-cat > .top > .container > .share > .img {
  max-width: 226px;
  width: 22%;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .top > .container > .share > .img {
    width: 100%;
  }
}
main.taxonomy-product-cat > .top > .container > .panel {
  position: absolute;
  right: 0;
  bottom: -18px;
  max-width: 484px;
  width: 50%;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .top > .container > .panel {
    position: relative;
    bottom: initial;
    width: 100%;
  }
}
main.taxonomy-product-cat > .intro {
  padding: 66px 0;
}
main.taxonomy-product-cat > .intro > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 830px;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .intro > .container {
    flex-direction: column;
    gap: 40px;
  }
}
main.taxonomy-product-cat > .intro > .container * {
  letter-spacing: 0.04em !important;
}
main.taxonomy-product-cat > .intro > .container > .img {
  max-width: 226px;
  width: 100%;
}
main.taxonomy-product-cat > .intro > .container > .ctt > .name {
  font-size: 32px;
  font-weight: var(--fw-bold);
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .intro > .container > .ctt > .name {
    text-align: center;
  }
}
main.taxonomy-product-cat > .intro > .container > .ctt > .txt {
  margin-top: 40px;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .intro > .container > .ctt > .txt {
    text-align: center;
  }
}
main.taxonomy-product-cat > .lineup {
  padding: 100px 0 120px;
}
main.taxonomy-product-cat > .lineup > .container * {
  letter-spacing: 0.04em !important;
}
main.taxonomy-product-cat > .lineup > .container > .ttl {
  font-size: 32px;
  text-align: center;
}
main.taxonomy-product-cat > .lineup > .container > .choose {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .lineup > .container > .choose {
    flex-direction: column;
    align-items: start;
  }
}
main.taxonomy-product-cat > .lineup > .container > .choose > .all {
  position: relative;
  background-color: initial;
  color: #666666;
  padding: 0 0 0 50px;
  font-weight: var(--fw-bold);
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .lineup > .container > .choose > .all {
    width: 100%;
    text-align: left;
    padding: 15px 0;
    border-bottom: 1px solid var(--col-gray);
    border-top: 1px solid var(--col-gray);
    font-size: 16px;
  }
}
main.taxonomy-product-cat > .lineup > .container > .choose > .all:hover {
  color: var(--col-orange);
}
main.taxonomy-product-cat > .lineup > .container > .choose > .all:hover::before {
  background: url(../images/tax-prod-cat/icon-all-orange.png) no-repeat center/contain;
}
main.taxonomy-product-cat > .lineup > .container > .choose > .all::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  background: url(../images/tax-prod-cat/icon-all-gray.png) no-repeat center/contain;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .lineup > .container > .choose > .all::before {
    content: none;
  }
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series,
main.taxonomy-product-cat > .lineup > .container > .choose > .size {
  width: 226px;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .lineup > .container > .choose > .series,
  main.taxonomy-product-cat > .lineup > .container > .choose > .size {
    width: 100%;
  }
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select,
main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select {
  position: relative;
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select.open .custom-selected,
main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select.open .custom-selected {
  border-bottom: 1px solid var(--col-black);
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select.open .custom-selected::after,
main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select.open .custom-selected::after {
  background-color: var(--col-black);
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select > .custom-selected,
main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select > .custom-selected {
  cursor: pointer;
  font-weight: var(--fw-bold);
  color: var(--col-gray);
  padding: 0 0 10px;
  border-bottom: 1px solid var(--col-gray);
  position: relative;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select > .custom-selected,
  main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select > .custom-selected {
    padding: 15px 0;
    font-size: 16px;
  }
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select > .custom-selected:hover,
main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select > .custom-selected:hover {
  border-bottom: 1px solid var(--col-black);
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select > .custom-selected:hover::after,
main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select > .custom-selected:hover::after {
  background-color: var(--col-black);
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select > .custom-selected::after,
main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select > .custom-selected::after {
  content: "";
  position: absolute;
  right: 0;
  top: 10px;
  width: 12px;
  height: 6px;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  background-color: var(--col-gray);
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select > .custom-selected::after,
  main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select > .custom-selected::after {
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select > .custom-selected.has-value,
main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select > .custom-selected.has-value {
  color: var(--col-black);
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select > .custom-options,
main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select > .custom-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 0 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select > .custom-options,
  main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select > .custom-options {
    position: relative;
  }
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select > .custom-options li,
main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select > .custom-options li {
  cursor: pointer;
  font-size: 14px;
  font-weight: var(--fw-med);
  line-height: 1.1428571429;
  margin: 20px 0;
  width: fit-content;
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series > .custom-select > .custom-options li:hover,
main.taxonomy-product-cat > .lineup > .container > .choose > .size > .custom-select > .custom-options li:hover {
  text-decoration: underline;
}
main.taxonomy-product-cat > .lineup > .container > .choose > .series {
  margin-left: 9%;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .lineup > .container > .choose > .series {
    margin-left: initial;
  }
}
main.taxonomy-product-cat > .lineup > .container > .choose > .size {
  margin-left: 3%;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .lineup > .container > .choose > .size {
    margin-left: initial;
  }
}
main.taxonomy-product-cat > .lineup > .container > .prod-list {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px 32px;
}
@media screen and (max-width: 1024px) {
  main.taxonomy-product-cat > .lineup > .container > .prod-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .lineup > .container > .prod-list {
    grid-template-columns: initial;
    margin-top: 60px;
  }
}
main.taxonomy-product-cat > .lineup > .container > .prod-list > .prod-item {
  display: block;
}
main.taxonomy-product-cat > .lineup > .container > .prod-list > .prod-item:hover {
  opacity: 1;
}
main.taxonomy-product-cat > .lineup > .container > .prod-list > .prod-item:hover .img img {
  transform: scale(1.05);
}
main.taxonomy-product-cat > .lineup > .container > .prod-list > .prod-item:hover .ttl .name {
  opacity: 0.7;
}
main.taxonomy-product-cat > .lineup > .container > .prod-list > .prod-item > .img {
  overflow: hidden;
}
main.taxonomy-product-cat > .lineup > .container > .prod-list > .prod-item > .img > img {
  transition: transform 0.3s ease;
  aspect-ratio: 312/226;
}
main.taxonomy-product-cat > .lineup > .container > .prod-list > .prod-item > .ttl {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  main.taxonomy-product-cat > .lineup > .container > .prod-list > .prod-item > .ttl {
    margin-top: 20px;
  }
}
main.taxonomy-product-cat > .lineup > .container > .prod-list > .prod-item > .ttl > .new {
  padding: 7px 6px;
  background-color: var(--col-orange);
  color: #fff;
  font-size: 12px;
  font-weight: var(--fw-med);
}
main.taxonomy-product-cat > .lineup > .container > .prod-list > .prod-item > .ttl > .name {
  font-size: 20px;
  font-weight: var(--fw-bold);
  transition: opacity 0.3s;
}/*# sourceMappingURL=taxonomy-product-cat.css.map */