@charset "UTF-8";
/*_____ お客様インタビュー 一覧ページ _____*/
.mv_for_page.interview {
  position: relative;
  height: 320px;
  background-size: cover;
  background-position: center bottom;
}
.mv_for_page.interview h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: min(40px, 5vw);
  color: #333;
}
.mv_for_page.interview .sub-title {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 500;
  font-family: "Figtree";
  color: #333;
  letter-spacing: 0.8px;
}

.archive-voice .section-title {
  font-size: 32px;
  text-align: center;
  color: #333;
  margin-bottom: 50px;
}
.archive-voice .post-filter-area {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  background: #f5f5f5;
  padding-block: 30px;
}
.archive-voice .post-filter-area .voice-category-wrap {
  width: 100%;
  max-width: 1000px;
  margin-inline: auto;
}
.archive-voice .post-filter-area .voice-category-wrap .voice-category-buttons {
  display: flex;
  margin-bottom: 0;
  background: white;
  width: fit-content;
  border-radius: 35px;
}
.archive-voice .post-filter-area .voice-category-wrap .voice-category-buttons li .filter-button {
  background: unset;
  color: #333333;
  font-size: 14px;
  border-radius: 35px;
}
.archive-voice .post-filter-area .voice-category-wrap .voice-category-buttons li .filter-button.active {
  color: white;
  background: #666;
}
.archive-voice .post-filter-area .voice-category-wrap .voice-category-buttons li .filter-button.active:hover {
  color: white;
}
.archive-voice .post-filter-area .voice-category-wrap .voice-category-buttons li:nth-child(2) .filter-button:hover {
  color: #ee7744;
}
.archive-voice .post-filter-area .voice-category-wrap .voice-category-buttons li:nth-child(2) .filter-button.active {
  background: #ee7744;
}
.archive-voice .post-filter-area .voice-category-wrap .voice-category-buttons li:nth-child(2) .filter-button.active:hover {
  color: white;
}
.archive-voice .post-filter-area .voice-category-wrap .voice-category-buttons li:nth-child(3) .filter-button:hover {
  color: #3366aa;
}
.archive-voice .post-filter-area .voice-category-wrap .voice-category-buttons li:nth-child(3) .filter-button.active {
  background: #3366aa;
}
.archive-voice .post-filter-area .voice-category-wrap .voice-category-buttons li:nth-child(3) .filter-button.active:hover {
  color: white;
}
.archive-voice .voice-list-wrap {
  width: 100%;
  max-width: 1000px;
  margin-inline: auto;
  margin-top: 50px;
}
.archive-voice .voice-list-wrap .voice-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.archive-voice .voice-list-wrap .voice-list .voice-item {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1607843137);
}
.archive-voice .voice-list-wrap .voice-list .voice-item a {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.archive-voice .voice-list-wrap .voice-list .voice-item a .voice-item-textarea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 25px 20px 0;
}
.archive-voice .voice-list-wrap .voice-list .voice-item a .voice-item-textarea .voice-item-title {
  font-size: 18px;
  padding-bottom: 15px;
}
.archive-voice .voice-list-wrap .voice-list .voice-item a .voice-item-textarea .voice-item-address {
  font-size: 12px;
  text-align: right;
  margin-bottom: 12px;
  padding-top: 15px;
  border-top: 1px solid #ddd;
}
.archive-voice .voice-list-wrap .voice-list .voice-item a .voice-item-img {
  aspect-ratio: 1/1;
}
.archive-voice .voice-list-wrap .voice-list .voice-item a .voice-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0 0 10px 10px;
}
.archive-voice .voice-list-wrap .voice-list .voice-item a .voice-item-cat {
  font-size: 10px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  background: #ee7744;
  color: white;
  padding: 5px 10px;
  border-radius: 13px;
}
.archive-voice .voice-list-wrap .voice-list .voice-item a .voice-item-cat:has(.solar-storage) {
  background: #3366aa;
}

/*_____ お客様インタビュー 一覧ページ _____*/
/*_____ お客様インタビュー 個別ページ _____*/
.single-voice-title-area {
  margin-bottom: 60px;
}
.single-voice-title-area .wrap {
  position: relative;
}
.single-voice-title-area .wrap::before {
  content: "INSPIRATION";
  color: #3366aa;
  opacity: 0.05;
  position: absolute;
  top: 50%;
  left: 5px;
  font-size: 80px;
  line-height: 1;
  transform: translateY(-50%);
}
.single-voice-title-area .wrap::after {
  content: "";
  height: 2px;
  width: 90%;
  max-width: 1280px;
  background: #3366aa;
  position: absolute;
  bottom: -15px;
  left: 0;
  font-size: 80px;
  line-height: 1;
}
.single-voice-title-area .single-voice-title {
  font-size: 24px;
  font-weight: 500;
  color: #666;
  letter-spacing: 0.1em !important;
}
.single-voice-title-area .single-voice-title .bold {
  font-size: 32px;
  font-weight: bold;
  color: #3366aa;
}

.single-voice .section-title {
  text-align: center;
  color: #333;
  font-size: 40px;
  margin-bottom: 10px;
}
.single-voice .section-title-en {
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: 80px;
}
.single-voice .voice-title {
  font-size: 32px;
  color: #fff;
  background: transparent linear-gradient(90deg, #333333 0%, #767676 100%) 0% 0% no-repeat padding-box;
  padding-block: 32px;
  padding-left: 15px;
  margin-bottom: 60px;
}
.single-voice .voice-detail {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: min(120px, 10vw);
  margin-bottom: 80px;
}
.single-voice .voice-detail .voice-detail-imgs img {
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 15px;
}
.single-voice .voice-detail .voice-detail-imgs .voice-detail-address {
  font-size: 20px;
  text-align: center;
}
.single-voice .voice-detail .voice-detail-textarea .detail-head {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.single-voice .voice-detail .voice-detail-textarea .detail-head img {
  width: 100%;
  max-width: 65px;
}
.single-voice .voice-detail .voice-detail-textarea .detail-head .detail-head-text .detail-head-title {
  font-size: 20px;
}
.single-voice .voice-detail .voice-detail-textarea .detail-head .detail-head-text .detail-head-title-en {
  font-size: 12px;
}
.single-voice .voice-detail .voice-detail-textarea .status-list .status-item {
  font-size: 14px;
  display: flex;
  grid-template-columns: 1fr 3.5fr;
  gap: min(85px, 6vw);
  padding-block: 20px;
  border-bottom: 1px solid #ddd;
}
.single-voice .voice-detail .voice-detail-textarea .status-list .status-item:first-child {
  border-top: 1px solid #ddd;
}
.single-voice .voice-detail .voice-detail-textarea .status-list .status-item .status-title {
  min-width: 90px;
}
.single-voice .voice-detail .voice-detail-textarea .status-list .status-item .status-text {
  font-weight: 400;
}

.problem {
  position: relative;
  padding-block: 95px 100px;
  margin-bottom: 88px;
}
.problem::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #3366aa 0%, #cccccc 50%, #ee7744 100%);
  opacity: 0.2; /* ここで背景のみ透過 */
}
.problem .wrap .wrap_s {
  position: relative;
}
.problem .wrap .wrap_s .problem-titles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  gap: 32px;
  margin-bottom: 30px;
}
.problem .wrap .wrap_s .problem-titles .problem-title {
  font-size: 24px;
  text-align: left;
  color: #3366aa;
  place-content: center;
  padding-left: 50px;
}
.problem .wrap .wrap_s .problem-titles .problem-title:nth-child(2) {
  color: #ee7744;
}
.problem .wrap .wrap_s .problem-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.problem .wrap .wrap_s .problem-content .problem-list {
  background: white;
  padding: 60px 50px;
  border-radius: 10px;
}
.problem .wrap .wrap_s .problem-content .problem-list .problem-item {
  margin-bottom: 20px;
}

.inspiration {
  padding-block: 0 80px;
}
.inspiration .inspiration-content .inspiration-background {
  background: linear-gradient(90deg, #f5f5f5 0%, #f5f5f5 60%, transparent 60%, transparent 100%);
  padding-block: 60px;
}
.inspiration .inspiration-content .inspiration-background:first-child {
  margin-bottom: 60px;
}
.inspiration .inspiration-content .inspiration-background:nth-child(2) {
  background: linear-gradient(90deg, transparent 0%, transparent 40%, #f5f5f5 40%, #f5f5f5 100%);
}
.inspiration .inspiration-content .inspiration-background:nth-child(2) .inspiration-textarea {
  margin-right: 1em;
  margin-left: 0 !important;
}
.inspiration .inspiration-content .inspiration-background .wrap_s {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.inspiration .inspiration-content .inspiration-background .wrap_s .inspiration-textarea {
  max-width: 398px;
  margin-left: 1em;
}
.inspiration .inspiration-content .inspiration-background .wrap_s .inspiration-textarea .inspiration-title {
  font-size: 20px;
  border-bottom: 1px solid #666;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.inspiration .inspiration-content .inspiration-background .wrap_s .inspiration-textarea .inspiration-text {
  font-size: 13px;
}
.inspiration .inspiration-content .inspiration-background .wrap_s .inspiration-img {
  width: 100%;
  max-width: 480px;
  height: 100%;
  max-height: 480px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1607843137);
}
.inspiration .inspiration-content .inspiration-background .wrap_s .inspiration-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.benefit {
  background: #f5f5f5;
  padding-block: 80px;
}
.benefit .single-voice-title-area .wrap::before {
  content: "BENEFIT";
  color: #ee7744;
}
.benefit .single-voice-title-area .wrap::after {
  background: #ee7744;
}
.benefit .single-voice-title-area .single-voice-title .bold {
  color: #ee7744;
}
.benefit .benefit-content .benefit-background {
  background: linear-gradient(90deg, #fff 0%, #fff 60%, transparent 60%, transparent 100%);
  padding-block: 60px;
}
.benefit .benefit-content .benefit-background:first-child {
  margin-bottom: 60px;
}
.benefit .benefit-content .benefit-background:nth-child(2) {
  background: linear-gradient(90deg, transparent 0%, transparent 40%, #fff 40%, #fff 100%);
}
.benefit .benefit-content .benefit-background:nth-child(2) .inspiration-textarea {
  margin-right: 1em;
  margin-left: 0 !important;
}
.benefit .benefit-content .benefit-background .wrap_s {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.benefit .benefit-content .benefit-background .wrap_s .benefit-textarea {
  max-width: 398px;
  margin-left: 1em;
}
.benefit .benefit-content .benefit-background .wrap_s .benefit-textarea .benefit-title {
  font-size: 20px;
  border-bottom: 1px solid #666;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.benefit .benefit-content .benefit-background .wrap_s .benefit-textarea .benefit-text {
  font-size: 13px;
}
.benefit .benefit-content .benefit-background .wrap_s .benefit-img {
  width: 100%;
  max-width: 480px;
  height: 100%;
  max-height: 480px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1607843137);
}
.benefit .benefit-content .benefit-background .wrap_s .benefit-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.message {
  padding-block: 80px 130px;
}
.message .single-voice-title-area .wrap::before {
  content: "MESSAGE";
  color: #88bbbb;
  opacity: 0.1;
}
.message .single-voice-title-area .wrap::after {
  background: #88bbbb;
}
.message .single-voice-title-area .single-voice-title .bold {
  color: #88bbbb;
}
.message .message-content .message-background {
  background: linear-gradient(90deg, #f5f5f5 0%, #f5f5f5 60%, transparent 60%, transparent 100%);
  padding-block: 60px;
}
.message .message-content .message-background .wrap_s {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.message .message-content .message-background .wrap_s .message-textarea {
  max-width: 398px;
  margin-left: 1em;
}
.message .message-content .message-background .wrap_s .message-textarea .message-title {
  font-size: 20px;
  border-bottom: 1px solid #666;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.message .message-content .message-background .wrap_s .message-textarea .message-text {
  font-size: 13px;
}
.message .message-content .message-background .wrap_s .message-img {
  position: relative;
  bottom: -100px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1607843137);
  width: 100%;
  max-width: 480px;
  height: 100%;
  max-height: 480px;
}
.message .message-content .message-background .wrap_s .message-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.store-info {
  background: rgba(51, 102, 170, 0.0705882353);
  padding-block: 80px 120px;
}
.store-info .section-title {
  font-size: 32px;
  margin-bottom: 40px;
}
.store-info .wrap .wrap_s {
  background: white;
  padding: 80px 85px;
}
.store-info .wrap .wrap_s .store-info-title {
  color: #3366aa;
  background: #f5f5f5;
  font-size: 24px;
  padding-block: 32px 33px;
  text-align: center;
  margin-bottom: 50px;
}
.store-info .wrap .wrap_s .store-info-content {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: min(118px, 11vw);
  border-bottom: 1px solid #ccc;
  padding-bottom: 60px;
  margin-bottom: 80px;
}
.store-info .wrap .wrap_s .store-info-content .store-info-img {
  max-width: 140px;
  width: 100%;
  height: auto;
  margin-inline: auto 0;
}
.store-info .wrap .wrap_s .store-info-content .store-info-img img {
  width: 100%;
}
.store-info .wrap .wrap_s .store-info-content .store-info-textarea .company-name {
  font-size: 24px;
  margin-bottom: 30px;
}
.store-info .wrap .wrap_s .store-info-content .store-info-textarea .location,
.store-info .wrap .wrap_s .store-info-content .store-info-textarea .tel,
.store-info .wrap .wrap_s .store-info-content .store-info-textarea .site {
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.store-info .wrap .wrap_s .store-info-content .store-info-textarea .location img,
.store-info .wrap .wrap_s .store-info-content .store-info-textarea .tel img,
.store-info .wrap .wrap_s .store-info-content .store-info-textarea .site img {
  object-fit: cover;
}
.store-info .wrap .wrap_s .store-info-content .store-info-textarea .location img {
  width: 12px;
  height: 18px;
  margin-right: 10px;
}
.store-info .wrap .wrap_s .store-info-content .store-info-textarea .tel img {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}
.store-info .wrap .wrap_s .store-info-content .store-info-textarea .site {
  margin-bottom: 35px;
}
.store-info .wrap .wrap_s .store-info-content .store-info-textarea .site img {
  width: 15px;
  height: 16px;
  margin-right: 6px;
}
.store-info .wrap .wrap_s .store-info-content .store-info-textarea .site a {
  color: #3366aa;
  text-decoration: underline;
}
.store-info .wrap .wrap_s .store-info-content .store-info-textarea .sns-icons {
  display: flex;
  justify-content: left;
  gap: 20px;
}
.store-info .wrap .wrap_s .store-info-content .store-info-textarea .sns-icons .sns-icon {
  max-width: 30px;
}
.store-info .wrap .wrap_s .store-info-detail {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  gap: 85px;
}
.store-info .wrap .wrap_s .store-info-detail .store-info-detail-img img {
  width: 100%;
}
.store-info .wrap .wrap_s .store-info-detail .store-info-detail-img .img-info {
  font-size: 10px;
  text-align: center;
  margin-bottom: 50px;
}
.store-info .wrap .wrap_s .store-info-detail .store-info-detail-text p {
  margin-bottom: 60px;
}
.store-info .wrap .wrap_s .store-info-detail .store-info-detail-text p:last-child {
  margin-bottom: 40px;
}
.store-info .wrap .wrap_s .store-info-detail .store-info-detail-text .caution {
  font-size: 10px;
  font-weight: 400;
}
.store-info .wrap .wrap_s .green-alliance {
  background: #f2fbf2;
  padding: 30px;
  display: grid;
  grid-template-columns: 140px 1fr;
  gap: 30px;
  margin-top: 80px;
}
.store-info .wrap .wrap_s .green-alliance .green-alliance-logo {
  width: 140px;
  height: 140px;
}
.store-info .wrap .wrap_s .green-alliance .green-alliance-logo img {
  width: 100%;
  height: 100%;
}
.store-info .wrap .wrap_s .green-alliance .green-alliance-textarea .green-alliance-title {
  font-size: 20px;
}
.store-info .wrap .wrap_s .green-alliance .green-alliance-textarea p {
  font-size: 12px;
}
.store-info .wrap .wrap_s .green-alliance .green-alliance-textarea .green-alliance-link {
  font-size: 14px;
  text-align: center;
  color: white;
  display: block;
  width: 140px;
  background-color: #333;
  padding-block: 10px;
  border-radius: 5px;
}

.sv-breadcrumb {
  width: calc(100% - 30px);
  margin: auto;
}

main.single-voice {
  --fw-reg: 400;
  --fw-med: 500;
  --fw-bold: 700;
  --col-orange: #ee7744;
  --col-lit-orange: #ee77441a;
  --col-navy: #3366aa;
  --col-gray: #ccc;
  --col-black: #333;
}
main.single-voice p,
main.single-voice h2,
main.single-voice h3,
main.single-voice h4,
main.single-voice h5,
main.single-voice ul {
  margin: 0;
  padding: 0;
  font-weight: var(--fw-reg);
  color: var(--col-black);
  line-height: 1.6;
}
main.single-voice h2,
main.single-voice h3,
main.single-voice h4 {
  font-weight: var(--fw-bold);
}
main.single-voice section {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}
main.single-voice .sv-wrap {
  max-width: 1000px;
  width: calc(100% - 40px);
  margin: auto;
}
main.single-voice .wrapper {
  max-width: 1000px;
  width: calc(100% - 30px);
  margin: auto;
  padding: 0;
}
main.single-voice .sec-ttl {
  text-align: center;
  font-size: 32px;
  font-weight: var(--fw-bold);
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  main.single-voice .sec-ttl {
    font-size: 24px;
  }
}
main.single-voice .accordion .accordion-content {
  display: none;
}
main.single-voice .accordion .accordion-content .spec03 .spec03-item {
  display: flex;
  align-items: center;
  column-gap: 32px;
  font-size: 12px;
  line-height: 2;
}
main.single-voice .accordion .accordion-content .spec03 .spec03-item + .spec03-item {
  margin-top: 10px;
}
main.single-voice .accordion .accordion-content .spec03 .spec03-item .label {
  align-self: flex-start;
  font-weight: var(--fw-bold);
}
main.single-voice .accordion .accordion-content .spec03 .spec03-item:not(:has(.detail-label)) > * {
  width: 50%;
}
main.single-voice .accordion .accordion-content .spec03 .spec03-item:has(.detail-label) {
  display: flex;
  column-gap: 32px;
}
@media screen and (max-width: 768px) {
  main.single-voice .accordion .accordion-content .spec03 .spec03-item:has(.detail-label) {
    flex-wrap: wrap;
  }
}
main.single-voice .accordion .accordion-content .spec03 .spec03-item:has(.detail-label) .label {
  width: calc(50% - 102px);
}
@media screen and (max-width: 768px) {
  main.single-voice .accordion .accordion-content .spec03 .spec03-item:has(.detail-label) .label {
    width: 100%;
  }
}
main.single-voice .accordion .accordion-content .spec03 .spec03-item:has(.detail-label) .detail {
  flex: 1;
}
main.single-voice .accordion .accordion-content .spec03 .spec03-item:has(.detail-label) .detail .detail-row {
  display: flex;
  column-gap: 32px;
}
main.single-voice .accordion .accordion-content .spec03 .spec03-item:has(.detail-label) .detail .detail-row .detail-label {
  align-self: flex-start;
  width: 54px;
  font-size: 10px;
  font-weight: var(--fw-bold);
}
@media screen and (max-width: 768px) {
  main.single-voice .accordion .accordion-content .spec03 .spec03-item:has(.detail-label) .detail .detail-row .detail-label {
    flex: 1;
  }
}
main.single-voice .accordion .accordion-content .spec03 .spec03-item:has(.detail-label) .detail .detail-row .detail-data {
  flex: 1;
}
main.single-voice .accordion .accordion-content .spec03 .spec03-item:has(.data-1col) {
  flex-direction: column;
}
main.single-voice .accordion .accordion-content .spec03 .spec03-item:has(.data-1col) .label {
  width: 100%;
}
main.single-voice .accordion .accordion-content .spec03 .spec03-item:has(.data-1col) .data-1col {
  width: 100%;
}
main.single-voice .accordion .accordion-content .spec03 .spec03-item:has(.data-2cols) {
  flex-direction: column;
}
main.single-voice .accordion .accordion-content .spec03 .spec03-item:has(.data-2cols) .label {
  width: 100%;
}
main.single-voice .accordion .accordion-content .spec03 .spec03-item:has(.data-2cols) .data-2cols {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 100%;
}
main.single-voice .accordion .accordion-content .spec03 .spec03-item:has(.data-2cols) .data-2cols > * {
  flex: 1;
}
main.single-voice .accordion .accordion-content .spec03 .spec03-item:has(.data-2cols) .data-2cols .d2-label {
  align-self: flex-start;
}
main.single-voice .accordion .accordion-content .note {
  margin-top: 20px;
  font-size: 10px;
}
main.single-voice .accordion .accordion-content .note + .note {
  margin-top: 5px;
}
main.single-voice .accordion .accordion-btn {
  cursor: pointer;
  position: relative;
  padding: 12px 0 11px;
  border: solid 1px var(--col-gray);
  text-align: center;
  font-size: 12px;
  line-height: 1;
}
main.single-voice .accordion .accordion-btn .icon {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 12px;
  height: 12px;
}
main.single-voice .accordion .accordion-btn .icon::before, main.single-voice .accordion .accordion-btn .icon::after {
  content: "";
  position: absolute;
  top: 6px;
  display: block;
  width: 12px;
  height: 1px;
  background-color: var(--col-gray);
}
main.single-voice .accordion .accordion-btn .icon::after {
  transform: rotate(90deg);
}
main.single-voice .accordion.open .accordion-btn .icon::after {
  transform: rotate(0deg);
}
main.single-voice .accordion.typeB .accordion-btn {
  padding: 7px 0 6px;
}
main.single-voice .accordion.typeB .accordion-btn .icon {
  top: 10px;
  right: 10px;
}
main.single-voice section.single-voice-top-title .title-ja {
  text-align: center;
  color: #333;
  font-size: 40px;
}
@media screen and (max-width: 768px) {
  main.single-voice section.single-voice-top-title .title-ja {
    font-size: 32px;
  }
}
main.single-voice section.single-voice-top-title .title-en {
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: var(--fw-med);
}
@media screen and (max-width: 768px) {
  main.single-voice section.single-voice-top-title .title-en {
    margin-top: 3px;
    font-size: 18px;
  }
}
main.single-voice section.overview {
  padding: 80px 0;
}
main.single-voice section.overview .overview-ttl {
  background: transparent linear-gradient(90deg, #333333 0%, #767676 100%) 0% 0% no-repeat padding-box;
  background-size: min(1140px, 100% - 15px);
  padding: 37px 15px;
}
main.single-voice section.overview .overview-ttl .txt {
  max-width: 1000px;
  width: calc(100% - 30px);
  margin: auto;
  font-size: 32px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  main.single-voice section.overview .overview-ttl .txt {
    font-size: 24px;
  }
}
main.single-voice section.overview .sv-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 11.8%;
  margin-top: 60px;
}
main.single-voice section.overview .sv-wrap .overview-prof {
  max-width: 398px;
  width: 100%;
}
main.single-voice section.overview .sv-wrap .overview-prof .overview-prof-img {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
}
main.single-voice section.overview .sv-wrap .overview-prof .overview-prof-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
main.single-voice section.overview .sv-wrap .overview-prof .overview-prof-figure {
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: var(--fw-bold);
}
@media screen and (max-width: 768px) {
  main.single-voice section.overview .sv-wrap .overview-prof .overview-prof-figure {
    font-size: 18px;
  }
}
main.single-voice section.overview .sv-wrap .overview-status {
  flex: 1;
  min-width: 398px;
}
@media screen and (max-width: 768px) {
  main.single-voice section.overview .sv-wrap .overview-status {
    min-width: 0;
  }
}
main.single-voice section.overview .sv-wrap .overview-status .overview-status-head {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
main.single-voice section.overview .sv-wrap .overview-status .overview-status-head img {
  max-width: 65px;
  width: 100%;
}
main.single-voice section.overview .sv-wrap .overview-status .overview-status-head .os-ttl .os-ttl-ja {
  font-size: 20px;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  main.single-voice section.overview .sv-wrap .overview-status .overview-status-head .os-ttl .os-ttl-ja {
    font-size: 18px;
  }
}
main.single-voice section.overview .sv-wrap .overview-status .overview-status-head .os-ttl .os-ttl-en {
  margin-top: 5px;
  font-size: 12px;
  font-weight: var(--fw-reg);
  color: #999999;
  line-height: 1;
}
main.single-voice section.overview .sv-wrap .overview-status .overview-status-list .os-item {
  font-size: 14px;
  display: flex;
  gap: min(85px, 6vw);
  padding-block: 20px;
  border-bottom: 1px solid #ddd;
}
main.single-voice section.overview .sv-wrap .overview-status .overview-status-list .os-item:first-child {
  border-top: 1px solid #ddd;
}
main.single-voice section.overview .sv-wrap .overview-status .overview-status-list .os-item .os-label {
  width: 90px;
  font-weight: var(--fw-bold);
}
main.single-voice section.overview .sv-wrap .overview-status .overview-status-list .os-item .os-data {
  font-weight: var(--fw-reg);
}
main.single-voice .problem {
  position: relative;
  padding-block: 95px 100px;
}
main.single-voice .problem::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #3366aa 0%, #cccccc 50%, #ee7744 100%);
  opacity: 0.2; /* ここで背景のみ透過 */
}
main.single-voice .problem .sv-wrap {
  position: relative;
}
main.single-voice .problem .sv-wrap .prob-content {
  display: flex;
}
@media screen and (max-width: 768px) {
  main.single-voice .problem .sv-wrap .prob-content {
    flex-direction: column;
    align-items: center;
  }
}
main.single-voice .problem .sv-wrap .prob-content .prob-item {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 28.9256198347%;
  grid-template-rows: 130px auto;
  grid-template-areas: "ttl img" "list list";
  column-gap: 15px;
}
@media screen and (max-width: 768px) {
  main.single-voice .problem .sv-wrap .prob-content .prob-item {
    width: 100%;
  }
}
main.single-voice .problem .sv-wrap .prob-content .prob-item .prob-ttl {
  grid-area: ttl;
  position: relative;
  padding-left: 10.3305785124%;
  font-size: 24px;
  font-weight: var(--fw-bold);
  color: var(--prob-ttl-txt-col);
}
@media screen and (max-width: 768px) {
  main.single-voice .problem .sv-wrap .prob-content .prob-item .prob-ttl {
    font-size: 20px;
  }
}
main.single-voice .problem .sv-wrap .prob-content .prob-item .prob-img {
  grid-area: img;
  position: relative;
}
main.single-voice .problem .sv-wrap .prob-content .prob-item .prob-img img {
  display: inline-block;
  width: 80px;
  height: 130px;
  background-color: plum;
}
main.single-voice .problem .sv-wrap .prob-content .prob-item .prob-list {
  grid-area: list;
  margin-top: -20px;
  padding: 50px 10.3305785124%;
  background-color: #fff;
  border-radius: 10px;
}
main.single-voice .problem .sv-wrap .prob-content .prob-item .prob-list .prob-dot {
  position: relative;
  font-weight: var(--fw-bold);
}
main.single-voice .problem .sv-wrap .prob-content .prob-item .prob-list .prob-dot + .prob-dot {
  margin-top: 20px;
}
main.single-voice .problem .sv-wrap .prob-content .prob-item.customer .prob-ttl {
  --prob-ttl-txt-col: #3366aa;
  padding-top: 0.5em;
}
main.single-voice .problem .sv-wrap .prob-content .prob-item.customer .prob-dot {
  padding-left: 18px;
}
main.single-voice .problem .sv-wrap .prob-content .prob-item.customer .prob-dot::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 3px;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
}
main.single-voice .problem .sv-wrap .prob-content .prob-item.solution .prob-ttl {
  --prob-ttl-txt-col: #ee7744;
}
main.single-voice .problem .sv-wrap .prob-content .prob-item.solution .prob-dot {
  padding-left: 22px;
}
main.single-voice .problem .sv-wrap .prob-content .prob-item.solution .prob-dot::before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 0px;
  width: 16px;
  height: 16px;
  background-color: #ee7744;
  border-radius: 50%;
}
main.single-voice .problem .sv-wrap .prob-content .prob-item.solution .prob-dot::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 3px;
  width: 9px;
  height: 5px;
  border-left: solid 2px #fff;
  border-bottom: solid 2px #fff;
  transform: rotate(-45deg);
}
main.single-voice .problem .sv-wrap .prob-content .prob-arrow {
  width: 32px;
  padding-top: 20px;
}
@media screen and (max-width: 768px) {
  main.single-voice .problem .sv-wrap .prob-content .prob-arrow {
    padding-bottom: 20px;
  }
}
main.single-voice .problem .sv-wrap .prob-content .prob-arrow img {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: plum;
}
main.single-voice section.why,
main.single-voice section.changes,
main.single-voice section.message {
  padding-block: 80px;
}
main.single-voice section.why .common-voice-title,
main.single-voice section.changes .common-voice-title,
main.single-voice section.message .common-voice-title {
  overflow: hidden;
  position: relative;
  padding: 12px 15px;
}
main.single-voice section.why .common-voice-title::before,
main.single-voice section.changes .common-voice-title::before,
main.single-voice section.message .common-voice-title::before {
  color: var(--sec-main-color);
  opacity: 0.05;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 100px;
  line-height: 0.8;
}
@media screen and (max-width: 768px) {
  main.single-voice section.why .common-voice-title::before,
  main.single-voice section.changes .common-voice-title::before,
  main.single-voice section.message .common-voice-title::before {
    font-size: 84px;
  }
}
main.single-voice section.why .common-voice-title::after,
main.single-voice section.changes .common-voice-title::after,
main.single-voice section.message .common-voice-title::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 1140px;
  width: calc(100% - 20px);
  height: 2px;
  background: var(--sec-main-color);
}
main.single-voice section.why .common-voice-title .cvt-txt,
main.single-voice section.changes .common-voice-title .cvt-txt,
main.single-voice section.message .common-voice-title .cvt-txt {
  position: relative;
  max-width: 1000px;
  margin: auto;
  font-size: 24px;
  font-weight: var(--fw-med);
  color: #666666;
  letter-spacing: 2.88px !important;
}
@media screen and (max-width: 768px) {
  main.single-voice section.why .common-voice-title .cvt-txt,
  main.single-voice section.changes .common-voice-title .cvt-txt,
  main.single-voice section.message .common-voice-title .cvt-txt {
    font-size: 20px;
  }
}
main.single-voice section.why .common-voice-title .cvt-txt .cvt-bold,
main.single-voice section.changes .common-voice-title .cvt-txt .cvt-bold,
main.single-voice section.message .common-voice-title .cvt-txt .cvt-bold {
  font-size: 32px;
  font-weight: var(--fw-bold);
  color: var(--sec-main-color);
}
@media screen and (max-width: 768px) {
  main.single-voice section.why .common-voice-title .cvt-txt .cvt-bold,
  main.single-voice section.changes .common-voice-title .cvt-txt .cvt-bold,
  main.single-voice section.message .common-voice-title .cvt-txt .cvt-bold {
    font-size: 25px;
  }
}
main.single-voice section.why .common-voice-content .cvc-item,
main.single-voice section.changes .common-voice-content .cvc-item,
main.single-voice section.message .common-voice-content .cvc-item {
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  main.single-voice section.why .common-voice-content .cvc-item,
  main.single-voice section.changes .common-voice-content .cvc-item,
  main.single-voice section.message .common-voice-content .cvc-item {
    width: calc(100% - 40px);
    margin: 60px auto 0;
  }
}
main.single-voice section.why .common-voice-content .cvc-item:nth-child(odd) .cvc-wrap,
main.single-voice section.changes .common-voice-content .cvc-item:nth-child(odd) .cvc-wrap,
main.single-voice section.message .common-voice-content .cvc-item:nth-child(odd) .cvc-wrap {
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  main.single-voice section.why .common-voice-content .cvc-item:nth-child(odd) .cvc-wrap,
  main.single-voice section.changes .common-voice-content .cvc-item:nth-child(odd) .cvc-wrap,
  main.single-voice section.message .common-voice-content .cvc-item:nth-child(odd) .cvc-wrap {
    flex-direction: column-reverse;
    align-items: center;
  }
}
main.single-voice section.why .common-voice-content .cvc-item:nth-child(odd) .cvc-textarea,
main.single-voice section.changes .common-voice-content .cvc-item:nth-child(odd) .cvc-textarea,
main.single-voice section.message .common-voice-content .cvc-item:nth-child(odd) .cvc-textarea {
  padding: 50px 54px 50px 30px;
}
@media screen and (max-width: 768px) {
  main.single-voice section.why .common-voice-content .cvc-item:nth-child(odd) .cvc-textarea,
  main.single-voice section.changes .common-voice-content .cvc-item:nth-child(odd) .cvc-textarea,
  main.single-voice section.message .common-voice-content .cvc-item:nth-child(odd) .cvc-textarea {
    margin-top: -20px;
    margin-left: 0;
    margin-right: auto;
    padding: 60px 30px 50px;
  }
}
main.single-voice section.why .common-voice-content .cvc-item:nth-child(odd) .cvc-img-list,
main.single-voice section.changes .common-voice-content .cvc-item:nth-child(odd) .cvc-img-list,
main.single-voice section.message .common-voice-content .cvc-item:nth-child(odd) .cvc-img-list {
  margin-left: -54px;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  main.single-voice section.why .common-voice-content .cvc-item:nth-child(odd) .cvc-img-list,
  main.single-voice section.changes .common-voice-content .cvc-item:nth-child(odd) .cvc-img-list,
  main.single-voice section.message .common-voice-content .cvc-item:nth-child(odd) .cvc-img-list {
    margin-left: auto;
    margin-right: 0;
  }
}
main.single-voice section.why .common-voice-content .cvc-item:nth-child(even) .cvc-wrap,
main.single-voice section.changes .common-voice-content .cvc-item:nth-child(even) .cvc-wrap,
main.single-voice section.message .common-voice-content .cvc-item:nth-child(even) .cvc-wrap {
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  main.single-voice section.why .common-voice-content .cvc-item:nth-child(even) .cvc-wrap,
  main.single-voice section.changes .common-voice-content .cvc-item:nth-child(even) .cvc-wrap,
  main.single-voice section.message .common-voice-content .cvc-item:nth-child(even) .cvc-wrap {
    flex-direction: column;
    align-items: center;
  }
}
main.single-voice section.why .common-voice-content .cvc-item:nth-child(even) .cvc-img-list,
main.single-voice section.changes .common-voice-content .cvc-item:nth-child(even) .cvc-img-list,
main.single-voice section.message .common-voice-content .cvc-item:nth-child(even) .cvc-img-list {
  margin-right: -54px;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  main.single-voice section.why .common-voice-content .cvc-item:nth-child(even) .cvc-img-list,
  main.single-voice section.changes .common-voice-content .cvc-item:nth-child(even) .cvc-img-list,
  main.single-voice section.message .common-voice-content .cvc-item:nth-child(even) .cvc-img-list {
    margin-left: 0;
    margin-right: auto;
  }
}
main.single-voice section.why .common-voice-content .cvc-item:nth-child(even) .cvc-textarea,
main.single-voice section.changes .common-voice-content .cvc-item:nth-child(even) .cvc-textarea,
main.single-voice section.message .common-voice-content .cvc-item:nth-child(even) .cvc-textarea {
  padding: 50px 30px 50px 54px;
}
@media screen and (max-width: 768px) {
  main.single-voice section.why .common-voice-content .cvc-item:nth-child(even) .cvc-textarea,
  main.single-voice section.changes .common-voice-content .cvc-item:nth-child(even) .cvc-textarea,
  main.single-voice section.message .common-voice-content .cvc-item:nth-child(even) .cvc-textarea {
    margin-top: -20px;
    margin-left: auto;
    margin-right: 0;
    padding: 60px 30px 50px;
  }
}
main.single-voice section.why .common-voice-content .cvc-item .cvc-wrap,
main.single-voice section.changes .common-voice-content .cvc-item .cvc-wrap,
main.single-voice section.message .common-voice-content .cvc-item .cvc-wrap {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
main.single-voice section.why .common-voice-content .cvc-item .cvc-wrap .cvc-textarea,
main.single-voice section.changes .common-voice-content .cvc-item .cvc-wrap .cvc-textarea,
main.single-voice section.message .common-voice-content .cvc-item .cvc-wrap .cvc-textarea {
  width: 55.46875%;
  background-color: var(--cvc-textarea-bg-color);
}
@media screen and (max-width: 768px) {
  main.single-voice section.why .common-voice-content .cvc-item .cvc-wrap .cvc-textarea,
  main.single-voice section.changes .common-voice-content .cvc-item .cvc-wrap .cvc-textarea,
  main.single-voice section.message .common-voice-content .cvc-item .cvc-wrap .cvc-textarea {
    max-width: 484px;
    width: calc(100% - 40px);
  }
}
main.single-voice section.why .common-voice-content .cvc-item .cvc-wrap .cvc-textarea > *,
main.single-voice section.changes .common-voice-content .cvc-item .cvc-wrap .cvc-textarea > *,
main.single-voice section.message .common-voice-content .cvc-item .cvc-wrap .cvc-textarea > * {
  max-width: 398px;
  width: 100%;
  margin: auto;
}
main.single-voice section.why .common-voice-content .cvc-item .cvc-wrap .cvc-textarea .cvc-title,
main.single-voice section.changes .common-voice-content .cvc-item .cvc-wrap .cvc-textarea .cvc-title,
main.single-voice section.message .common-voice-content .cvc-item .cvc-wrap .cvc-textarea .cvc-title {
  font-size: 20px;
  border-bottom: 1px solid #666;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  main.single-voice section.why .common-voice-content .cvc-item .cvc-wrap .cvc-textarea .cvc-title,
  main.single-voice section.changes .common-voice-content .cvc-item .cvc-wrap .cvc-textarea .cvc-title,
  main.single-voice section.message .common-voice-content .cvc-item .cvc-wrap .cvc-textarea .cvc-title {
    font-size: 18px;
  }
}
main.single-voice section.why .common-voice-content .cvc-item .cvc-wrap .cvc-textarea .cvc-text,
main.single-voice section.changes .common-voice-content .cvc-item .cvc-wrap .cvc-textarea .cvc-text,
main.single-voice section.message .common-voice-content .cvc-item .cvc-wrap .cvc-textarea .cvc-text {
  font-size: 13px;
  font-weight: 400;
}
main.single-voice section.why .common-voice-content .cvc-item .cvc-wrap .cvc-textarea .cvc-text .cvc-bold,
main.single-voice section.changes .common-voice-content .cvc-item .cvc-wrap .cvc-textarea .cvc-text .cvc-bold,
main.single-voice section.message .common-voice-content .cvc-item .cvc-wrap .cvc-textarea .cvc-text .cvc-bold {
  font-weight: 600;
}
main.single-voice section.why .common-voice-content .cvc-item .cvc-wrap .cvc-img-list,
main.single-voice section.changes .common-voice-content .cvc-item .cvc-wrap .cvc-img-list,
main.single-voice section.message .common-voice-content .cvc-item .cvc-wrap .cvc-img-list {
  position: relative;
  max-width: 484px;
  width: calc(44.53125% + 54px);
  padding-top: 60px;
}
@media screen and (max-width: 768px) {
  main.single-voice section.why .common-voice-content .cvc-item .cvc-wrap .cvc-img-list,
  main.single-voice section.changes .common-voice-content .cvc-item .cvc-wrap .cvc-img-list,
  main.single-voice section.message .common-voice-content .cvc-item .cvc-wrap .cvc-img-list {
    width: calc(100% - 40px);
    padding-top: 0;
  }
}
main.single-voice section.why .common-voice-content .cvc-item .cvc-wrap .cvc-img-list .cvc-img + .cvc-img,
main.single-voice section.changes .common-voice-content .cvc-item .cvc-wrap .cvc-img-list .cvc-img + .cvc-img,
main.single-voice section.message .common-voice-content .cvc-item .cvc-wrap .cvc-img-list .cvc-img + .cvc-img {
  margin-top: 40px;
}
main.single-voice section.why .common-voice-content .cvc-item .cvc-wrap .cvc-img-list .cvc-img img,
main.single-voice section.changes .common-voice-content .cvc-item .cvc-wrap .cvc-img-list .cvc-img img,
main.single-voice section.message .common-voice-content .cvc-item .cvc-wrap .cvc-img-list .cvc-img img {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1607843137);
  width: 100%;
  height: auto;
  vertical-align: top;
}
main.single-voice section.why .common-voice-content .cvc-item .cvc-wrap .cvc-img-list .cvc-figure,
main.single-voice section.changes .common-voice-content .cvc-item .cvc-wrap .cvc-img-list .cvc-figure,
main.single-voice section.message .common-voice-content .cvc-item .cvc-wrap .cvc-img-list .cvc-figure {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  font-size: 12px;
}
main.single-voice section.why .common-voice-content .cvc-item .cvc-note,
main.single-voice section.changes .common-voice-content .cvc-item .cvc-note,
main.single-voice section.message .common-voice-content .cvc-item .cvc-note {
  max-width: 1000px;
  width: calc(100% - 40px);
  margin: 40px auto 0;
  padding-left: 1em;
  text-indent: -1em;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.3;
}
@media screen and (max-width: 768px) {
  main.single-voice section.why .common-voice-content .cvc-item .cvc-note,
  main.single-voice section.changes .common-voice-content .cvc-item .cvc-note,
  main.single-voice section.message .common-voice-content .cvc-item .cvc-note {
    width: 100%;
  }
}
main.single-voice section.why {
  --sec-main-color: #3366aa;
  --cvc-textarea-bg-color: #f5f5f5;
}
main.single-voice section.why .common-voice-title::before {
  content: "WHY";
}
main.single-voice section.changes {
  background-color: #f5f5f5;
  --sec-main-color: #ee7744;
  --cvc-textarea-bg-color: #fff;
}
main.single-voice section.changes .common-voice-title::before {
  content: "CHANGES";
}
main.single-voice section.message {
  --sec-main-color: #88bbbb;
  --cvc-textarea-bg-color: #f5f5f5;
}
main.single-voice section.message .common-voice-title::before {
  content: "MESSAGE";
}
main.single-voice section.contact-us {
  padding-block: 80px;
  border-block: 1px solid #cccccc;
}
main.single-voice section.contact-us .sv-wrap .sec-ttl {
  text-align: center;
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  main.single-voice section.contact-us .sv-wrap .sec-ttl {
    font-size: 24px;
  }
}
main.single-voice section.contact-us .sv-wrap .contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  margin-top: 40px;
}
main.single-voice section.contact-us .sv-wrap .contact-links .contact-link {
  max-width: 312px;
  width: 100%;
  padding: 18px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px;
  text-align: center;
  font-size: 16px;
  font-weight: var(--fw-bold);
  color: #fff;
  line-height: 1;
}
main.single-voice section.contact-us .sv-wrap .contact-links .contact-link.link-1 {
  background-color: #ee7744;
}
main.single-voice section.contact-us .sv-wrap .contact-links .contact-link.link-2 {
  background-color: #3366aa;
}
main.single-voice section.back-to-archive {
  padding-block: 40px;
}
main.single-voice section.back-to-archive .sv-wrap .to-archive-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: fit-content;
  margin: auto;
}
main.single-voice section.back-to-archive .sv-wrap .to-archive-btn:hover {
  opacity: 1;
}
main.single-voice section.back-to-archive .sv-wrap .to-archive-btn:hover .to-archive-txt {
  color: #ee7744;
}
main.single-voice section.back-to-archive .sv-wrap .to-archive-btn:hover .to-archive-icon {
  background-color: #ee7744;
}
main.single-voice section.back-to-archive .sv-wrap .to-archive-btn .to-archive-txt {
  width: fit-content;
  font-weight: var(--fw-bold);
  line-height: 1;
}
main.single-voice section.back-to-archive .sv-wrap .to-archive-btn .to-archive-icon {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #333333;
  border-radius: 50%;
}
main.single-voice section.back-to-archive .sv-wrap .to-archive-btn .to-archive-icon:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translate(10px, 11px) rotate(45deg);
}
main.single-voice section.guide {
  padding: 80px 0;
  background-color: #f5f5f5;
}
main.single-voice section.guide .flow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  main.single-voice section.guide .flow {
    row-gap: 20px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 425px) {
  main.single-voice section.guide .flow {
    flex-direction: column;
    align-items: center;
  }
}
main.single-voice section.guide .flow .step {
  position: relative;
  width: 226px;
}
@media screen and (max-width: 425px) {
  main.single-voice section.guide .flow .step {
    max-width: 226px;
    width: 100%;
  }
}
main.single-voice section.guide .flow .step:not(:last-child) {
  margin-right: 32px;
}
@media screen and (max-width: 425px) {
  main.single-voice section.guide .flow .step:not(:last-child) {
    margin-right: 0;
    margin-bottom: 40px;
  }
}
main.single-voice section.guide .flow .step:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 120px;
  right: -20px;
  display: block;
  width: 17.5px;
  height: 17.5px;
  border-top: solid 2px var(--col-orange);
  border-right: solid 2px var(--col-orange);
  transform: rotate(45deg);
}
@media screen and (max-width: 425px) {
  main.single-voice section.guide .flow .step:not(:last-child)::before {
    top: auto;
    right: auto;
    bottom: -30px;
    left: 50%;
    transform-origin: left;
    transform: rotate(135deg) translateX(-50%);
  }
}
main.single-voice section.guide .flow .step .no {
  font-size: 12px;
  font-weight: var(--fw-bold);
  color: var(--col-navy);
  line-height: 1;
}
main.single-voice section.guide .flow .step .step-ttl {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: var(--fw-bold);
}
@media screen and (max-width: 768px) {
  main.single-voice section.guide .flow .step .step-ttl {
    font-size: 16px;
  }
}
main.single-voice section.guide .flow .step .imgc {
  width: 120px;
  aspect-ratio: 1;
  margin: 20px auto 0;
}
main.single-voice section.guide .flow .step .accordion.typeB {
  margin-top: 20px;
}
main.single-voice section.guide .flow .step .accordion.typeB .accordion-btn .txt {
  font-weight: var(--fw-bold);
  color: #666;
}
main.single-voice section.guide .flow .step .accordion.typeB .accordion-content {
  padding-top: 20px;
}
main.single-voice section.guide .flow .step .accordion.typeB .accordion-content .txt {
  font-size: 12px;
  font-weight: var(--fw-med);
  line-height: 2;
}
main.single-voice section.support {
  padding: 100px 0;
}
main.single-voice section.support .wrapper > .support_list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
}
@media screen and (max-width: 768px) {
  main.single-voice section.support .wrapper > .support_list {
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
  }
}
main.single-voice section.support .wrapper > .support_list > .item {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 23px;
  margin-left: 9%;
}
@media screen and (max-width: 768px) {
  main.single-voice section.support .wrapper > .support_list > .item {
    margin-left: 0;
    gap: 15px;
  }
}
main.single-voice section.support .wrapper > .support_list > .item .imgc {
  width: 70px;
}
@media screen and (max-width: 768px) {
  main.single-voice section.support .wrapper > .support_list > .item .imgc {
    width: 40px;
  }
}
main.single-voice section.support .wrapper > .support_list > .item .txt {
  flex: 1;
  font-size: 20px;
  font-weight: var(--fw-med);
}
@media screen and (max-width: 768px) {
  main.single-voice section.support .wrapper > .support_list > .item .txt {
    font-size: 16px;
  }
}
main.single-voice section.support .wrapper > .support_list > .item:hover .txt-faq {
  color: var(--col-orange);
}
main.single-voice section.support .wrapper > .support_list > .item:hover .txt-after {
  color: var(--col-navy);
}
main.single-voice section.support .wrapper > .support_list .border {
  display: block;
  width: 1px;
  height: 80px;
  margin-left: 15px;
  background-color: var(--col-black);
}
@media screen and (max-width: 768px) {
  main.single-voice section.support .wrapper > .support_list .border {
    display: none;
  }
}

/*_____ お客様インタビュー 個別ページ _____*//*# sourceMappingURL=voice.css.map */