@use "breakpoint" as *;
/* -------------------
  TOPページ用 追加CSS
------------------- */ 
.navigation-top {
  background: #e5e5e5;
}
/*_____ navigation _____*/ 

.main-mv {
  height: calc(100vh - 70px);

  .main-catchphrase {
    width: 94%;
    margin-inline: auto;

    h1 {
      font-size: clamp(2.5rem, 1.979rem + 0.69vw, 2.813rem);
      color: white;
      @include max {
        font-size: clamp(1.75rem, 1.643rem + 0.48vw, 2rem);
      }
    }
  }

  .btn-box {
    top: unset;
    left: 50%;
    bottom: 200px;
    transform: translateX(-50%);
    z-index: 10;
    margin: 0;
    // width: fit-content;
    // height: fit-content;
    display: flex;
    justify-content: center;
    gap: 32px;
    width: 94%;
    @include max {
      bottom: 20dvh;
      gap: 15px;
    }

    .mv-btn {
      font-size: 16px;
      border-radius: 10px;
      overflow: hidden;
      margin: 0;
      padding: 0 0 14px;
      display: grid;
      gap: 10px;
      place-content: center;
      max-width: 226px;
      background-color: #FFFFFFE6;
      height: auto;
      font-size: 14px;
      color: #666666;
      font-weight: 700;
      @include max {
        gap: 5px;
      }

      &:hover {
        background-color: #FFFFFF;
        opacity: 1;
        .btn-txt::after {
          right: 17px;
        }
      }
      .btn-txt {
        font-size: 14px;
        color: #666666;
        font-weight: 700;
        line-height: initial;
        position: relative;
        @include max {
          font-size: 12px;
        }
        &::after {
          content: "";
          position: absolute;
          right: 20px;
          bottom: 6px;
          width: 9px;
          height: 9px;
          border-right: 1px solid #666666;
          border-top: 1px solid #666666;
          transform: rotate(45deg);
          transition: all .2s;
          @include max {
            bottom: 5px;
            width: 7px;
            height: 7px;
          }
        }
      }
    }
  }

  .scroll_text {
    font-family: 'Figtree';
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: block;
    color: white;
    font-size: 10px;
    font-weight: 500;
  }
  .cp_arrows {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cp_arrows .cp_arrow {/*矢印を配置するベースの設定*/
    position: absolute;
    width: 20px;
    height: 4px;
    opacity: 0;/*スタートは透明*/
    transform: scale(0.3);/*スタートは30%に縮小*/
    animation: arrow-move07 3s ease-out infinite;
  }
  .cp_arrows .cp_arrow:first-child {/*1秒ずらしてアニメーション*/
    animation: arrow-move07 3s ease-out 1s infinite;
  }
  .cp_arrows .cp_arrow:nth-child(2) {/*2秒ずらしてアニメーション*/
    animation: arrow-move07 3s ease-out 2s infinite;
  }
  .cp_arrows .cp_arrow:before,
  .cp_arrows .cp_arrow:after {/*矢印全体の設定*/
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 2px;
  }
  .cp_arrows .cp_arrow:before {/*矢印左の線の位置と傾斜*/
    left: 1px;
    transform: skewY(35deg);
  }
  .cp_arrows .cp_arrow:after {/*矢印左の線の位置と傾斜*/
    right: 1px;
    transform: skewY(-35deg);
  }
  @keyframes arrow-move07 {
    25% { opacity: 0.6;}
    43% { transform: translateY(1em); opacity: 0.8;}
    62% { transform: translateY(2em); opacity: 1;}
    100% { transform: translateY(3em) scale(0.5); opacity: 0;}
  }
}

.topic {
  padding-bottom: 140px;
  @include max {
    padding-bottom: 70px;
  }
  
  .section-title {
    color: #333;
  }

  .topic-inner {

    .wrap_s {
      justify-content: center;
      gap: min(32px, 11vw);
      &.next-more1 {
        @include max {
          padding: 30px 0 60px;
        }
      }

      li {
        min-width: 312px;
        min-height: fit-content;
        margin: 0;
        overflow: unset;

        &:hover {
          a {
            opacity: unset;
            
            img {
              transform: scale(1.1);
            }
          }

          h3 {
            color: #EE7744;
          }

          a {
            ._overflow-hidden-topic {
              &::after {
                background-image: url(/wp-content/uploads/2025/03/arrow-right.png);
                opacity: 1;
              }
            }
          }
        }

        a {

          ._overflow-hidden-topic {
            // position: relative;
            // &::after {
            //   content: "";
            //   position: absolute;
            //   right: 20px;
            //   bottom: 20px;
            //   background-image: url(/wp-content/uploads/2025/03/download.png);
            //   background-size: contain;
            //   background-repeat: no-repeat;
            //   width: 40px;
            //   height: 40px;
            //   opacity: .7;
            // }

            img {
              height: 312px;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
/*_____ topic _____*/ 

.top_movie {
  display: block;
  text-align: center;

  video {
    margin-bottom: 140px;
    @include max {
      margin-bottom: 70px;
    }
  }
}
/*_____ top_movie _____*/ 

.total-energy-solutions {
  &::before {
    content: " ";
    display: block;
    clear: both;
    background: #3366AA14 !important;
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 60px;
    right: 0px;
    z-index: 0;
  }

  .content {
    height: auto;

    &.img-size {
      overflow: unset;
      
      img {
        box-shadow: 0px 0px 40px #00000033;
      }
    }
  
    &:nth-child(2) {
      padding-top: 140px;
      @include max {
        padding-top: 0;
        width: 90vw;

        .section-title {
          padding-top: 10px;
          line-height: 1.5;
        }
      }

      .border-solid-bottom-01 {
        border-bottom: solid 1px #1b1b1b;
      }

      .btn-box {
        max-width: 226px;
      }
    }

  }

  ._link_bt3_b {

    a {
      line-height: 1.5;
      &:hover {
        &::after {
          background-color: #3D7ABB;
        }
      }
    }
  }
}
/*_____ total-energy-solutions _____*/ 

.product {

  .section-title {
    color: #333;

    .sub-title {
      margin-bottom: 0;
    }
  }

  .product-category {

    .wrap_s {
      @include max {
        padding-top: 0;
      }

      li {
        background-size: cover;
        &:nth-child(1), &:nth-child(2) {
          background-image: url(../images/top/Module_BG_TopBanner_01.jpg);
          .product-photo1 {
            img {
              display: block;
            }
          }
        }
        &:nth-child(3), &:nth-child(4) {
          background-image: url(../images/top/ESS-HEMS_BG_TopBanner_01.jpg);
          .product-photo1 {
            height: fit-content;
            margin-bottom: 0;
            @include max {
              top: unset;
              bottom: 0;
            }
          }
        }

        @media screen and (max-width: 1054px) {
          max-width: 484px;
          margin-inline: auto;
        }

        &:has(._link_bt1) {
          .product-photo1 {
            bottom: 0;
            top: unset;
            right: 4vw;
            max-width: 172px;
            height: fit-content;
            margin-bottom: 0;
            @include max {
              max-width: 150px;
            }
          }
        }

        h4 {
          font-size: 20px;
        }

        ._link_bt1,
        ._link_bt2
        {
          position: absolute;
          bottom: 40px;
        }
      }
    }
  }

  .banner1 {

    .wrap_s {

      li {
        background-image: url(../images/top/PCS_BG_TopBanner_01.jpg);
        background-size: cover;
        max-width: 312px;
        @media screen and (max-width: 1054px) {
          margin-inline: auto;
          margin-bottom: 20px;
        }

        h4 {

          a {
            font-size: 16px;
          }
        }
      }
    }
  }
}
/*_____ product _____*/ 

.retailer-system {
  margin-bottom: 230px;
  @include max {
    margin-bottom: 0;
  }

  ._left_contents {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 70px;
    @media screen and (max-width: 1054px) {
      height: 200px;
      max-width: 600px;
      width: 94%;
      padding-bottom: 30px;
      padding-inline: 40px;
      margin-inline: auto;
      text-align: center;
    }

    p {
      margin-bottom: 0;
    }
  }

  ._right_contents {
    max-width: 656px !important;
    @media screen and (max-width: 1054px) {
      max-width: 500px !important;
      width: 90% !important;
    }

    img {
      box-shadow: 0px 5px 20px #00000033;
      width: 100%;
      height: auto;
    }
  }
}
/*_____ retailer-system _____*/

.electricity-bill-service {
  background: unset;
  padding: 80px 0 140px;
  position: relative;
  z-index: 0;
  @include max {
    padding-block: 40px 0;
    margin: 40px 0;
  }

  &::before {
    content: "";
    background-image: url(/wp-content/uploads/2025/07/electricity-bill-service_bg.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 55%;
    z-index: -1;
  }

  h3 {
    font-size: clamp(1.75rem, 1.7117rem + 0.1361vw, 1.875rem);
    padding: 0 !important;
    margin-bottom: 80px;
    @include max {
      margin-bottom: 30px;
    }
  }

  .electricity-bill-service-inner {
    max-width: 1000px;
    margin: 0 auto;
    gap: 118px;
    &:first-of-type {
      margin-bottom: 80px;
    }

    ._right_contents {

      .btn {
        @media screen and (max-width: 1054px) {
          max-width: 226px;
          margin-inline: auto;
        }
        &:hover {
          opacity: unset;
          &::after {
            background-color: #F18F52;
          }
        }
      }
    }

    ._left_contents {
      box-shadow: 5px 5px 20px #00000033;
      overflow: unset;
      @media screen and (max-width: 1054px) {
        max-width: 95%;
        margin-inline: auto;
      }

      .item_box {
        border: unset;
        max-width: unset;
        margin: unset;
        
        .item_link {
  
          &:hover {
            border: unset;
            // outline: 2px solid white;
            opacity: 1;
  
            img {
              transform: unset;
            }
          }
  
          .item_content {
  
            .item_image {
  
              img {
                transition: all .5s ease;
              }
            }
  
            .item_mask {
              transition: all .5s ease;
              background-color: rgba(0, 0, 0, 0.5);
  
              .item_mask-text {
  
                img {
                  max-width: 226px;
                }
              }
  
              .material-symbols-outlined {
                color: white;
                position: absolute;
                bottom: 30px;
                right: 30px;
                font-weight: 200;
              }
            }
          }
        }
      }

    }
  }
}
/*_____ electricity-bill-service _____*/ 

.press {
  padding-bottom: 0;

  .topic-inner {

    .wrap_s {

      li {
        height: fit-content;
        &:hover {
          ._overflow-hidden-topic {
            ._right_bt {
              opacity: .8;
            }
          }

          a {
            .press-title {
              font-weight: bold;
              color: #333;
            }
          }
        }

        ._overflow-hidden-topic {
          position: relative;
          height: fit-content;
          margin-bottom: 20px;
          height: 208px;

          ._right_bt {
            position: absolute;
            right: 10px;
            bottom: 10px;
            background-image: url(/wp-content/uploads/2025/03/arrow-right.png);
            background-repeat: no-repeat;
            z-index: 99999999;
            content: "";
            width: 40px;
            height: 40px;
            background-size: contain;
            opacity: 0;
            transition: all .5s ease;
          }

          img {
            height: 210px;
            object-fit: cover;
            object-position: center;
          }
        }

        a {
          .press-time {
            display: block;
            text-align: left;
            color: #999;
            font-size: 11px;
            font-family: 'Figtree';
          }

          .press-title {
            font-weight: 400;
            padding: 0;
            text-align: left;
            font-size: 12px;
            margin: 10px 0 0;
          }
        }

        ._right_bt {

          a {
            top: unset;
            bottom: 10px;
            right: 10px;
          }
        }
      }
    }

    .next-more1 {
      padding-bottom: 80px;
    }
  }
}
/*_____ press _____*/ 

/*_____  _____*/ 