@use "breakpoint" as *;

main.taxonomy-product-cat {
  position: relative;
  // 変数
	// --font-weight
	--fw-reg: 400;
	--fw-med: 500;
	--fw-bold: 700;
	// --color
	--col-orange: #ee7744;
	--col-lit-orange: #ee77441a;
	--col-navy: #3366aa;
	--col-gray: #ccc;
	--col-black: #333;
	// ここまで 変数
	// main内 共通
	p,
	h2,
	h3,
	h4,
	h5,
	ul,
  button,
  a {
		margin: 0;
		padding: 0;
		font-weight: var(--fw-reg);
		color: var(--col-black);
		line-height: calc(32 / 20);
	}
	img {
		width: 100%;
		height: auto;
		vertical-align: top;
	}
	table {
		th,
		td {
			padding: 0;
		}
	}
  sup {
    font-size: 60%;
  }
  // -- クラス名ありのコンテンツ
  .wrapper {
    max-width: 1280px;
    width: 100%;
    margin: auto;
  }
  .container {
    max-width: 1000px;
    width: calc(100% - 30px);
		margin: auto;
		padding: 0;
  }
  .btn {
    color: white;
    background: var(--col-navy);
    width: 312px;
    padding-block: 18px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 100px;
    margin-inline: auto;
    border-radius: 30px;
    &:hover::after {
      background: #3D7ABB;
    }
  }
  // -- 各製品ごとのCSS
  // Re.RISE
  .col-re-rise {
    color: var(--col-orange);
  }
  .bg-re-rise {
    background: transparent linear-gradient(90deg, rgb(#FFFFFF, .2) 0%, rgb(#EE7744, .2) 100%) 0% 0% no-repeat padding-box;
  }
  // Qcells
  .col-q-cells {
    color: var(--col-navy);
  }
  .bg-q-cells {
    background: transparent linear-gradient(90deg, rgb(#FFFFFF, .2) 0%, rgb(#3366aa, .2) 100%) 0% 0% no-repeat padding-box;
  }
  // パワーコンディショナ、V2H、架台のintroセクション共通bg
  .bg-other {
    background: transparent linear-gradient(90deg, rgb(#FFFFFF, .2) 0%, rgb(#999999, .2) 100%) 0% 0% no-repeat padding-box;
  }
  // パワーコンディショナ
  .intro-power-conditioner {
    max-width: 226px;
    width: 25%;
    left: 0;
    bottom: 60px;
    @include max {
      bottom: initial;
    }
  }
  // 架台・設置金具
  .intro-bracket {
    max-width: 398px;
    width: 100%;
    left: 0;
    bottom: 5px;
    @include max(l) {
      width: 45%;
    }
    @include max {
      bottom: initial;
    }
  }
  // V2H
  .intro-v2h {
    max-width: 398px;
    width: 100%;
    left: 0;
    bottom: -70px;
    @include max(l) {
      width: 34%;
      bottom: initial;
    }
  }
  // ここまで main内 共通

  > .mv {
    height: 360px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    > .container {
      position: relative;
      height: 100%;
      > .ttlc {
        position: absolute;
        left: 0;
        top: 30%;
        * {
          color: #fff;
        }
        > .prod-name {
          font-size: 60px;
          font-weight: var(--fw-bold);
          line-height: calc(72 / 60);
          letter-spacing: 0.04em !important;
          @include max {
            font-size: 48px;
          }
          > .txt-small {
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 0.16em !important;
            @include max(l) {
              display: block;
            }
            @include max {
              font-size: 14px;
            }
          }
        }
        > .ttl {
          margin-top: 40px;
          font-size: 20px;
          line-height: calc(32 / 20);
          letter-spacing: 0.1em !important;
          @include max {
            font-size: 16px;
          }
        }
      }
    }
  }
  // MV
  > .top {
    margin-top: -400px;
    @include max(l) {
      margin-top: -40vw;
    }
    @include max {
      margin-top: initial;
    }
    > .container {
      display: flex;
      justify-content: end;
      align-items: end;
      position: relative;
      @include max {
        flex-direction: column-reverse;
        align-items: center;
        gap: 32px;
      }
      > .share {
        display: flex;
        align-items: center;
        gap: 32px;
        width: 49%;
        @include max {
          width: 100%;
          justify-content: center;
        }
        > .img {
          max-width: 226px;
          width: 100%;
        }
      }
      .prod-img {
        max-width: 484px;
        width: 50%;
        @include max {
          width: 100%;
        }
      }
    }
  }
  // TOP
  > .intro {
    > .container {
      max-width: 830px;
      display: flex;
      align-items: center;
      * {
        letter-spacing: 0.04em !important;
      }
      > .ctt {
        > .name {
          font-size: 32px;
          font-weight: var(--fw-bold);
          @include max {
            text-align: center;
          }
        }
        > .txt {
          @include max {
            text-align: center;
          }
          @include max(ml) {
            text-align: left;
          }
          br {
            @include max(ml) {
              display: none;
            }
          }
        }
      }
    }
  }
  // INTRO
  > .lineup {
    > .container {
      * {
        letter-spacing: 0.04em !important;
      }
      > .ttl {
        font-size: 32px;
        font-weight: var(--fw-bold);
        text-align: center;
      }
      > .choose {
        margin-top: 75px;
        display: flex;
        justify-content: center;
        align-items: baseline;
        @include max {
          flex-direction: column;
          align-items: start;
        }
        > .all {
          position: relative;
          background-color: initial;
          color: #666666;
          padding: 0 0 0 50px;
          font-weight: var(--fw-bold);
          @include max {
            width: 100%;
            text-align: left;
            padding: 15px 0;
            border-bottom: 1px solid var(--col-gray);
            border-top: 1px solid var(--col-gray);
            font-size: 16px;
          }
          &:hover {
            color: var(--col-orange);
            &::before {
              background: url(../images/tax-prod-cat/icon-all-orange.png) no-repeat center / contain;
            }
          }
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 30px;
            height: 30px;
            background: url(../images/tax-prod-cat/icon-all-gray.png) no-repeat center / contain;
            @include max {
              content: none;
            }
          }
        }
        > .series,
        > .size {
          width: 226px;
          @include max {
            width: 100%;
          }
          > .custom-select {
            position: relative;
            &.open {
              .custom-selected {
                border-bottom: 1px solid var(--col-black);
                &::after {
                  background-color: var(--col-black);
                }
              }
            }
            > .custom-selected {
              cursor: pointer;
              font-weight: var(--fw-bold);
              color: var(--col-gray);
              padding: 0 0 10px;
              border-bottom: 1px solid var(--col-gray);
              position: relative;
              @include max {
                padding: 15px 0;
                font-size: 16px;
              }
              &:hover {
                border-bottom: 1px solid var(--col-black);
                &::after {
                  background-color: var(--col-black);
                }
              }
              &::after {
                content: "";
                position: absolute;
                right: 0;
                top: 10px;
                width: 12px;
                height: 6px;
                clip-path: polygon(0 0, 50% 100%, 100% 0);
                background-color: var(--col-gray);
                @include max {
                  top: 0;
                  bottom: 0;
                  margin: auto;
                }
              }
              &.has-value {
                color: var(--col-black);
              }
            }
            > .custom-options {
              position: absolute;
              top: 100%;
              left: 0;
              right: 0;
              background-color: #fff;
              padding: 0 20px;
              border-left: 1px solid #eeeeee;
              border-right: 1px solid #eeeeee;
              border-bottom: 1px solid #eeeeee;
              height: 0;
              overflow: hidden;
              // opacity: 0;
              transition: all .3s ease;
              @include max {
                position: relative;
              }
              li {
                cursor: pointer;
                font-size: 14px;
                font-weight: var(--fw-med);
                line-height: calc(16 / 14);
                margin: 20px 0;
                width: fit-content;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
        > .series {
          margin-left: 9%;
          @include max {
            margin-left: initial;
          }
        }
        > .size {
          margin-left: 3%;
          @include max {
            margin-left: initial;
          }
        }
      }
      .prod-list {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 80px 32px;
        @include max(l) {
          grid-template-columns: repeat(2, 1fr);
        }
        @include max {
          grid-template-columns: initial;
          margin-top: 60px;
        }
        > .prod-item {
          display: block;
          &:hover {
            opacity: 1;
            .img {
              img {
                transform: scale(1.05);
              }
            }
            .ttl {
              .name {
                opacity: .8;
              }
            }
          }
          > .img {
            overflow: hidden;
            > img {
              transition: transform .3s ease;
              aspect-ratio: 312 / 226;
            }
          }
          > .ttl {
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            @include max {
              margin-top: 20px;
            }
            > .new {
              padding: 7px 6px;
              background-color: var(--col-orange);
              color: #fff;
              font-size: 12px;
              font-weight: var(--fw-med);
            }
            > .name {
              font-size: 20px;
              font-weight: var(--fw-bold);
              transition: opacity .3s;
            }
          }
        }
      }
    }
  }
  // LINEUP
  > .compare {
    > .wrapper {
      width: calc(100% - 30px);
      > .btn {
        color: white;
        background: var(--col-navy);
        width: 312px;
        padding-block: 18px;
        text-align: center;
        margin-top: 100px;
        margin-inline: auto;
        border-radius: 30px;
        &:hover::after {
          background: #3D7ABB;
        }
      }
    }
  }
  // COMPARE
}
// 製品詳細 ターム 一覧ページ 共通

main.taxonomy-product-cat.re-rise,
main.taxonomy-product-cat.q-cells,
main.taxonomy-product-cat.power-conditioner,
main.taxonomy-product-cat.bracket,
main.taxonomy-product-cat.v2h {
  > .lineup {
    padding: 100px 0 120px;
  }
  // LINEUP
}
// Re.RISE Qcells パワーコンディショナ V2H 架台

main.taxonomy-product-cat.re-rise,
main.taxonomy-product-cat.q-cells {
  > .top {
    padding: 0 0 100px;
  }
  // TOP
  > .intro {
    padding: 66px 0;
    > .container {
      justify-content: space-between;
      @include max {
        flex-direction: column;
        gap: 40px;
      }
      > .img {
        max-width: 226px;
        width: 100%;
      }
      > .ctt {
        > .name {
          font-size: 32px;
          font-weight: var(--fw-bold);
          @include max {
            text-align: center;
          }
        }
        > .txt {
          margin-top: 40px;
          font-size: 14px;
        }
      }
    }
  }
  // INTRO
}
// Re.RISE Qcells

main.taxonomy-product-cat.power-conditioner,
main.taxonomy-product-cat.bracket,
main.taxonomy-product-cat.v2h {
  > .top {
    padding: 0 0 42px;
  }
  // TOP
  > .intro {
    > .container {
      height: 242px;
      justify-content: end;
      position: relative;
      @include max {
        height: auto;
        padding: 66px 0;
        flex-direction: column-reverse;
        gap: 40px;
      }
      > .img {
        position: absolute;
        @include max {
          position: relative;
          width: 100%;
        }
      }
      > .ctt {
        max-width: 484px;
        width: 100%;
        > .txt {
          font-size: 16px;
        }
      }
    }
  }
  // INTRO
}
// パワーコンディショナ V2H 架台

main.taxonomy-product-cat.storage-system,
main.taxonomy-product-cat.hems {
  > .lineup {
    padding: 40px 0 120px;
  }
  // LINEUP
}
// 蓄電システム HEMS

main.taxonomy-product-cat.storage-system {
  > .lineup {
    .typec {
      margin-top: 80px;
      &.ready {
        > .type {
          &::before {
            background-color: var(--col-orange);
          }
          > .txt {
            color: var(--col-orange);
            border: 1px solid var(--col-orange);
          }
        }
      }
      &.hybrid {
        > .type {
          &::before {
            background-color: var(--col-navy);
          }
          > .txt {
            color: var(--col-navy);
            border: 1px solid var(--col-navy);
          }
        }
      }
      > .type {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          width: 100%;
          height: 1px;
          @include max(ml) {
            content: none;
          }
        }
        > .txt {
          width: 312px;
          margin: auto;
          padding: 13px 0 12px;
          font-size: 15px;
          font-weight: var(--fw-bold);
          line-height: 1;
          text-align: center;
          border-radius: 25px;
          background-color: #fff;
          position: relative;
        }
      }
    }
    .prod-list {
      margin-top: 40px;
    }
  }
  // LINEUP
}
// 蓄電システム

main.taxonomy-product-cat.bracket {
  > .bracket-menu {
    padding-top: 124px;
    > .container {
      > .menu-list {
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 32px;
        @include max {
          flex-direction: column;
          align-items: center;
        }
        > .menu-item {
          max-width: 312px;
          width: 100%;
          > .txt {
            font-size: 20px;
            text-align: center;
          }
          > .menu-btn {
            margin-top: 10px;
            display: block;
            width: 100%;
            padding: 20px 15px 36px;
            background-color: #3366AA1A;
            border: 1px solid var(--col-navy);
            border-radius: 5px;
            color: var(--col-navy);
            font-size: 16px;
            font-weight: var(--fw-bold);
            text-align: center;
            position: relative;
            @include max {
              margin-top: 5px;
              padding: 10px 15px 25px;
            }
            &:hover {
              background-color: #3366AA40;
            }
            &::before {
              content: "";
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              bottom: 15px;
              width: 7px;
              height: 7px;
              border-right: 1px solid var(--col-navy);
              border-bottom: 1px solid var(--col-navy);
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }
  // BRACKET_MENU
  > .general {
    padding-top: 100px;
    > .container {
      @include max(1030px) {
        overflow-x: scroll;
      }
      > .table {
        margin-top: 60px;
        width: 1000px;
        @include max(1030px) {
          padding-bottom: 30px;
        }
        > .headc,
        > .row {
          display: flex;
          gap: 32px;
          > .type,
          > .impression {
            width: 22.6%;
          }
          > .method {
            width: 31.2%;
          }
          > .module {
            width: 14%;
          }
        }
        > .headc {
          > .head {
            font-size: 16px;
            font-weight: var(--fw-bold);
            text-align: center;
            padding: 13px;
            background-color: #F5F5F5;
          }
        }
        > .row {
          padding: 30px 0;
          border-bottom: 1px solid #CCCCCC;
          > .type {
            position: relative;
            > .name {
              position: absolute;
              bottom: 16px;
              left: 50%;
              transform: translateX(-50%);
              font-size: 14px;
              font-weight: var(--fw-reg);
              color: #fff;
            }
          }
          > .impression {
            border: 1px solid #CCCCCC;
            position: relative;
            > .modal-open {
              cursor: pointer;
              position: absolute;
              right: 5px;
              bottom: 5px;
              width: 20px;
              height: 20px;
              border: 1px solid #fff;
              background-color: #00000080;
              border-radius: 3px;
              display: grid;
              place-content: center;
              &:hover {
                background-color: #000000BF;
              }
              > .modal-icon {
                width: 12px;
                height: 12px;
              }
            }
            > .modal {
              opacity: 0;
              visibility: hidden;
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              height: 0;
              z-index: 99999;
              transition: all .4s;
              > .bg {
                background-color: rgb(#000000, 0.6);
                height: 100vh;
                position: fixed;
                left: 0;
                width: 100%;
                > .modal-ctt {
                  position: absolute;
                  top: 45%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 96%;
                  max-width: 656px;
                  background-color: #fff;
                  border-radius: 5px;
                  padding: 79px 15px;
                  @include max {
                    top: 35%;
                    padding: 30px 15px;
                  }
                  > .modal-img {
                    max-width: 484px;
                    width: 100%;
                    margin: auto;
                    border: 1px solid #CCCCCC;
                  }
                }
              }
              &.is-active {
                opacity: 1;
                visibility: visible;
                height: 100%;
              }
              .modal-close {
                cursor: pointer;
                position: absolute;
                bottom: -80px;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                gap: 10px;
                &:hover {
                  > .close-btn {
                    background-color: #FFFFFFB3;
                  }
                  > .close-txt {
                    text-decoration: underline;
                    text-underline-offset: 5px;
                  }
                }
                > .close-btn {
                  width: 40px;
                  height: 40px;
                  background-color: #fff;
                  border-radius: 50%;
                  position: relative;
                  &::before,
                  &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 2px;
                    height: 15px;
                    background: #666666;
                  }
                  &::before {
                    transform: translate(-50%,-50%) rotate(45deg);
                  }
                  &::after {
                    transform: translate(-50%,-50%) rotate(-45deg);
                  }
                }
                > .close-txt {
                  font-size: 14px;
                  font-weight: var(--fw-reg);
                  color: #fff;
                }
              }
            }
          }
          > .module {
            > .txt {
              font-size: 12px;
            }
          }
        }
        > .sup-list {
          margin-top: 30px;
          > .sup-item {
            font-size: 14px;
            font-weight: var(--fw-bold);
            * {
              display: inline-block;
            }
            &.module {
              > .txt {
                margin: 0 10px 0 3px;
              }
            }
            &.metal {
              > .txt {
                margin: 0 3px;
              }
            }
            > .circle {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              margin: 0 3px;
              vertical-align: middle;
              &.rerise-g3 {
                background-color: var(--col-orange);
              }
              &.rerise-g2 {
                background-color: var(--col-navy);
              }
              &.rerise-s {
                background-color: var(--col-black);
              }
            }
            > .txt {
              font-weight: var(--fw-med);
              vertical-align: middle;
            }
            > .line {
              margin: 0 3px;
              vertical-align: middle;
            }
          }
        }
        > .note {
          margin-top: 10px;
          > .txt {
            text-indent: -18px;
            padding-left: 18px;
          }
        }
      }
    }
    > .standard {
      max-width: 1280px;
      width: 100%;
      margin: 40px auto 0;
      > .standard-wrap {
        width: calc(100% - 30px);
        margin-left: auto;
        @include max(l) {
          margin-left: initial;
          margin: auto;
        }
        > .cttc {
          display: flex;
          justify-content: space-between;
          gap: 20px;
          background-image: linear-gradient(90deg, #F5F5F5 73%, #fff 73%);
          padding: 40px;
          height: 484px;
          @include max(l) {
            flex-direction: column;
            align-items: center;
            height: auto;
            background-image: initial;
            background-color: #F5F5F5;
          }
          @include max {
            padding: 40px 15px;
          }
          > .ctt {
            > .ctt-list {
              display: grid;
              gap: 20px;
              > .ctt-item {
                display: flex;
                gap: 20px;
                .ctt-icon {
                  width: 60px;
                  @include max {
                    width: 45px;
                  }
                }
                > .ctt-group {
                  margin-top: 10px;
                  > .ttlc {
                    @include max {
                      display: flex;
                      align-items: center;
                      gap: 10px;
                    }
                    > .ttl {
                      font-size: 20px;
                      font-weight: var(--fw-bold);
                      color: var(--col-navy);
                      @include max {
                        font-size: 18px;
                      }
                    }
                  }
                  > .ctt-detail {
                    margin-top: 15px;
                    display: flex;
                    gap: 3px;
                    > .ctt-label {
                      font-size: 14px;
                      font-weight: var(--fw-bold);
                      white-space: nowrap;
                    }
                    > .ctt-value {
                      > .txt {
                        font-size: 14px;
                        font-weight: var(--fw-med);
                      }
                      > .note {
                        margin-top: 10px;
                      }
                    }
                  }
                }
              }
            }
            > .note {
              margin-top: 40px;
            }
          }
          > .img {
            max-width: 452px;
            width: 50%;
            box-shadow: 0px 5px 40px #0000004D;
            margin-top: 20px;
            @include max(l) {
              width: 100%;
              margin-top: initial;
            }
          }
        }
        > .note {
          margin-top: 40px;
          max-width: 640px;
          width: 55%;
          @include max(l) {
            width: 100%;
          }
        }
      }
    }
  }
  // GENERAL
  > .qrobust {
    padding-top: 120px;
    > .mv {
      max-width: 1280px;
      width: 100%;
      margin: 60px auto 0;
      > .mv-wrap {
        width: 100%;
        padding-right: 15px;
        position: relative;
        @include max {
          padding-left: 15px;
        }
        > .mv-left {
          position: absolute;
          left: 0;
          top: 0;
          max-width: 710px;
          width: 80%;
          @include max {
            display: none;
          }
        }
        > .mv-right {
          max-width: 570px;
          width: 60%;
          margin-left: auto;
          position: relative;
          @include max {
            max-width: 484px;
            width: 100%;
            margin: auto;
          }
        }
      }
    }
    > .container {
      > .lead {
        margin-top: 20px;
        font-size: 16px;
        font-weight: var(--fw-bold);
        line-height: calc(28 / 16);
        @include max {
          margin-top: 40px;
        }
      }
      > .img {
        margin-top: 100px;
        @include max {
          overflow-x: scroll;
        }
        img {
          @include max {
            max-width: initial;
            width: 800px;
          }
        }
      }
    }
  }
  // QROBUST
  > .wall-surface {
    padding: 120px 0 68px;
    > .container {
      > .list {
        margin-top: 60px;
        display: flex;
        gap: 32px;
        @include max {
          flex-direction: column;
          align-items: center;
          gap: 68px;
        }
        > .item {
          flex: 1;
          @include max {
            max-width: 484px;
            width: 100%;
            margin: auto;
          }
          > .head {
            padding: 10px 20px;
            background-color: #F5F5F5;
            font-size: 20px;
            font-weight: var(--fw-bold);
            color: var(--col-navy);
          }
          > .img {
            margin-top: 30px;
          }
        }
      }
    }
    > .explanation {
      margin-top: 80px;
      padding: 40px 0;
      background-color: #F5F5F5;
      > .explanation-wrap {
        border-radius: 10px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        gap: 68px;
        padding: 0 20px;
        @include max {
          flex-direction: column;
          align-items: center;
          padding: 30px 20px;
        }
        > .img {
          max-width: 376px;
          width: 100%;
        }
      }
    }
    .btn {
      margin-bottom: initial;
    }
  }
  // WALL_SURFACE
  .sec-wrap {
    max-width: 1140px;
  }
  .sec-ttl {
    font-size: 32px;
    font-weight: var(--fw-bold);
    text-align: center;
    @include max {
      font-size: 26px;
    }
  }
  .sub-ttl {
    font-size: 24px;
    font-weight: var(--fw-bold);
    text-align: center;
    color: var(--col-navy);
    margin-bottom: 5px;
    @include max {
      font-size: 18px;
    }
  }
  .sec-detail {
    padding-top: 60px;
    > .list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 32px;
      @include max(l) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include max {
        grid-template-columns: initial;
        place-content: center;
      }
      > .item {
        > .head {
          display: flex;
          align-items: center;
          gap: 20px;
          > .head-icon {
            max-width: 80px;
            min-width: 80px;
          }
          > .ttl {
            font-size: 20px;
            font-weight: var(--fw-bold);
          }
        }
        > .txt {
          margin-top: 20px;
          font-size: 14px;
        }
      }
    }
    > .target-prod {
      margin-top: 60px;
      display: flex;
      > .target-label {
        font-size: 16px;
        font-weight: var(--fw-bold);
        color: #fff;
        text-align: center;
        min-width: 226px;
        background-color: var(--col-navy);
        display: grid;
        place-content: center;
        @include max(600px) {
          min-width: 120px;
        }
      }
      > .target-value {
        padding: 20px 32px;
        background-color: #F5F5F5;
        width: 100%;
        @include max {
          padding: 15px;
        }
        > .txt {
          font-size: 16px;
          font-weight: var(--fw-bold);
          position: relative;
          padding-left: 16px;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 8px;
            height: 8px;
            background-color: var(--col-black);
            border-radius: 50%;
          }
        }
        > .note {
          margin-top: 10px;
        }
      }
    }
    > .note {
      margin-top: 30px;
    }
  }
  .note {
    > .txt {
      display: block;
      font-size: 10px;
      font-weight: var(--fw-reg);
      text-indent: -11px;
      padding-left: 11px;
      margin: 2px 0;
    }
  }
}
// 架台・設置金具

main.taxonomy-product-cat.v2h {
  > .intro {
    > .container {
      max-width: 915px;
    }
  }
  > .power-station ,
  > .tribrid {
    > .container {
      > .sec-ttl {
        font-size: 32px;
        font-weight: var(--fw-bold);
        text-align: center;
        @include max {
          font-size: 26px;
        }
        br {
          display: none;
          @include max {
            display: block;
          }
        }
      }
      > .sub-ttl {
        font-size: 24px;
        font-weight: var(--fw-bold);
        text-align: center;
        color: var(--col-navy);
        padding-top: 30px;
        margin-top: 30px;
        border-top: 1px solid #999999;
        @include max {
          font-size: 16px;
        }
      }
      > .img {
        margin-top: 54px;
        @include max {
          overflow-x: scroll;
        }
        img {
          @include max {
            width: 850px;
            max-width: initial;
          }
        }
      }
      .com-list {
        display: grid;
        gap: 20px;
        .com-item {
          display: flex;
          align-items: center;
          gap: 20px;
          @include max {
            gap: 10px;
          }
          .com-icon {
            max-width: 80px;
            min-width: 80px;
            @include max {
              max-width: 60px;
              min-width: 60px;
            }
          }
          .com-txt {
            font-size: 20px;
            font-weight: var(--fw-bold);
            @include max {
              font-size: 16px;
            }
          }
        }
      }
      .note {
        margin-bottom: 40px;
        > .txt {
          display: block;
          font-weight: var(--fw-reg);
          margin: 2px 0;
        }
      }
      .accordion {
        @include max(1044px) {
          margin-top: 40px;
        }
        > .accordion-btn {
          max-width: 484px;
          width: 100%;
          margin-left: auto;
          @include max(1044px) {
            margin-left: initial;
            margin: auto;
          }
        }
        > .accordion-content {
          margin: 40px 0;
          @include max(1044px) {
            overflow-x: scroll;
          }
          table {
            width: 1000px;
            margin: 0;
            tbody {
              tr {
                border-bottom: initial;
                &.b-text td {
                  font-weight: var(--fw-bold);
                }
                td {
                  font-size: 14px;
                  font-weight: var(--fw-reg);
                  border-bottom: 1px solid #eee;
                  vertical-align: middle;
                  padding: 10px 5px 10px 15px;
                  position: relative;
                  &.separator::before {
                    content: "";
                    width: 10px;
                    height: 100%;
                    position: absolute;
                    background: #fff;
                    left: -2px;
                    top: 2px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  // 共通
  > .power-station {
    padding-top: 190px;
    > .container {
      > .ps-detailc {
        margin-top: 60px;
        > .ps-detail {
          display: flex;
          justify-content: center;
          align-items: start;
          gap: 118px;
          @include max(1044px) {
            gap: 20px;
          }
          @include max {
            flex-direction: column;
            align-items: center;
            gap: 40px;
          }
          > .img {
            max-width: 312px;
            width: 35%;
            @include max {
              width: 100%;
            }
          }
        }
      }
      .more-btn {
        display: block;
        max-width: 484px;
        width: 100%;
        margin: 80px auto 0;
      }
    }
  }
  // POWER_STATION
  > .tribrid {
    padding: 140px 0 68px;
    > .container {
      > .list {
        margin-top: 60px;
        > .item {
          &:not(:first-of-type) {
            margin-top: 109px;
          }
          > .tribrid-content {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 118px;
            @include max(1044px) {
              gap: 40px;
            }
            @include max {
              flex-direction: column;
            }
            > .img {
              max-width: 312px;
              width: 65%;
              position: relative;
              @include max {
                width: 100%;
              }
              > .txt {
                position: absolute;
                left: 0;
                bottom: 10px;
                font-size: 11px;
                font-weight: var(--fw-bold);
                display: flex;
                justify-content: space-between;
                width: 100%;
                text-align: center;
                .txt-2 {
                  width: 35%;
                }
                .txt-3 {
                  width: 45%;
                }
              }
            }
            > .meta {
              max-width: 484px;
              width: 100%;
              > .name {
                font-size: 24px;
                font-weight: var(--fw-bold);
                @include max {
                  font-size: 20px;
                }
              }
              > .type {
                font-size: 16px;
                color: #999999;
                margin-top: 5px 0;
              }
              > .com-list {
                margin-top: 20px;
                padding-top: 30px;
                border-top: 1px solid #CCCCCC;
              }
            }
          }
        }
      }
    }
    .btn {
      margin-bottom: initial;
    }
  }
  // TRIBRID
}
// V2H