@use "breakpoint" as *;
// 製品・システム

.product-list {
  .mv-img {
    .mv-text {
      z-index: 2 !important;
    }
    .fv_add_img {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      height: fit-content;
      width: 60vw;
      max-width: 620px;
      @include max {
        bottom: 110px;
      }
    }
  }
}
/*_____  _____*/

.popular_products_now {
	margin-bottom: 118px;

	.wrap_s {
		.popular_products_category {
			display: grid;
			grid-template-columns: repeat(auto-fill, 312px);
			gap: min(32px, 2.5vw);
			place-content: center;

			.popular_products_item {
				h4 {
					padding-bottom: 20px;
					margin-bottom: 50px;
				}

				img {
					margin-bottom: 50px;
				}

				h5 {
					padding: 0;
					font-size: clamp(1.25rem, 1.163rem + 0.38vw, 1.625rem);
					font-weight: bold;
					color: #333;
					margin-bottom: 30px;
				}

				.btn {
					display: block;
					margin-inline: auto;
					background: #3366aa;
					color: white;
					border-radius: 30px;
					width: 100%;
					max-width: 312px;
					&:hover {
						&::after {
							background: #3d7abb;
						}
					}
				}
			}
		}
	}
}
/*_____ popular_products_now _____*/

.section-back {
	padding-block: 80px;
	position: relative;
	margin-bottom: 80px;
	&:has(.electricity) {
		&::before {
			content: "";
			position: absolute;
			z-index: -2;
			top: 0;
			left: 0;
			width: 60%;
			max-width: 796px;
			height: 100%;
			background-color: rgba(51, 102, 170, 0.08);
			z-index: 0;
		}
		&::after {
			content: "PRODUCTS";
			position: absolute;
			top: 40px;
			left: 0;
			z-index: 1;
			color: white;
			writing-mode: vertical-rl;
			font-size: min(120px, 11vw);
			letter-spacing: 4.8px;
			line-height: 0.8;
			opacity: 0.8;
		}
	}
	&:has(.system) {
		margin-bottom: 100px;
		&::before {
			content: "";
			position: absolute;
			z-index: -2;
			top: 0;
			left: 0;
			width: 60%;
			max-width: 796px;
			height: 100%;
			background-color: rgba(238, 119, 68, 0.08);
			z-index: 0;
		}
		&::after {
			content: "SYSTEM";
			position: absolute;
			top: 40px;
			left: 0;
			z-index: 1;
			color: white;
			writing-mode: vertical-rl;
			font-size: min(120px, 20vw);
			letter-spacing: 4.8px;
			line-height: 0.8;
			opacity: 0.8;
		}
		.main-title {
			.wrap_s {
				position: relative;
				&::after {
					background: #ee7744;
				}

				h2 {
					color: #ee7744;
				}

				.system-button {
					position: absolute;
					top: 0;
					right: 0;
					color: #ee7744;
					background: #f5f5f5;
					padding-block: 11px 12px;
					width: 226px;
					text-align: center;
					border: 1px solid #cccccc;
          @include max {
            top: 85px;
            right: unset;
            left: 0;
          }
				}
			}
		}
	}

	.main-title {
		margin-bottom: 90px;

		.wrap_s {
			position: relative;
			z-index: 2;

			&::after {
				content: "";
				position: absolute;
				height: 2px;
				background: #3366aa;
				left: -50vw;
				width: calc(50vw + 1000px);
				@media screen and (max-width: 1054px) {
					width: 100%;
					left: 0;
				}
			}

			h2 {
				font-size: clamp(2.5rem, 2.356rem + 0.64vw, 3.125rem);
				color: #3366aa;
				margin-bottom: 10px;
			}
		}
	}

	.electricity {
		padding-block: 40px 70px;
		margin-bottom: 60px;
		position: relative;
    background-size: cover;

		h3 {
			font-size: 20px;
			font-weight: 400;
			text-align: center;
			margin-bottom: 40px;
      color: #333;
			span {
				font-size: clamp(2.5rem, 2.356rem + 0.64vw, 3.125rem);
				font-weight: bold;
			}
		}
	} /*___ 共通 ___*/

	.create_electricity {
    background-image: url(../images/product-list/Products_TopPage_Product_BG_01.jpg);

		.electricity-content {
			position: relative;
			z-index: 2;

			.create-list {
				display: grid;
				grid-template-columns: repeat(auto-fill, 226px);
				place-content: center;
				gap: min(32px, 2.5vw);

				li {
					width: unset;
					padding: 20px 20px 0;
					background: rgba(255, 255, 255, 0.7019607843) 0% 0% no-repeat
						padding-box;
					backdrop-filter: blur(8px);
					border-radius: 10px;
          margin: 0;
					&:hover {
						background: white;
					}

					._list {
						width: 140px;
						height: 50px;
						margin-inline: auto;
						margin-bottom: 10px;

						img {
							width: 100%;
							height: 100%;
							object-fit: contain;
						}
					}

					h4 {
						font-size: 16px;
						margin-bottom: 17px;

						.note {
							font-size: 12px;
						}
					}
				}
			}
		}
	} /*___ create_electricity ___*/

	.store_electricity {
		background-image: url(../images/product-list/Products_TopPage_Product_BG_02.jpg);

		h3 {
			color: white;
		}

		.electricity-content {
			width: 100%;
			max-width: 484px;
			height: 312px;
			margin-inline: auto;
			padding-block: 60px;
			padding-inline: 1em;
			background: rgba(255, 255, 255, 0.7019607843) 0% 0% no-repeat padding-box;
			backdrop-filter: blur(8px);
			border-radius: 10px;
			overflow: hidden;
			&:hover {
				background: white;
			}

			ul {
				li {
					h4 {
						text-align: center;
						margin-bottom: 58px;
					}
					img {
						display: block;
						margin-inline: auto;
					}
				}
			}
		}
	} /*___ store_electricity ___*/

	.use_electricity {
		background-image: url(../images/product-list/Products_TopPage_Product_BG_03.jpg);

		.electricity-content {
			ul {
				display: grid;
				grid-template-columns: repeat(auto-fill, 312px);
				place-content: center;
				gap: min(32px, 2.5vw);

				li {
					height: 312px;
					overflow: hidden;
					padding-top: 57px;
					padding-inline: 1em;
					background: rgba(255, 255, 255, 0.7019607843) 0% 0% no-repeat
						padding-box;
					backdrop-filter: blur(8px);
					border-radius: 10px;
					overflow: hidden;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					&:hover {
						background: white;
					}

					h4 {
						text-align: center;
					}

					p {
						position: relative;
						margin-bottom: 0;
						height: 150px;
						img {
							position: absolute;
							top: 0;
						}
					}
				}
			}
		}
	} /*___ use_electricity ___*/

	.system {
		.system-content {
			position: relative;
			z-index: 2;

			.banner {
				display: block;
				max-height: 312px;
				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
		}
	} /*___ sisytem ___*/
}
/*_____ section-back _____*/

.products_that_generate_electricity_title {
	.section-title {
		font-size: 24px;
		font-weight: bold;
		color: #333;
		border-bottom: unset;
		margin-bottom: 40px;
		padding: 0;
	}

	.related_articles {
		.related-post-wrap {
			ul {
				flex-wrap: wrap;
				gap: min(32px, 11vw);
				justify-content: center;
				width: fit-content;
        margin: unset;

				li {
					width: 226px;
					height: 226px;
					padding: 0;
					overflow: hidden;
					&:hover {
						img {
							scale: 1.1;
						}
					}

					a {
						height: fit-content;

						img {
							transition: all 0.5s ease;
							display: block;
							height: 100%;
							object-fit: cover;
						}
					}
				}
			}
		}
	}
}
/*_____ products_that_generate_electricity_title _____*/

/*_____  _____*/
