@use "breakpoint" as *;
// ハンファジャパンのPV

.popular_products_now {
	.wrap {
		h3 {
			margin-bottom: 60px;
			font-size: clamp(1.5rem, 1.356rem + 0.64vw, 2.125rem);
		}
	}

	._contents001 {
		._box1 {
			.wrap_s {
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
				gap: min(32px, 6vw);
				margin-bottom: 80px;

				li {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: fit-content;
					margin-inline: auto;

					img {
						padding: 0;
						margin-bottom: 30px;
						max-width: 226px;
					}

					.textarea {
						display: flex;
						flex-direction: column;

						.title {
							font-size: 20px;
							font-weight: bold;
							margin-bottom: 30px;
							min-height: 60px;
						}

						.year {
							font-size: 12px;
							font-weight: bold;
							margin-bottom: 20px;
						}

						.caution {
							font-size: 10px;
							text-align: left;
						}
					}
				}
			}

			h3 {
				margin: 0;
				padding: 0;
				font-size: 24px;
			}
		}
	}
}
/*_____ popular_products_now _____*/

._contents002 {
	padding-block: 100px 160px !important;
	margin-bottom: 0 !important;
	@include max {
		padding-block: 60px !important;
	}

	h3 {
		color: white;
		font-size: clamp(2.25rem, 2.163rem + 0.38vw, 2.625rem);
		margin-bottom: 70px;
		@include max {
			margin-bottom: 30px;
		}
	}

	._contents002_inner {
		display: unset !important;

		.wrap {
			position: relative;

			.wrap_s {
				._box1 {
					max-width: unset;
					width: min(60vw, 742px);
					height: fit-content;
					padding: 4vw 7vw 4vw 4vw;
					background: #fff;
					background: rgba(255, 255, 255, 0.7019607843) 0% 0% no-repeat
						padding-box;
					backdrop-filter: blur(8px);
					border-radius: 20px;
					@media screen and (max-width: 1150px) {
						width: 100%;
						max-width: 650px;
						padding: 4vw 7vw 8vw;
						margin-inline: auto;
					}

					img {
						display: block;
						width: 100%;
						max-width: 484px;
						object-fit: contain;
						object-position: center;
						@media screen and (max-width: 1150px) {
							max-width: unset;
						}
					}
				}
			}

			._box2 {
				position: absolute;
				right: -30px;
				width: 50vw;
				max-width: 538px;
				top: 30%;
				padding: 3vw 0 3vw 4vw;
				background: white;
				box-shadow: 0px 0px 30px #00000033;
				border-top: 10px solid #ee7744;
				@media screen and (max-width: 1150px) {
					width: 80vw;
					position: relative;
          right: unset;
					margin-inline: auto;
					margin-top: -20px;
					padding: 3vw;
				}

				._box2-title {
					font-size: 16px;
					font-weight: 400;
					color: #333333;
					text-align: left;
					margin-bottom: 40px;
					@include max {
						margin-bottom: 20px;
					}
				}

				._box2-text {
					font-size: clamp(1.125rem, 1.067rem + 0.26vw, 1.375rem);
					text-align: left;
					margin-bottom: 0;

					.orange {
						color: #ee7744;
					}
				}
			}
		}
	}
}
/*_____ _contents002 _____*/

.section-back {
	position: relative;
	z-index: 0;
	padding-block: 90px 160px;
	@include max {
		padding-block: 80px;
	}
	&::before {
		content: "";
		position: absolute;
		z-index: -2;
		top: 0;
		left: 0;
		width: min(366px, 30vw);
		height: 100%;
		background-color: rgba(238, 119, 68, 0.08);
	}
	&::after {
		content: "Hanwha Japan";
		position: absolute;
		z-index: -1;
		top: 72px;
		left: 0;
		writing-mode: vertical-lr;
		font-size: min(120px, 11vw);
		color: white;
		line-height: 0.8;
	}

	.section-title-area {
		position: relative;
		margin-bottom: 80px;
		&::after {
			content: "";
			position: absolute;
			height: 1px;
			background: #ee7744;
			max-width: 1140px;
			width: 90%;
		}

		h2 {
			font-size: clamp(2rem, 1.769rem + 1.03vw, 3rem);
			font-weight: bold;
			color: #333;
			margin-bottom: 22px;
			.orange {
				font-size: clamp(1.625rem, 1.51rem + 0.51vw, 2.125rem);
				color: #ee7744;
			}
		}
	}

	._contents003 {
		margin-bottom: 140px;
		@include max {
			margin-bottom: 40px;
		}

		._contents003_inner {
			._box1 {
				.wrap_s {
					height: fit-content;
					margin-bottom: 40px;
					@include max {
						margin-bottom: 20px;
					}
					img {
						width: 100%;
						object-fit: contain;
					}
				}
			}

			._box2 {
				.wrap_s {
					font-weight: 500;
					.orange {
						color: #ee7744;
						font-weight: bold;
					}
				}
			}
		}
	}

	._contents004 {
		margin-bottom: 140px;
		@include max {
			margin-bottom: 40px;
		}

		._contents004_inner {
			.wrap_s {
				display: grid;
				grid-template-columns: 3.7fr 1fr;
				gap: 32px;
				@include max {
					grid-template-columns: 1fr;
					place-items: center;
				}

				._box1 {
					height: fit-content;
					img {
						width: 100%;
						object-fit: contain;
					}
				}

				._box2 {
					align-self: end;
					margin-bottom: 50px;

					p {
						line-height: 1.4;

						.orange {
							font-size: 20px;
							font-weight: bold;
							color: #ee7744;
						}
					}

					.btn {
						background: #3366aa;
						max-width: 226px;
						&:hover {
							&::after {
								background: #3d7abb;
							}
						}
					}
				}
			}
		}
	}

	._contents005 {
		._contents005_inner {
			.wrap {
				position: relative;

				.reason-list {
					width: 100%;
					max-width: 484px;
					margin-bottom: 100px;
					@include max {
						margin-bottom: 50px;
					}

					.reason-item {
						border-bottom: 1px solid #ccc;
						padding-bottom: 20px;
						margin-bottom: 20px;
            @include max {
              padding-bottom: 10px;
              margin-bottom: 10px;
            }

						.reason-link {
							display: flex;
							align-items: center;
							justify-content: space-between;
							&:hover {
								.reason-text {
									color: #ee7744;
								}

								.reason-detail {
									color: #666;
									font-weight: bold;
									&::before {
										right: -5px;
									}
								}
							}

							.reason-text {
								font-size: clamp(1rem, 0.913rem + 0.38vw, 1.375rem);
								font-weight: bold;
								display: flex;
								align-items: center;

								.num {
									font-family: "Figtree";
									font-size: 48px;
									font-weight: bold;
									font-style: italic;
									color: #ee7744;
									opacity: 0.5;
									margin-right: 33px;
									@include max {
										margin-right: 20px;
									}
								}
							}

							.reason-detail {
								font-weight: 500;
								color: #999;
								position: relative;
								padding-right: 15px;
								&::before {
									content: "";
									width: 8px;
									height: 8px;
									border-top: solid 2px #999;
									border-right: solid 2px #999;
									position: absolute;
									right: 0px;
									top: 50%;
									transform: rotate(45deg) translateY(-50%);
									transition: all 0.5s ease;
								}
							}
						}
					}
				}

				.reason-img {
					position: absolute;
					top: -100px;
					right: 0;
					width: min(538px, 40vw);
					z-index: -1;
					@include max {
						display: none;
					}
					img {
						width: 100%;
					}
				}
			}

			.banner {
				@include max {
					width: 90%;
					margin-inline: auto;
				}

				a {
					position: relative;
					display: block;
					max-width: 828px;
					margin-inline: auto;

					img {
						width: 100%;
						border-radius: 10px;
					}

					.banner-text-back {
						max-width: 484px;
						width: 80%;
						height: 60%;
						max-height: 120px;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						color: white;
						background: transparent
							linear-gradient(
								90deg,
								#00000000 0%,
								#00000099 50%,
								#00000000 100%
							)
							0% 0% no-repeat padding-box;

						.banner-text {
							position: relative;
							height: 100%;
							display: flex;
							align-items: center;
							justify-content: center;
							font-family: "Zen Old Mincho";
							font-weight: 400;
							font-size: clamp(2rem, 1.769rem + 1.03vw, 3rem);

							&::before,
							&::after {
								content: "";
								position: absolute;
								width: 100%;
								height: 1px;
								background: white;
							}
							&::before {
								top: 15px;
								@include max {
									top: 2vw;
								}
							}
							&::after {
								bottom: 15px;
								@include max {
									bottom: 2vw;
								}
							}
						}
					}
				}
			}
		}
	}
}
/*_____ section-back _____*/

._contents006 {
	background: url(/wp-content/uploads/2025/02/header.jpg);
	background-repeat: no-repeat;
	padding-block: 80px;
	margin-bottom: 100px;
	@include max {
		padding-block: 50px;
	}

	.wrap_s {
		h2 {
			font-size: clamp(1.625rem, 1.51rem + 0.51vw, 2.125rem);
			font-weight: bold;
			color: #000000;
			text-align: center;
		}

		p {
			text-align: center;
		}
	}

	._contents006_inner {
		._box1 {
			width: 100%;
			max-width: 828px;
			margin-inline: auto;
			padding-block: 60px;
			padding-inline: 1em;
			background: #ffffffb3 0% 0% no-repeat padding-box;
			backdrop-filter: blur(8px);
			outline: 2px solid white;
			outline-offset: -2px;

			.voice-list {
				width: 100%;
				max-width: 656px;
				margin-inline: auto;

				.voice-item {
					display: flex;
					align-items: center;
					margin-bottom: 25px;
					gap: min(32px, 4vw);
					position: relative;
					&:nth-child(2) {
						flex-direction: row-reverse;
						&::after {
							left: unset;
							right: 70px;
						}
					}
					&::after {
						content: "";
						position: absolute;
						bottom: 20px;
						left: 70px;
						height: 1px;
						width: 60%;
						max-width: 400px;
						background: #666;
						z-index: -1;
						@include max {
							bottom: 10px;
						}
					}

					img {
						border-radius: 50%;
						max-width: 140px;
						width: 100%;
						aspect-ratio: 1 / 1;
						object-fit: cover;
						object-position: center;
						box-shadow: 5px 5px 10px #0000004d;
						@include max {
							width: 30%;
						}
					}

					.voice-text {
						margin-bottom: 0;
						font-size: clamp(0.875rem, 0.788rem + 0.38vw, 1.25rem);
						font-weight: bold;
						line-height: 1.6;
					}
				}
			}

			.next-more1 {
				width: 100%;
				max-width: 656px;
				margin-inline: auto;
				padding: 0;
			}
		}
	}
}
/*_____ _contents006 _____*/

._contents007 {
	._contents007_inner {
		.wrap {
			.wrap_s {
				._box1 {
					ul {
						display: grid;
						grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
						gap: 32px;

						li {
							max-width: 312px;
							margin-inline: auto;

							img {
								width: 312px;
								height: 226px;
								object-fit: cover;
								margin-bottom: 20px;
								border-radius: 10px;
                @include max {
                  margin-bottom: 10px;
                }
							}

							.title {
								margin-bottom: 15px;
                @include max {
                  margin-bottom: 5px;
                }
							}

							p {
								font-size: 12px;
								font-weight: 400;
							}
						}
					}
				}
			}
		}
	}
}
/*_____ _contents007 _____*/
