/*
  拠点詳細、実績詳細、推移詳細、技術詳細、サポート詳細、受賞・実績詳細ページ用CSS
*/
@use "breakpoint" as *;

.under-pv {

  /*___ 拠点詳細、実績詳細、推移詳細、技術詳細、サポート詳細、受賞・実績詳細ページ共通 ___*/
	h2 {
		text-align: center;
		font-size: clamp(1.625rem, 1.51rem + 0.51vw, 2.125rem);
		color: #333;
		margin-bottom: 80px;
	}

	.location-button {
		background: #3366aa;
		color: white;
		display: block;
		text-align: center;
		width: 90%;
		max-width: 398px;
		margin-inline: auto;
		border-radius: 30px;
		margin-block: 120px;
    line-height: 1;
    @include max {
      margin-block: 60px;
    }
		&:hover::after {
			background: #3d7abb;
		}
	}

	.mv {
		position: relative;
		height: 426px;

		.back-img {
			height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;

			.title {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				text-align: center;
				font-size: clamp(2rem, 1.856rem + 0.64vw, 2.625rem);
				font-weight: var(--fw-bold);
        width: 94%;
			}
		}
	}
	/*====================== END OF MV ======================*/
  /*___ 拠点詳細、実績詳細、推移詳細、技術詳細、サポート詳細、受賞・実績詳細ページ共通 ___*/


	.location-wrap {
		max-width: 742px;
		width: 70%;
		margin-inline: auto 0;
		@include max {
			width: 100%;
		}
	}

	.location-top {
		margin-top: -600px;
		@include max {
			margin-top: unset;
		}
	}

	.location-menu {
		position: sticky;
		top: 100px;
		z-index: 9999;
		background: rgba(255, 255, 255, 1) no-repeat padding-box;
		box-shadow: 0px 3px 6px #00000029;
		max-width: 30vw;
		width: 280px;
		padding: 25px 20px 75px 20px;
		@include max {
			display: none;
			// max-width: 180px;
			// padding: 20px 20px 5px 10px;
			// background: rgba(255, 255, 255, .6) no-repeat padding-box;
		}

		.nav-title {
			position: relative;
			font-size: min(20px, 2vw);
			margin-bottom: 40px;
			width: fit-content;
			@include max {
				font-size: 16px;
			}
			&::after {
				content: "";
				position: absolute;
				bottom: -10px;
				left: -40px;
				width: 240px;
				height: 2px;
				background: #ee7744;
				@include max {
					width: 180px;
				}
			}
		}

		.parent-link,
		.child-link {
			&:hover {
				color: #ee7744;
			}
		}
		.parent-link {
			display: block;
			margin-bottom: 40px;
			width: fit-content;
			@include max {
				font-size: 14px;
			}
		}
		.child-link {
			font-family: "Figtree", "Noto Sans JP" !important;
		}

		ul {
			padding-left: 40px;
			width: fit-content;
			@include max {
				padding-left: 15px;
			}

			li {
				position: relative;
				margin-bottom: 30px;
				font-size: 12px;
				width: fit-content;
				&::before {
					content: "";
					position: absolute;
					top: 50%;
					left: -20px;
					height: 2px;
					width: 0;
					background: #ee7744;
					transition: width 0.3s ease;
				}
				&:hover::before {
					width: 10px;
				}
			}
		}
	}

	.location-top {
		position: relative;
		margin-bottom: 100px;
		@include max {
			transform: translateY(0);
		}
		&::before {
			content: "";
			position: absolute;
			z-index: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 240px;
			width: 100%;
			background: transparent linear-gradient(270deg, #ffffff 0%, #999999 100%)
				0% 0% no-repeat padding-box;
			opacity: 0.2;
		}
		.wrap_s {
			width: 94%;
			margin-inline: auto;
			.location-top-img {
        position: relative;
        z-index: 1;
				max-width: 656px;
				margin-inline: auto 0;
			}
		}

		.location-menu {
			position: sticky;
			top: 80px;
			background: #ffffff 0% 0% no-repeat padding-box;
			box-shadow: 0px 3px 6px #00000029;
			max-width: 280px;
			padding: 25px 90px 75px 20px;

			.nav-title {
				position: relative;
				font-size: 20px;
				margin-bottom: 40px;
				&::after {
					content: "";
					position: absolute;
					bottom: -10px;
					left: -40px;
					width: 240px;
					height: 2px;
					background: #ee7744;
				}
			}

			.parent-link,
			.child-link {
				&:hover {
					color: #ee7744;
				}
			}
			.parent-link {
				display: block;
				margin-bottom: 40px;
			}

			ul {
				padding-left: 40px;

				li {
					position: relative;
					margin-bottom: 30px;
					font-size: 12px;
					&::before {
						content: "";
						position: absolute;
						top: 50%;
						left: -20px;
						height: 2px;
						width: 0;
						background: #ee7744;
						transition: width 0.3s ease;
					}
					&:hover::before {
						width: 10px;
					}
				}
			}
		}
	}
	/*====================== END OF LOCATION TOP ======================*/

	.sales-support {
		.wrap_s {
			width: 94%;

			.sales-content {
				.sales-item {
					margin-bottom: 85px;
					@include max {
						margin-bottom: 60px;
					}

					h3 {
						font-size: clamp(1.125rem, 1.067rem + 0.26vw, 1.375rem);
						color: #333;
						background: #f5f5f5;
						padding: 5px 9px 6px;
						margin-bottom: 45px;
						@include max {
							margin-bottom: 30px;
						}
					}

					.sales-item-flex {
						display: flex;
						justify-content: space-between;
						align-items: center;
						gap: min(120px, 1vw);
						@include max {
							flex-direction: column;
							align-items: center;
						}

						.sales-item-img {
							max-width: 220px;
						}

						.sales-item-text {
							&:has(.only-text) {
								margin-inline: auto;
							}

							h4 {
								font-size: 16px;
							}

							p {
								font-size: 12px;
								font-weight: 400;
							}
							.only-text {
								font-size: clamp(1.875rem, 1.817rem + 0.26vw, 2.125rem);
								font-weight: bold;
								text-align: center;
								display: block;
								height: 100%;
								width: 100%;
								margin-bottom: 0;
							}

							.map {
								iframe {
									height: 100px;
									width: 400px;
									@include max {
										height: 200px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	/*====================== END OF SALES SUPPORT ======================*/

	.distribution {
		padding-block: 80px;
		background-image: url("/wp-content/uploads/2025/06/net-work_bg_img1.jpg");
		margin-bottom: 40px;

		.wrap_s {
			.distribution-list {
				max-width: 484px;
				margin-inline: auto;
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
				gap: 30px;
				margin-bottom: 40px;
				place-items: center;
				@include max {
					column-gap: 10px;
				}

				li {
					background: #fff;
					width: 140px;
					height: 42px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}

			.distribution-text {
				text-align: center;
			}
		}
	}
	/*====================== END OF DISTRIBUTION ======================*/

	.service-support {
		padding-block: 100px 245px;
		background-image: url("https://pv.hanwha-japan.com/wp-content/uploads/2025/06/net-work_bg_img2.jpg");
    @include max {
      padding-block: 100px;
    }

		.service-support-text {
			text-align: center;

      .large {
        font-size: clamp(1.875rem, 1.817rem + 0.26vw, 2.125rem);
      }
		}
	}
	/*====================== END OF SERVICE SUPPORT ======================*/

	.achievement,
	.transition,
	.technology,
	.support {
		.under-pv-list {
			max-width: 1280px;
			margin-inline: auto;

			li {
				display: flex;
				align-items: center;
				gap: min(120px, 10vw);
				width: 94%;
				margin-bottom: 100px;
				margin-inline: 0 auto;
				@include max {
					flex-direction: column;
					margin-inline: auto;
          margin-bottom: 80px;
				}
				&:nth-child(even) {
					flex-direction: row-reverse;
					margin-inline: auto 0;
					@include max {
						flex-direction: column;
						margin-inline: auto;
					}
				}

				img {
					width: 60%;
					max-width: 624px;
					@include max {
						width: 94%;
					}
				}

				.text-area {
					width: 40%;
					max-width: 400px;
					@include max {
						width: 94%;
					}

					.title {
						font-size: 20px;
						border-bottom: 1px solid #333;
						padding-bottom: 20px;
						margin-bottom: 20px;
						@include max {
							font-size: 18px;
						}
					}

					.annotation {
						font-size: 10px;
						font-weight: 400;
						margin-bottom: 30px;
						line-height: 1.6;
					}

					p {
						font-size: 14px;
						font-weight: 400;
						line-height: 2;
					}
				}
			}
		}
	}
	/*====================== END OF UNDER PV LIST ======================*/

	.award {
		.wrap {
      padding: 0;
			h2 {
				padding: 0 10px;
			}
			.award-list {
        margin-top: 100px;
				li {
					margin-inline: auto;
					margin-bottom: 90px;
          position: relative;
          @include max {
            margin-bottom: 130px;
          }
          &::after {
						content: "";
						position: absolute;
						top: 50%;
            left: 0;
						transform: translateY(-50%);
						z-index: 1;
						height: 200px;
						width: 96%;
            max-width: 1140px;
						background-image: url(../images/pv/under-pv/award_new_bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            @include max {
              width: 100%;
            }
					}
          &:nth-child(even) {
            &::after {
              left: unset;
              right: 0;
            }
            .list-wrap {
              flex-direction: row-reverse;
            }
					}
          &:nth-child(2) {
            &::after {
              transform: translateY(-50%) scaleX(-1) scaleY(-1);
            }
          }
          &:nth-child(4) {
            &::after {
              background-image: url(../images/pv/under-pv/award_old_bg.jpg);
            }
          }
          &:nth-child(5) {
            &::after {
              background-image: url(../images/pv/under-pv/award_old_bg.jpg);
              transform: translateY(-50%) scaleX(-1) scaleY(-1);
            }
          }

					.list-wrap {
						max-width: 656px;
            margin-inline: auto;
						display: flex;
						align-items: center;
						gap: min(32px, 11vw);
						position: relative;
						z-index: 2;
            @include max {
              gap: 10px;
              width: 96%;
							justify-content: center;
            }
					}

					img {
						max-width: 226px;
						width: 30%;
						aspect-ratio: 1/1;
            transform: translateY(-40px);
            @include max {
              transform: unset;
            }
					}

					.text-area {
						width: 60%;
						@include max {
							width: 70%;
						}

						.title {
							font-size: 20px;
							text-align: center;
							line-height: 1.5;
							@include max {
								font-size: 16px;
							}
						}

						.annotation {
							font-size: 10px;
							text-align: center;
						}
					}
				}
			}
		}
	}
  /*====================== END OF AWARD ======================*/

  .us-market {

    .wrap {

      .us-market-top {
        max-width: 656px;
        margin-inline: auto;
        display: grid;
        grid-template-columns: 1.8fr 1fr;
        place-items: center;
        gap: 32px;
        margin-bottom: 80px;
        @include max {
          grid-template-columns: 1fr;
        }

        img {
          @include max {
            width: 40%;
            min-width: 150px;
          }
        }

        .text-area {

          .title {
            font-size: 20px;
            margin-bottom: 5px;
          }

          p{
            font-size: 10px;
            line-height: 1.6;
            margin: 0;
            text-align: center;
          }
        }
      }

      .us-market-list {
        max-width: 1000px;
        margin-inline: auto;

        li {
          display: flex;
          align-items: center;
          justify-content: left;
          gap: 32px;
          border-bottom: 1px solid #CCC;
          padding-bottom: 40px;
          margin-bottom: 40px;
          @include max {
            flex-direction: column;
          }
          &:first-child {
            padding-top: 40px;
            border-top: 1px solid #CCC;
          }
          &:last-child {
            border-bottom: unset;
            margin-bottom: 60px;
          }

          .item {
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include max {
              width: 100%;
            }

            img {
              width: 140px;
              height: 140px;
              object-fit: contain;
              object-position: center;
              margin-bottom: 10px;
            }

            .text-area {
              text-align: center;

              .item-title {
                font-size: 16px;
                margin-bottom: 5px;
              }

              .text-blue {
                color: #3366AA;
              }
            }
          }

        }
      }
    }
  }
  /*====================== END OF US MARKET ======================*/

  .award-area {
    background-image: url(../images/pv/under-pv/award_list_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-block: 100px;

    
    h2 {
      margin-bottom: 40px;
    }

    .award-area-wrap {
      width: 100%;
      max-width: 656px;
      margin-inline: auto;
      background: white;
      padding: 80px 86px;
      @include max {
        width: 94%;
        padding: 10vw 7vw;
      }

      .award-area-item {
        margin-bottom: 80px;
        &:last-child {
          margin-bottom: 0;
        }

        .year {
          font-size: 20px;
          color: #EE7744;
          margin-bottom: 10px;
        }

        .title {
          font-weight: 400;
          line-height: 1.5;
          position: relative;
          padding-left: 30px;

          &::before {
            content: "";
            position: absolute;
            top: 2px;
            left: 0;
            background-image: url(../images/pv/under-pv/crown_icon.svg);
            background-size: contain;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            
          }
        }

        .annotation {
          font-size: 10px;
          font-weight: 400;
        }
      }
    }
  }
  /*====================== END OF US MARKET ======================*/
}
